[2016-05-03 06:00] dogi commented on #235
https://github.com/open-learning-exchange/BeLL-Apps/issues/245

[2016-05-03 06:01] dogi commented on #245
this is related to https://github.com/open-learning-exchange/BeLL-Apps/issues/235

[2016-05-03 09:30] SabaBaig opened #247 "MUI | On refreshing page over and over again language changes from bellLanguage to language in Configuration"

[2016-05-04 08:04] MuhammadWaqas05 opened #248 "Correction in community's survey page according to new functionality"

[2016-05-04 11:45] SabaBaig opened #249 "MUI | Same logins distort language at Nation"
At nation side,  when there are more than one members of same login though belonging to different bells (i.e they differ based upon their attribute of "community" in document) then when the "bellLanguage" attribute is fetched to render application in that particular language. Whichever document is on the top is fetched and hence one user is mistakenly displayed the language of another user of the

[2016-05-05 09:54] MuhammadWaqas05 commented on #242
https://github.com/open-learning-exchange/BeLL-Apps/commit/d39a5760de8681860a8fab031a3b7228264d0146
https://github.com/open-learning-exchange/BeLL-Apps/commit/0f7957c792409107e90cc1072e6c03d0d7b80c0b
https://github.com/open-learning-exchange/BeLL-Apps/commit/7942871e1ca94059f8107c6764f8d7fbef148fb2
https://github.com/open-learning-exchange/BeLL-Apps/commit/6826cad092bdabcca2456928b84dc000d4be450e

[2016-05-05 09:55] MuhammadWaqas05 commented on #248
https://github.com/open-learning-exchange/BeLL-Apps/commit/5c34a7f0b49afbe60b276767335ad4cc2c15e712
https://github.com/open-learning-exchange/BeLL-Apps/commit/d367a6403fafa5e3f3fc02693bd78cfdf0e3ea6f
https://github.com/open-learning-exchange/BeLL-Apps/commit/a0f0e442ff1c4081380ae721ded92b4c6428a29a

[2016-05-05 09:55] MuhammadWaqas05 commented on #234
https://github.com/open-learning-exchange/BeLL-Apps/commit/f7762b5b009b74c577d0dd83fb2a7bcc6342ce5a

[2016-05-05 11:35] SabaBaig commented on #243
https://github.com/open-learning-exchange/BeLL-Apps/commit/c37d5d6b4545eb7200888c9dc93efd5ab845936c
https://github.com/open-learning-exchange/BeLL-Apps/commit/2a6f10bd9ff58406de436b6ed39f105c9b5f6d92
https://github.com/open-learning-exchange/BeLL-Apps/commit/b1a3c0c7e39dc717844d609865d6dd19a98387b4

[2016-05-05 11:36] SabaBaig commented on #245
https://github.com/open-learning-exchange/BeLL-Apps/commit/7671f93bf5d675b144dfe1cccdbb4c9b174a29bf

[2016-05-05 12:43] dogi commented on #245
On my QA cycle all the "admin"s are squeezed out

https://github.com/dogi/ole--rpi-bells/tree/master/qa

[2016-05-09 06:25] SadiaRasheed commented on #243
https://github.com/open-learning-exchange/BeLL-Apps/commit/206d013cbfff80e1ec7bdb5f36eea2db409d2a39

[2016-05-09 11:31] SabaBaig commented on #245
https://github.com/open-learning-exchange/BeLL-Apps/commit/e39efde686bae93366cbbab0fddb8e260486df15

[2016-05-09 11:34] SabaBaig opened #251 "Courses | Create a leader-less course at nation-side"
- Everybody should be able to create courses.
- This Creator should be able enough to skip the leader name at the time of creating any course and yet specify course steps for that course; so as to send that course later-on to communities.

[2016-05-09 11:35] SadiaRasheed commented on #243
https://github.com/open-learning-exchange/BeLL-Apps/commit/33f73bf746e06268e7783ca70fca65cd8a8e9866

[2016-05-09 11:36] SabaBaig opened #252 "Courses | Specify leader(s) at community-side"
- Once a course is received as publication at community-side, manager(s) of that community should be able to specify course leader(s).
- Without creating more than one document in couch of that course against each leader.

[2016-05-09 11:36] SabaBaig opened #253 "Courses | Send emails to leader(s) for admission"
In case of more than one leaders for any course, to whom should be the email for admission in any course be sent?
One suggestion is to prompt from the learner that whom he want to send the email out of list of leaders for the course under-consideration.

[2016-05-09 11:37] SabaBaig opened #254 "Courses | Add/Update Leader(s) after course being created"
- Manager should be able to update the leader(s) for any course.

[2016-05-09 11:41] SabaBaig commented on #251
- Only manager(s) should be able to create courses.
- Manager(s) should be able enough to skip the leader name at the time of creating any course and yet specify course steps for that course; so as to send that course later-on to communities.

[2016-05-09 11:44] SabaBaig commented on #252
- Once a course is received as publication at community-side, manager(s) of that community should be able to specify course leader(s).

[2016-05-09 11:55] SabaBaig commented on #252
@dogi if we are specifying more than one leaders for any course, then in that case the question rises that which of the following scenario are we following??
- One course being managed by 2 leaders, both share the members. Its more like that one of them serves as an alternative option of other; in case he is sick
- One course is being managed by 2 leaders and each of them is maintaining his own se

[2016-05-09 12:09] SabaBaig commented on #245
Problem: On a fresh install of community and nation, once admin has logged in (with default configurations) then his "community" attribute is going to be set as say "TestCommunity" as in configurations-community.txt. Later on, if in that same session if community name and code is changed then admin won't be able to log in again.

[2016-05-10 05:59] dogi commented on #245
this is also on Community side:
- [x] Configurations Form should show up after fresh install
- [x] Configurations Form has to update the community of the "admin" when Field CODE is changed

[2016-05-11 05:41] umarWaris commented on #249
-For getting Language at Nation side, fetch all the documents with the same login as that of the cookie and then match community attribute to code attribute of configuration to correctly fetch the user language

[2016-05-12 05:32] SadiaRasheed opened #256 "Courses | 'Admission' button should show proper message in leader-less course"
In a leaderless course, when user clicks on admission button it should display a proper message e.g., "Email can't be sent as Leader has not been specified"

[2016-05-12 05:46] SabaBaig commented on #256
There is another suggestion that if some learner requests to become member of a leaderless course then he should be added to the course directly. @dogi please share your views on this.

[2016-05-12 05:51] SadiaRasheed opened #257 "Courses | All the leaders of a course should be able to manage that course"
- Make sure all leader(s) specified for any course can manage that course

[2016-05-12 06:08] SabaBaig commented on #254
@dogi at the moment, a leader cannot change the leader himself but he may resign from the course. As per the option provided in courseInfo page, see screenshot.
![Leader resigns from course](https://cloud.githubusercontent.com/assets/13994879/15205540/a04bbee2-1831-11e6-8687-821ade323020.PNG)

[2016-05-12 07:04] SabaBaig commented on #252
The "Select an Option" text does not seems to be of any use once after multiple selection is enabled so its text should be disabled for better UX.

[2016-05-12 07:07] umarWaris commented on #249
-refactor the code at both nation and community side for getting language correctly if the nation has 2 or more than 2 members with the same login

[2016-05-12 07:07] umarWaris commented on #249
https://github.com/open-learning-exchange/BeLL-Apps/commit/2e1ecb8fe91bfffa3772d075bd5f659d6dba5ddb

[2016-05-12 07:29] SabaBaig commented on #252
Another suggestion, so as to avoid selecting any false member as a Leader is to display only those members who belong to the given bell.
https://github.com/open-learning-exchange/BeLL-Apps/commit/64c0e8fb0a2168bedd8fec5db0c11d49a4540dfb

[2016-05-12 11:31] MuhammadWaqas05 commented on #241
https://github.com/open-learning-exchange/BeLL-Apps/commit/b0c34996c5c908720de19ae84b9e4b96feebd3ea

[2016-05-12 11:41] SabaBaig commented on #245
https://github.com/open-learning-exchange/BeLL-Apps/commit/a0c21188ffbaabb6d907b7f4103bbd85e6338e17
https://github.com/open-learning-exchange/BeLL-Apps/commit/31248e7a9359adea3c9b857a4fcaed3d6dbe78b7
https://github.com/open-learning-exchange/BeLL-Apps/commit/b093552e12a6cb10f2d7e7851fa4e8ac3d53d1d8

[2016-05-12 11:42] SadiaRasheed commented on #251
- leaderless courses are being created already in Courses.
- The Creator is able to skip leader name at the time of creation

[2016-05-12 11:43] SadiaRasheed commented on #252
Select multiple leaders and update the course
https://github.com/open-learning-exchange/BeLL-Apps/commit/e9de21ef52f7435d8775e1b52688b69900db08ea

[2016-05-12 11:43] SabaBaig commented on #252
[Select Multiple Leaders on Course/add](https://github.com/open-learning-exchange/BeLL-Apps/commit/a038995c3b15bdae7b0123926a3e1a379caa39ff)

[2016-05-12 11:48] SadiaRasheed commented on #257
Multiple leaders of a course are now able to manage that  course
https://github.com/open-learning-exchange/BeLL-Apps/commit/8fac89b2cdc4cb5cad41d5144cefb7aac4e0547c

[2016-05-12 11:51] SabaBaig commented on #252
Problem: Each time select an option is selected in course leader's place and we click on continue /update a member with 0000 ID is added into member of that course.

[2016-05-12 12:14] #243 closed, assigned to SadiaRasheed

[2016-05-12 12:46] #242 closed, assigned to MuhammadWaqas05

[2016-05-12 12:49] dogi opened #258 "Survey | sort questions"

[2016-05-12 12:50] dogi commented on #258
- [x] display them in the order they was created

bonus
- [x] rearrange them ...

[2016-05-12 13:15] dogi opened #259 "Survey | add belllanguage to CSV"

[2016-05-12 18:52] #235 closed, assigned to MuhammadWaqas05

[2016-05-12 18:53] #236 closed, assigned to MuhammadWaqas05

[2016-05-12 18:53] #248 closed, assigned to MuhammadWaqas05

[2016-05-12 18:53] #240 closed, assigned to MuhammadWaqas05

[2016-05-12 18:53] #241 closed, assigned to MuhammadWaqas05

[2016-05-13 05:56] MuhammadWaqas05 commented on #259
https://github.com/open-learning-exchange/BeLL-Apps/commit/7fe5fd149286fa94cc6e9db65ecbae9478b4fef2

[2016-05-16 05:04] MuhammadWaqas05 opened #260 "JQuery breaks when there is a new line in question statement"

[2016-05-16 06:46] MuhammadWaqas05 commented on #260
https://github.com/open-learning-exchange/BeLL-Apps/commit/af4591177dbe585ec6fca64b81cb42b1b12dd476

[2016-05-16 06:52] SabaBaig opened #262 "Courses | Missing leaderName"
- In case of course having multiple leaders the course detail page is not showing up leaders names and rather says "undefined undefined".
- All leaders of any course are not pre-selected when you click on manage button for any course.

[2016-05-16 09:39] umarWaris commented on #262
![course page](https://cloud.githubusercontent.com/assets/17467658/15285968/f20ad9d0-1b73-11e6-9efa-83c4a6df309f.PNG)

[2016-05-16 09:40] umarWaris commented on #262
leader detail is separated by comma(,). e.g in case of more than 1 leader their names, emails, phone numbers would be separated by comma

[2016-05-16 09:41] umarWaris commented on #262
If the email or phone number does not exist or empty then this would be replaced by (-)

[2016-05-16 10:28] umarWaris commented on #262
![capture](https://cloud.githubusercontent.com/assets/17467658/15287217/c8c30258-1b7a-11e6-9585-6f74ee7b344b.PNG)

[2016-05-16 10:58] MuhammadWaqas05 opened #263 "Require Answer functionality is not working"

[2016-05-16 11:21] SadiaRasheed opened #264 "Courses | Reject button is not working"
When a member clicks on " Admission" button to join a course, an email is send to the Leader of that course.
If course leader wants to reject the email then " Reject" button does not work and throws an error on console

[2016-05-16 11:54] MuhammadWaqas05 commented on #258
https://github.com/open-learning-exchange/BeLL-Apps/commit/967bd6ff48659b2564f032655cdd67c6b56ed190

[2016-05-16 11:55] MuhammadWaqas05 commented on #263
https://github.com/open-learning-exchange/BeLL-Apps/commit/33dbbf1856ef01f09ca5dfb3568d96b4afc92592

[2016-05-16 13:32] SadiaRasheed commented on #257
Multiple leaders should be able to see the progress of a course.

[2016-05-16 13:34] SadiaRasheed commented on #257
https://github.com/open-learning-exchange/BeLL-Apps/commit/db6d117c84696745e6f4dd1d15267b94a9488f9f

[2016-05-16 13:40] SadiaRasheed commented on #253
If there are multiple leaders of a course then email should be sent to all of them.
@dogi: What will happen if there are two leaders of a course and one accepts the request but other leader "rejects" it.
Please share your views on this?

[2016-05-16 13:42] SadiaRasheed commented on #256
@dogi: If there is no leader of a course then email should be sent to the "manager"/"managers" of that course. What do you say?

[2016-05-17 04:25] SabaBaig commented on #252
https://github.com/open-learning-exchange/BeLL-Apps/commit/ed9d8c57006c334e4201debb73ccaed32796a7bd

[2016-05-17 04:47] umarWaris commented on #262
https://github.com/open-learning-exchange/BeLL-Apps/commit/6c60396684b775b50be7200d735391feab23f95e

[2016-05-17 04:48] umarWaris commented on #262
https://github.com/open-learning-exchange/BeLL-Apps/commit/6c60396684b775b50be7200d735391feab23f95e

[2016-05-17 05:59] SabaBaig commented on #256
Email to every manager of that community if there is no leader

[2016-05-17 09:42] umarWaris commented on #262
![capture](https://cloud.githubusercontent.com/assets/17467658/15318046/94ff26fe-1c3d-11e6-8f1b-d971b4151dd1.PNG)

[2016-05-17 09:56] umarWaris commented on #262
https://github.com/open-learning-exchange/BeLL-Apps/commit/b201f53e34128e6776dd903a642987363b3fc7bc

[2016-05-17 12:29] SabaBaig opened #265 "Courses | Leader Resignation needs to be corrected"
The current implementation of Course resignation functionality does not removes the ID of that leader from the document of that course.

[2016-05-18 06:14] SabaBaig opened #266 "Hide/Unhide button on Resources is malfunctioning"
It is observed that the "Hide/Unhide" button doesn't work on first click, as on first click the spinning wheel goes on spinning. The action is performed when you click on it for the second time.Such malfunctioning was seen on v0.12.12 and correct behavior can be found on v0.12.3. Meanwhile, from which release the issue actually started occurring  is still unknown.

[2016-05-18 06:21] SadiaRasheed commented on #253
If any of the leaders has accepted the Admission request email then the member will be granted admission of that course. There is OR operator working here.

[2016-05-18 06:28] SadiaRasheed commented on #253
commit links
https://github.com/open-learning-exchange/BeLL-Apps/commit/2263ba2bfa2e4ba0fc11c5e01dc557d9da7bf479
https://github.com/open-learning-exchange/BeLL-Apps/commit/2263ba2bfa2e4ba0fc11c5e01dc557d9da7bf479

[2016-05-18 11:00] SadiaRasheed commented on #256
https://github.com/open-learning-exchange/BeLL-Apps/commit/6863e8c5015ff69f691b3b1a187ab366b13a06cd
https://github.com/open-learning-exchange/BeLL-Apps/commit/5a4b01e6be9226273234c0ada459c5a19b170c5c
https://github.com/open-learning-exchange/BeLL-Apps/commit/dd55adbc7bb9535f59af0c906da4e812c1a624b7
https://github.com/open-learning-exchange/BeLL-Apps/commit/c3e9e5ddafdecc2149b0217c640498c904bb5a0d

[2016-05-19 09:21] SabaBaig opened #267 "Courses | Course Steps do not show up at once"

[2016-05-19 09:23] SabaBaig opened #268 "Courses | Ambiguous "Invalid Allowed Errors" message"
When you add values into the form of Courses>>Add Steps then there comes an alert when you do not enter correct values for allowed errors. The alert does not guides the user the correct criteria to follow. It should be more descriptive.

[2016-05-19 09:24] SabaBaig opened #269 "Courses | Incorrect text in invite email's body"
When any user receives the invite email for course then after submitting his response in the form of Accept/Reject the user is delivered an incorrect message that does two things
- Displays wrong name of Sender
- From more technical point of view its not following rules of MUI.
  Please see attached screenshot for more details and resolve this issue for both Accept and Reject cases.
  ![Incorrect

[2016-05-19 09:54] SabaBaig commented on #265
This issue is resolved now and can be found on following Github Commit link,
[Course Resignation Corrected](https://github.com/open-learning-exchange/BeLL-Apps/commit/954a35ab2b0edef95b023bc1723fcf8b69435b2e)

[2016-05-19 10:09] SabaBaig opened #270 "Courses | Duplicate members in case of Multiple Leaders"
When one user sends request for admission in one course. Course has multiple leaders. Then If all the leaders accept that invitation then that user is duplicated each time a leader accepts the request.
**Proposed Solution**
_At the time of accepting or rejecting admission request it should check whether that person is already added to course or not and thus notify the current leader_

[2016-05-19 10:20] SabaBaig opened #271 "Courses | Course Steps not appearing for multiple Leaders"
Under the route of **usercourse/details** the course steps only show up for first leader only not multiple.

[2016-05-19 10:23] SabaBaig opened #272 "Courses | Delete members button is hidden"
At the moment, the button to evict the members from any course is not appearing for anyone.
_Ideally, it should appear for all manager(s) and leader(s)._

[2016-05-19 10:27] umarWaris commented on #266
https://github.com/open-learning-exchange/BeLL-Apps/commit/db014f9df020b9f00f2481f24abec5dfcb289022

[2016-05-19 10:28] SabaBaig commented on #257
@dogi Can you please guide us how the progress of any member(including leaders and creator) was managed in courses?
Since, it is creating a problem when you add course step and then delete them. The ones who were added before the deletion of step are not updated but the afterwards added new members get updated course steps and hence maintain their progress accordingly.

---

Also, Please tell us h

[2016-05-19 10:29] SabaBaig commented on #257
Until now the implementations are on following Github Commit links against Course Progress,
https://github.com/open-learning-exchange/BeLL-Apps/commit/de43e9a9a11eea4be29fd861ca6402f5f2dc4464
https://github.com/open-learning-exchange/BeLL-Apps/commit/73c9552f04fa4f4a836b55886807f8e64b8d0e09

[2016-05-20 18:48] dogi opened #273 "Survey: Non-English languages text in csv should be human readable"
Wonder what the right encoding will look like. Anyhow right now it is not human readable ...
![15-1](https://cloud.githubusercontent.com/assets/13684059/15438390/f2ad9110-1e99-11e6-9e57-63d1d3fa7384.png)

[2016-05-21 01:51] #259 closed, assigned to MuhammadWaqas05

[2016-05-21 01:53] #239 closed, assigned to umarWaris

[2016-05-23 07:05] SadiaRasheed commented on #264
Reject button is working fine and showing the text for rejected email reply.
https://github.com/open-learning-exchange/BeLL-Apps/commit/54a8ff9440b5bf56d0e216c06289c7b881e70383

[2016-05-23 10:34] SadiaRasheed opened #276 "Courses | show message to others if any of the leaders accepts admission request"
If any of the leaders has accepted the Admission request email then the member will be granted admission of that course. There is OR operator working here. A message will be shown to other leaders in case they click on reject/accept button to respond to admission request email.

[2016-05-24 06:29] dogi commented on #249
this is also solving issue https://github.com/open-learning-exchange/BeLL-Apps/issues/247

[2016-05-24 06:30] dogi commented on #247
this isse was moved into issue https://github.com/open-learning-exchange/BeLL-Apps/issues/249

[2016-05-24 06:46] dogi commented on #273
http://syriabell.ole.org

[2016-05-24 08:40] sente commented on #273
After digging this a little bit, I think the problem is because of the `escape(CSV)` method, see:

https://github.com/open-learning-exchange/BeLL-Apps/blob/967bd6ff48659b2564f032655cdd67c6b56ed190/app/nation/app/Router.js#L3537

_(edited for permalink)_

[2016-05-24 08:41] sente commented on #273
without the escape: http://sente.cc/c/S5kS/without_escape.csv

[2016-05-26 11:25] SadiaRasheed commented on #276
https://github.com/open-learning-exchange/BeLL-Apps/commit/63a8189a25ee3da3139e13107bba476302274fd3
https://github.com/open-learning-exchange/BeLL-Apps/commit/bef6eded9f5ad04485b6b8548daa3b35840ecd67
https://github.com/open-learning-exchange/BeLL-Apps/commit/4aff1974cae0a509de45a5b085b2bf8edf77d1a5
https://github.com/open-learning-exchange/BeLL-Apps/commit/04f5f8f360f3bb5f719c521f53c89c11486504eb

[2016-05-26 11:28] SabaBaig commented on #272
https://github.com/open-learning-exchange/BeLL-Apps/commit/a61dffe669c650a5679213f084edcc7d411c6c47

[2016-05-26 11:29] SadiaRasheed commented on #264
https://github.com/open-learning-exchange/BeLL-Apps/commit/26e442a8d35c4320649b752248d36dfa515fdd37

[2016-05-26 11:35] umarWaris commented on #268
Title, Description and Allowed Errors are necessary fields on the add step form

[2016-05-26 11:36] umarWaris commented on #268
Now the respective message would be shown to the user if not filled

[2016-05-26 12:51] dogi opened #277 "Survey: Unanswered"
No answers in this survey is not enough when nothing was select before submitting

[2016-05-27 04:47] umarWaris commented on #268
https://github.com/open-learning-exchange/BeLL-Apps/commit/4d823028424f0f3daf58e0d22b940d65299e1dc8
https://github.com/open-learning-exchange/BeLL-Apps/commit/30cd9a4a1588ffd59a779b2e480fe594aa3bf146

[2016-05-30 12:35] SabaBaig commented on #271
After doing R&D on this issue, it was found that the **memberprogress** document was not being saved correctly for those members and hence it was related to [Issue#257](https://github.com/open-learning-exchange/BeLL-Apps/issues/257)

[2016-05-30 12:37] SabaBaig commented on #257
Member progress revisited to solve
[Related to Issue#271](https://github.com/open-learning-exchange/BeLL-Apps/commit/b56fd70776d448f829e09883a86400b5d3b21118)

[2016-05-30 12:39] SabaBaig commented on #252
Improved the selection of Course Leader
[Union Operation on courseLeader selection](https://github.com/open-learning-exchange/BeLL-Apps/commit/0405f5c70082af7f3c8eb743af38361ba6b92a7f)

[2016-05-30 12:58] SadiaRasheed commented on #269
https://github.com/open-learning-exchange/BeLL-Apps/commit/5a34bde4a085616a5f2e622cf4f08691af22e57e

[2016-05-30 12:58] SadiaRasheed commented on #270
https://github.com/open-learning-exchange/BeLL-Apps/commit/d2516d1acb02358ae93eb3842d65e0f158581a8d

[2016-05-31 04:41] umarWaris commented on #267
https://github.com/open-learning-exchange/BeLL-Apps/commit/1843e698150c3484aa84c22c981db0ebdb60ae34

[2016-05-31 10:52] SabaBaig commented on #265
Considering the scenario of multiple leaders in courses, it is suggested to add following enhancements,
Manager can also remove any leader from course, by visiting the members page for any course and there will be one additional column as Roles. So, whenever a manager clicks on Remove button against a member with Role of Leader, he can thus remove leader.

[2016-06-01 05:23] MuhammadWaqas05 commented on #273
https://github.com/open-learning-exchange/BeLL-Apps/commit/4c154e2f11b4317bd3a36bd0e1cca53a9a627de0

[2016-06-01 16:40] i5o commented on #49
Hello? D: I don't remember what I was supposed to do

[2016-06-02 05:32] MuhammadWaqas05 opened #280 "MUI | Send to bell members button functionality on survey detail page"

[2016-06-02 05:33] MuhammadWaqas05 opened #281 "MUI | Get members list button functionality"

[2016-06-02 05:34] MuhammadWaqas05 opened #282 "MUI | Send by criteria button functionality"

[2016-06-02 05:35] MuhammadWaqas05 opened #283 "MUI | Members survey page"

[2016-06-02 11:45] SabaBaig commented on #265
https://github.com/open-learning-exchange/BeLL-Apps/commit/976863b244e09beb8d56be78a200de0ad9792cbc
https://github.com/open-learning-exchange/BeLL-Apps/commit/da74256ea24d8f38d312ab6156c31486d01602a2

[2016-06-02 11:45] MuhammadWaqas05 commented on #277
https://github.com/open-learning-exchange/BeLL-Apps/commit/80c1cbe66d2d75647944f26cdbae4b4025276905

[2016-06-02 12:42] dogi opened #284 "Survey: should be Arabic ready"
![18-1](https://cloud.githubusercontent.com/assets/13684059/15745070/e86f893e-289d-11e6-8c7e-5f38f2bc3968.png)

[2016-06-03 05:08] MuhammadWaqas05 opened #286 "Overhaul of Community registration with nation"
- After completing the procedure of "Become an admin(As described in Issue#287)" and  successful login, a member should be redirected to “Set Configurations” page to fill up all of the necessary information related to his community and get his community registered with any nation.
  - On this page user should be provided ability to select the nation to which he wants to connect to.
  - The list of

[2016-06-03 05:09] MuhammadWaqas05 opened #287 "On newly installed community, render "Become an admin" page"
For the first time, when a user successfully completes the installation process he should be redirected to “Become a member/admin” page instead of “login page” to make a login for himself.

[2016-06-03 05:10] MuhammadWaqas05 opened #288 "Make BeLL-Apps more easy to install"
Refer to following document for further details,
https://docs.google.com/a/northbaysolutions.net/document/d/1EwyepvC2clNaUyk568_nuhr9u_xmx_vknPEnRqFQccs/edit?usp=sharing

[2016-06-03 05:46] umarWaris commented on #280
Before
![capture](https://cloud.githubusercontent.com/assets/17467658/15818984/dbfbefe4-2bf9-11e6-88b1-d78c61512648.PNG)

After

![capture](https://cloud.githubusercontent.com/assets/17467658/15819088/7e2521fa-2bfa-11e6-82ae-efa4c17e7ee1.PNG)

[2016-06-03 07:01] SabaBaig opened #289 "Courses | Correct "Open Paper""
- Currently, when a document is uploaded under "Upload Paper" and user tries to open that document then it  opens a json document in browser. Which is an error. It should be like **Download Paper** instead of **Open Paper**.
- Secondly, when someone clicks on **Download Paper**, it should be downloaded automatically to that user's machine.

[2016-06-03 07:02] umarWaris commented on #283
Before

![capture](https://cloud.githubusercontent.com/assets/17467658/15819479/d333baba-2bfc-11e6-9a7b-c42dcb27e1f2.PNG)

After

![capture](https://cloud.githubusercontent.com/assets/17467658/15771277/ff7efb42-2982-11e6-8ca5-76fe3b46f9fb.PNG)

[2016-06-03 07:05] SabaBaig opened #290 "Courses | Course Step | Evaluation of Paper"
At leader side, what should be the workflow of giving credits to any paper?

[2016-06-03 07:08] SabaBaig opened #291 "Courses | Remove "Allowed Errors""
![issue291](https://cloud.githubusercontent.com/assets/13994879/15778054/34c8c8ee-29ad-11e6-92f2-a4f11a05075d.png)

[2016-06-03 07:09] SabaBaig opened #292 "Email | Suggest Recipients in Compose button"

[2016-06-03 07:10] SabaBaig opened #293 "Courses | Make "Add Question" in Courses similar to Survey"
Allow all four basic question types to be added in Quiz of Courses just like in Survey.

[2016-06-03 09:40] SadiaRasheed opened #294 "Courses | Change orientation of "Upload Paper" button"
![issue1](https://cloud.githubusercontent.com/assets/10362799/15775044/2b9900e0-2999-11e6-8ac2-1343195401e3.PNG)

[2016-06-03 09:43] SadiaRasheed opened #295 "Courses | Remove small grey button from course step against passing percentage"
![issue2](https://cloud.githubusercontent.com/assets/10362799/15775111/95ca348e-2999-11e6-8b72-8de06b5f7ecc.PNG)

[2016-06-03 09:45] SadiaRasheed opened #296 "Courses | Remove "Upload Quiz" button in course step for Learner"
![issue3](https://cloud.githubusercontent.com/assets/10362799/15778586/8d466348-29b0-11e6-887c-aac75ed44da7.PNG)

[2016-06-03 09:46] SadiaRasheed opened #297 "Courses | Put a check-mark when document is uploaded"
- There should be a checkmark in course step to show that user has uploaded paper
- At the moment, we're saying that when user will submit some document. His step should be cleared. (If that step involves not quiz but a paper only)

[2016-06-03 09:49] SadiaRasheed opened #298 "Courses | Make "Open" button text white"
Open button text is darker and it is not visible

[2016-06-03 09:52] SabaBaig opened #299 "Course | Correct the "Paper Progress""
The orientation of papers submitted against any step should be corrected. The paper submitted should appear underneath the leader/learner who submitted it.
![Issue#299](https://cloud.githubusercontent.com/assets/13994879/15777079/25b402d0-29a6-11e6-95b5-17abfb40744b.png)

[2016-06-03 09:54] SadiaRasheed opened #300 "Courses| Put text "Take Quiz" on the button in course step"
![issue7](https://cloud.githubusercontent.com/assets/10362799/15775474/8fc3286e-299b-11e6-8aa3-c58914ab095d.png)
Also change it's orientation and put it in blue area against Quiz.
Remove small green button against Passing Percentage

[2016-06-03 09:56] SadiaRasheed commented on #294
It should be entirely in blue area

[2016-06-03 10:01] SadiaRasheed opened #301 "Courses | Correct orientation of "Take Quiz" button"
![issue4](https://cloud.githubusercontent.com/assets/10362799/15775588/1bd7d502-299c-11e6-9b1c-41cd8205f7f0.PNG)

[2016-06-03 11:30] umarWaris commented on #281
Before

![capture](https://cloud.githubusercontent.com/assets/17467658/15819296/cc805896-2bfb-11e6-9822-d81d380bf703.PNG)

After

![capture](https://cloud.githubusercontent.com/assets/17467658/15819341/16b80b34-2bfc-11e6-8a00-0f8cfb44d6c5.PNG)

[2016-06-03 12:01] SabaBaig commented on #297
![issue297](https://cloud.githubusercontent.com/assets/13994879/15777989/c288e6d8-29ac-11e6-98a9-9b34ceda83df.png)

[2016-06-03 12:03] SabaBaig commented on #292
![issue292](https://cloud.githubusercontent.com/assets/13994879/15778032/17317254-29ad-11e6-9eb0-62025523544f.png)

[2016-06-03 12:06] SabaBaig commented on #289
Way to open a paper
![issue289](https://cloud.githubusercontent.com/assets/13994879/15778098/82806240-29ad-11e6-8503-7d7c81cf92a5.png)

[2016-06-04 08:19] #266 closed, assigned to umarWaris

[2016-06-04 08:19] #245 closed, assigned to SabaBaig

[2016-06-04 08:19] #249 closed, assigned to umarWaris

[2016-06-04 08:20] dogi commented on #258
first part is already succesful QA'ed

now ready for second part

[2016-06-06 09:44] umarWaris commented on #282
Before

![capture](https://cloud.githubusercontent.com/assets/17467658/15819413/6461d78e-2bfc-11e6-8459-63a8f9ceb4d0.PNG)

After

![capture](https://cloud.githubusercontent.com/assets/17467658/15818155/1f02cbaa-2bf5-11e6-8116-b12bb9130508.PNG)

[2016-06-06 10:40] umarWaris commented on #280
https://github.com/open-learning-exchange/BeLL-Apps/commit/32d89fdae88aa5b32c1129c076f9ef6d2527300b

[2016-06-06 10:41] umarWaris commented on #281
https://github.com/open-learning-exchange/BeLL-Apps/commit/aef5b00845934e8ca9aa219c21464c9419587120

[2016-06-06 10:41] umarWaris commented on #282
https://github.com/open-learning-exchange/BeLL-Apps/commit/b4e8318e1c7b76391f7172580916349aed8bb0b9

[2016-06-06 10:42] umarWaris commented on #283
https://github.com/open-learning-exchange/BeLL-Apps/commit/4e32f38dc4fcbb3fa0e37bdcdb9904c1b4445956

[2016-06-06 15:36] dogi commented on #49
You are doing it already https://rawgit.com/i5o/i5o.github.io/htmlresources/ll_CC/#!pages/htmlresources.md

[2016-06-07 04:42] MuhammadWaqas05 commented on #286
https://github.com/open-learning-exchange/BeLL-Apps/commit/410f207c15583a73523b1f0415ba6c1c881d1df3
https://github.com/open-learning-exchange/BeLL-Apps/commit/e782fcb23eaaa878b5c9f4d116eca9ab815e5cfb

[2016-06-07 04:56] SabaBaig commented on #284
same as https://github.com/open-learning-exchange/BeLL-Apps/issues/283

[2016-06-07 05:01] #277 closed, assigned to MuhammadWaqas05

[2016-06-07 05:01] #284 closed, assigned to nobody

[2016-06-07 07:16] SabaBaig commented on #289
In order, to solve this issue, the per-requisite of this issue should be solved first.
https://github.com/open-learning-exchange/BeLL-Apps/issues/299

[2016-06-07 11:09] umarWaris commented on #294
![capture](https://cloud.githubusercontent.com/assets/17467658/15855669/335fe12a-2cca-11e6-9be6-0ce4a23a59c5.PNG)

[2016-06-07 11:20] umarWaris commented on #294
https://github.com/open-learning-exchange/BeLL-Apps/commit/3650fc0a44c6d11a167f8ec865214dcc2b3b05b6

[2016-06-08 02:57] dogi opened #303 "Survey | resolve misleading admin download"
The problem is that admin download the new survey and then click onto the open button and wonder why they can't submit the answers

How do we differentiate this view from the actual survey?

[2016-06-08 03:28] sente commented on #303
Perhaps we should say something along the lines: _This is how the survey will appear to users_.

[2016-06-08 05:11] MuhammadWaqas05 commented on #303
![commsurveys](https://cloud.githubusercontent.com/assets/10882476/15883681/f36826e6-2d63-11e6-9e9d-77f29f64c983.PNG)

@dogi The above is the page you are talking about contains the surveys which community receives from nation.Admin will download a survey on this page and also can see the content of survey.If downloaded survey is also for admin then it will be shown to him and he can submit by ope

[2016-06-08 07:18] dogi commented on #303
@MWakas yes I know
I think @sente is on the right path

Can we just add his line somewhere on this view where the admin can see which survey he downlaoded

[2016-06-08 07:42] MuhammadWaqas05 commented on #303
@dogi yes sure, we can add that line on this view.That will be more helpful for users to understand the purpose of this page.

[2016-06-08 07:48] umarWaris commented on #296
https://github.com/open-learning-exchange/BeLL-Apps/commit/1ba4de421bc1817a51fff9a79a422fc0b54764bd

[2016-06-08 09:34] SadiaRasheed opened #304 "Courses | Remove "Take Paper" button in course step for learners"
![take paper](https://cloud.githubusercontent.com/assets/10362799/15890051/3be6fc30-2d87-11e6-8220-dd6105a6f9b1.png)
![take paper2](https://cloud.githubusercontent.com/assets/10362799/15890136/8f7c2e9c-2d87-11e6-80ad-9b9fc1f49dbe.png)

[2016-06-08 10:02] SadiaRasheed commented on #300
![300-n](https://cloud.githubusercontent.com/assets/10362799/15890626/f49b3a50-2d89-11e6-89ee-ffad227faa6d.PNG)

[2016-06-08 10:02] SadiaRasheed commented on #300
https://github.com/open-learning-exchange/BeLL-Apps/commit/c3d1695ac0e808f2aed7113f25c721242dafc964

[2016-06-08 10:18] SadiaRasheed commented on #300
![take paper2](https://cloud.githubusercontent.com/assets/10362799/15891067/333f5564-2d8c-11e6-806f-d1fd3f227500.png)

[2016-06-08 10:31] SadiaRasheed commented on #298
https://github.com/open-learning-exchange/BeLL-Apps/commit/d575fc502c4a6194c8bfc65c4fc25750ff2c2f51

[2016-06-08 10:31] SadiaRasheed commented on #301
https://github.com/open-learning-exchange/BeLL-Apps/commit/a4274b6a66a9405803cb4278131c9d8773ba2a5d

[2016-06-08 10:46] SadiaRasheed commented on #291
https://github.com/open-learning-exchange/BeLL-Apps/commit/3534d89192ef704d1228d9831cfa45fd3f847f2e

[2016-06-08 10:46] SadiaRasheed commented on #291
![allowed erros](https://cloud.githubusercontent.com/assets/10362799/15891891/35541fb6-2d90-11e6-93eb-2a6861709dde.PNG)

[2016-06-08 10:48] SadiaRasheed commented on #301
https://github.com/open-learning-exchange/BeLL-Apps/commit/a4274b6a66a9405803cb4278131c9d8773ba2a5d

[2016-06-08 10:48] SadiaRasheed commented on #301
![oro](https://cloud.githubusercontent.com/assets/10362799/15891966/7fa358ca-2d90-11e6-8f2a-6af686b7973e.PNG)

[2016-06-08 10:49] SadiaRasheed commented on #301
![oro](https://cloud.githubusercontent.com/assets/10362799/15891991/9ba13fe2-2d90-11e6-9e49-3496f609cc88.PNG)

[2016-06-08 10:52] SadiaRasheed commented on #304
https://github.com/open-learning-exchange/BeLL-Apps/commit/73ea6b38bce8230b4101ee6ff5a5b64b1a3c25e5

[2016-06-08 10:52] SadiaRasheed commented on #304
It is related to #300
4398db7

[2016-06-08 10:53] SadiaRasheed commented on #304
![take paper removed](https://cloud.githubusercontent.com/assets/10362799/15892064/2946d06e-2d91-11e6-8541-9ca471884f24.png)

[2016-06-08 11:13] SadiaRasheed commented on #296
https://github.com/open-learning-exchange/BeLL-Apps/commit/103de2ca15cd5dd935e5c29eda79cc3e3da7dc0c

[2016-06-08 12:55] MuhammadWaqas05 commented on #303
This issue is resolved. Here you can view commits on Github:
https://github.com/open-learning-exchange/BeLL-Apps/commit/aec4caa87fb934b39b9a370d2816355a81c813e2
https://github.com/open-learning-exchange/BeLL-Apps/commit/88384ce09b29f18be8e9d09ff36abfa532462f1a

[2016-06-08 14:24] sente commented on #303
Thanks for the quick turnaround, @MWakas!

The screenshots are really helpful in understanding the situation.

Could you include a final screenshot of how this message is displayed on the page?

Also, is the `*` intentional the message: `This is how the survey will appear to users.*"?`

[2016-06-09 05:10] MuhammadWaqas05 commented on #303
@sente Thanks for your nice feedback. Here is the screenshot with message on that page:

![surveymsg](https://cloud.githubusercontent.com/assets/10882476/15919379/39e4a0ce-2e2a-11e6-9311-9562ef5e5783.PNG)

If you want to change the message, we will change it for sure.

[2016-06-09 07:31] SadiaRasheed commented on #296
https://github.com/open-learning-exchange/BeLL-Apps/commit/6e1976fb8c6dc106275c1018e33e4230c8fa41f1

[2016-06-09 07:32] SadiaRasheed commented on #291
https://github.com/open-learning-exchange/BeLL-Apps/commit/6e1976fb8c6dc106275c1018e33e4230c8fa41f1

[2016-06-09 07:34] SadiaRasheed commented on #291
There was a ripple effect due to removal of allowed errors, course steps were not being opened. So we had to clean the code up to make the course steps work properly.

[2016-06-09 07:46] SabaBaig commented on #289
Please also handle the "No attachment" error properly (i.e it should not say no attachment on just file extension error) and make sure that the document is also saved into the database.

[2016-06-09 07:47] SadiaRasheed commented on #298
https://github.com/open-learning-exchange/BeLL-Apps/commit/a02a93e0b6006c1ef6651d8224f7d8e345d4e403
There was another Open button for instructions and I added code for that too

[2016-06-09 07:47] SadiaRasheed commented on #298
![open button text](https://cloud.githubusercontent.com/assets/10362799/15922296/5fabba52-2e40-11e6-9887-d0393f228803.PNG)

[2016-06-09 07:48] SadiaRasheed commented on #298
![open button text](https://cloud.githubusercontent.com/assets/10362799/15922319/7fb0830a-2e40-11e6-9b62-eb0287dc651d.PNG)

[2016-06-09 08:24] SadiaRasheed commented on #294
https://github.com/open-learning-exchange/BeLL-Apps/commit/a0835cb4b9b6eb58279988bc701620298e9074da

[2016-06-09 08:25] SadiaRasheed commented on #300
https://github.com/open-learning-exchange/BeLL-Apps/commit/a0835cb4b9b6eb58279988bc701620298e9074da

[2016-06-09 08:25] SadiaRasheed commented on #304
https://github.com/open-learning-exchange/BeLL-Apps/commit/a0835cb4b9b6eb58279988bc701620298e9074da

[2016-06-09 08:28] SadiaRasheed commented on #295
This issue is no more appearing after solving issues given below
https://github.com/open-learning-exchange/BeLL-Apps/issues/300
https://github.com/open-learning-exchange/BeLL-Apps/issues/304
https://github.com/open-learning-exchange/BeLL-Apps/issues/294

[2016-06-09 10:29] umarWaris commented on #299
For learner, progress page

![capture](https://cloud.githubusercontent.com/assets/17467658/15926648/aa016d84-2e56-11e6-99b2-f4a2b56d0523.PNG)

For Leader. Progress Page

![capture](https://cloud.githubusercontent.com/assets/17467658/15926695/f99ecada-2e56-11e6-8337-60f98670c798.PNG)

[2016-06-09 10:49] SabaBaig commented on #287
https://github.com/open-learning-exchange/BeLL-Apps/commit/108739b9cd7127fad644865a09dd8b92117735a3

[2016-06-09 10:51] MWakas commented on #288
https://github.com/open-learning-exchange/BeLL-Apps/commit/c73dfd333160d03168caa4f121ef4e59c199d64d
https://github.com/open-learning-exchange/BeLL-Apps/commit/64ea12480da5c031e353d189a1ab8a45f5b5b6c4
https://github.com/open-learning-exchange/BeLL-Apps/commit/c4eb6577f124537bbfe094bcd481c0c4715a1067

[2016-06-09 11:37] #303 closed, assigned to MuhammadWaqas05

[2016-06-10 04:35] SabaBaig opened #307 "Overhaul Registration of Communities at Nation-side"
In the continuation of  https://github.com/open-learning-exchange/BeLL-Apps/issues/286 and https://github.com/open-learning-exchange/BeLL-Apps/issues/287 next step is implementation at nation-side.
- There should be a page at Nation-side to see which communities are already registered with it and the ones which have pending registrations.
- Next, Auto-fill "Communityfrom" with the information prov

[2016-06-10 05:09] MuhammadWaqas05 opened #308 "Communication b/w community and nation"
In the continuation of #286 and #287 next step is implementation of commuication between community and nation.There are several steps included which are as following:
-When admin will submit configurations as described in  #286, send those informations as a  registration request to the selected nation.
-On nation side, when nation admin will review those informations and based on those information

[2016-06-10 06:45] umarWaris commented on #299
![capture](https://cloud.githubusercontent.com/assets/17467658/15956270/c9345cca-2f00-11e6-8bea-816b09de3c67.PNG)

[2016-06-10 10:16] umarWaris commented on #299
![capture](https://cloud.githubusercontent.com/assets/17467658/15961438/3172997e-2f1e-11e6-90d7-d4cbd66377db.PNG)

As the graphs are much small, so we can't show drop down against each member

[2016-06-10 11:36] umarWaris commented on #299
-each line shows paper submitted against steps for each member from left to right i-e the steps for paper of first member are on the first line
-if any member has not submitted any paper against any step, then the line number of that user is skipped and hence can be mis-understood as which line belongs to which member.
-we can't put buttons or drop-down underneath the member's graph because if the

[2016-06-10 12:42] SadiaRasheed commented on #297
If the user has submitted both paper and quiz the there will be a check mark and 100% as shown in picture given below
![quiz and paper](https://cloud.githubusercontent.com/assets/10362799/15964588/bb1496a0-2f32-11e6-8a23-9455f0f538f6.PNG)

[2016-06-13 07:59] SadiaRasheed opened #309 "Course| "No Attachment" error on submitting a paper"
When a course step has both 'Take Quiz' and 'Upload Paper' Options in it and user uploads a paper as an attachment, the attachment is not saved and "No attachment" alert is shown to the user.

![issue297-a](https://cloud.githubusercontent.com/assets/10362799/16000600/bd915e3c-3166-11e6-96c3-1c69b7cdd7c1.PNG)

![issue297-b](https://cloud.githubusercontent.com/assets/10362799/16000603/c1ce476c-3166-

[2016-06-13 08:05] SadiaRasheed commented on #297
https://github.com/open-learning-exchange/BeLL-Apps/commit/266f9a045b13854b40b149a5d64aa5f60b77f34a

[2016-06-13 08:08] SadiaRasheed commented on #297
https://github.com/open-learning-exchange/BeLL-Apps/commit/a7dab7f2ec6b3b8867ca5a86594b1f20b28df2cd

[2016-06-13 09:35] SadiaRasheed opened #310 "courses | If user uploads new paper then override previous paper"
Right now a user can upload multiple papers in a course step. So change this functionality so that new paper will override the previous paper

[2016-06-13 09:37] umarWaris commented on #299
https://github.com/open-learning-exchange/BeLL-Apps/commit/d4b1892763b3b3edcc426f97d85f32aec97d686b

[2016-06-13 10:05] umarWaris commented on #299
https://github.com/open-learning-exchange/BeLL-Apps/commit/8367b749bb9fad3bcab8b4327a6de1e6c4a6222b

[2016-06-13 10:28] MuhammadWaqas05 commented on #307
https://github.com/open-learning-exchange/BeLL-Apps/commit/0413f8ace2bab12f9cb11f5ffb3987891208321a
https://github.com/open-learning-exchange/BeLL-Apps/commit/dfafd73e382480f0868aeef06ec87a43a5325136
https://github.com/open-learning-exchange/BeLL-Apps/commit/67ac3d3a648b5df906871270db2086fda9d52a03
https://github.com/open-learning-exchange/BeLL-Apps/commit/effd5fc3a90632117463609bb49f28264f74db7a

[2016-06-14 05:12] #273 closed, assigned to MuhammadWaqas05

[2016-06-14 05:31] #280 closed, assigned to umarWaris

[2016-06-14 05:31] #281 closed, assigned to umarWaris

[2016-06-14 05:31] #282 closed, assigned to umarWaris

[2016-06-14 05:31] #283 closed, assigned to umarWaris

[2016-06-14 05:31] #260 closed, assigned to MuhammadWaqas05

[2016-06-14 05:32] #221 closed, assigned to umarWaris

[2016-06-14 05:33] #263 closed, assigned to MuhammadWaqas05

[2016-06-16 03:14] sente opened #317 "The release version info should be more detailed"
The version value in the 'configurations' document isn't linkable to a code commit or checksum, etc.

[2016-06-16 10:05] umarWaris commented on #289
https://github.com/open-learning-exchange/BeLL-Apps/commit/9655887b005f1fb11d82ed66fc40efe82089ec5e
https://github.com/open-learning-exchange/BeLL-Apps/commit/d8161d4b780136b98a092752a0eceaf70ede8902

[2016-06-16 10:48] SabaBaig commented on #307
https://github.com/open-learning-exchange/BeLL-Apps/commit/bb5727379732a3168dae3700b666344e9517cea1

[2016-06-16 10:49] SabaBaig commented on #308
https://github.com/open-learning-exchange/BeLL-Apps/commit/38dbb75d0ac0e53ff8c390bd7d46c8a864655f25
https://github.com/open-learning-exchange/BeLL-Apps/commit/f6f7f5b2033dd1f4f1d62bf0ee83a8d404bd07b2

[2016-06-16 12:25] SadiaRasheed opened #318 "Courses | Redundant code issues after rebasing"
Issues have been appeared after interactive rebasing

[2016-06-16 12:26] SadiaRasheed commented on #318
![4](https://cloud.githubusercontent.com/assets/10362799/16116615/5ebbd670-33e7-11e6-9569-b8c780a02d50.PNG)
![3](https://cloud.githubusercontent.com/assets/10362799/16116613/5eb9fbe8-33e7-11e6-9832-fc81af1e459f.PNG)
![2](https://cloud.githubusercontent.com/assets/10362799/16116614/5ebbb83e-33e7-11e6-972c-f4dfdd76c1d4.PNG)
![redundancy issues after rebasing](https://cloud.githubusercontent.com/asse

[2016-06-17 06:02] SabaBaig commented on #307
https://github.com/open-learning-exchange/BeLL-Apps/commit/f5934cb8690b577e87b8864e3d353bc6066409ba

[2016-06-17 06:04] SabaBaig opened #319 "Overhaul Accept and Reject Functionality"
In case of  **Accepting Community's Request**, do the following steps
1) Update the **registrationRequest** attribute from **pending** to **registered** in that nation's pending request database.
2) Replicate that community's document in **registeredcommunities** database of nbs.ole.org
3) Now, also replicate the updated document on that nation's **registeredcommunities** database.
4) Lastly, remo

[2016-06-17 07:34] MuhammadWaqas05 opened #320 "Notify Nation about Pending Requests"
If there are community registration requests for a nation, then that nation should be notified about it. The notification will show the count of pending requests.

[2016-06-17 07:35] MuhammadWaqas05 opened #321 "Notify Community about response of Registration request"
When a nation accepts or rejects a community's registration request, then the relevant community should be notified of response sent by nation against its Registration request.

[2016-06-17 07:36] MuhammadWaqas05 opened #322 "Auto-fill Manager's Information on configuration's page"
On the following page at community side:
![config](https://cloud.githubusercontent.com/assets/10882476/16143806/90d136cc-3488-11e6-85df-356ae171a411.PNG)

There should be ability to auto-fill "General Manager" and "Tech Support" part with the information given on "Become an admin page".

[2016-06-17 11:20] SadiaRasheed commented on #318
https://github.com/open-learning-exchange/BeLL-Apps/commits/issue318-courses

[2016-06-17 11:20] SadiaRasheed commented on #310
https://github.com/open-learning-exchange/BeLL-Apps/commit/b83e832cdce8c6001c9413024044a09da88bba68

[2016-06-17 11:20] SadiaRasheed commented on #309
https://github.com/open-learning-exchange/BeLL-Apps/commit/3304027a46f64fec420ef7326c8d1c15d05630ae

[2016-06-20 05:48] SabaBaig opened #325 "MUI | UI of Dashboard page is distorted after v 0.12.19"
The UI of Dashboard page is distorted after **v0.12.19** for **Arabic Language ONLY**
![Dashboard_Error](https://cloud.githubusercontent.com/assets/13994879/16184317/e7d3fb3c-36d4-11e6-948c-ba1a90bebe1f.PNG)
 of BeLL-Apps.

[2016-06-20 05:56] SabaBaig commented on #325
As per the R&D performed on this issue, it wasn't due to any specific changes made on css files but it occurred after the additions made in Arabic.txt. The length of the translation provided for "My Courses in Progress" was large enough to ruin the design of whole page. So, when this single word's translation was changed with the one in v.0.12.18 then whole page was back to normal.

## **Version:

[2016-06-20 06:00] SadiaRasheed opened #326 "Publications | Show text "already synced" If the publication has been synced"
![publication sync issue](https://cloud.githubusercontent.com/assets/10362799/16184516/5df5346a-36d6-11e6-8244-bbf529180c47.png)

[2016-06-20 06:16] SabaBaig commented on #325
[#325_Resolved](https://github.com/open-learning-exchange/BeLL-Apps/commit/a9fd5fc295ae21216c5ea6711f865fc7069e1c2b)

[2016-06-20 13:28] MuhammadWaqas05 commented on #321
https://github.com/open-learning-exchange/BeLL-Apps/commit/be5d78ac92969d659d3f45ba623657961f38f0a9

[2016-06-20 13:28] MuhammadWaqas05 commented on #322
https://github.com/open-learning-exchange/BeLL-Apps/commit/9a1d8ec98435591cc548805b7ab66e0a0d98a582
Screenshot:
![config](https://cloud.githubusercontent.com/assets/10882476/16195885/022d1ce4-3715-11e6-8e08-3b65e5c8949c.PNG)

[2016-06-21 04:33] SabaBaig commented on #319
https://github.com/open-learning-exchange/BeLL-Apps/commit/527599768d8b074b0d566a6b06a5c80c5ab44b82

[2016-06-21 10:14] SabaBaig opened #330 "Make the manager always fill communityConfiguration form"
If the manager skips to fill the communityConfigurations form make him fill it first and don' make any changes to configurations existing form till then.

[2016-06-23 10:16] SabaBaig commented on #330
https://github.com/open-learning-exchange/BeLL-Apps/commit/6b8da80ffdd2dee2cb7d51761125d01f14eede94
https://github.com/open-learning-exchange/BeLL-Apps/commit/541a3db69d687b50acbacbf47db91310a02c7973

[2016-06-23 10:16] SabaBaig commented on #320
https://github.com/open-learning-exchange/BeLL-Apps/commit/26a7c81e2046f0141fa160af9eded922ddb34485

[2016-06-23 10:17] SabaBaig commented on #319
https://github.com/open-learning-exchange/BeLL-Apps/commit/f08667faade2ac5cd9490215d1b4b38cea58fae0

[2016-06-23 10:35] MWakas commented on #288
https://github.com/open-learning-exchange/BeLL-Apps/commit/29bec27bd94c6f20009a4c36594e6ff1ed41e5c5
https://github.com/open-learning-exchange/BeLL-Apps/commit/e169304d8a3a2bb4232463d02e5cbcc5b8020cc4

[2016-06-24 05:12] MuhammadWaqas05 opened #333 "Community side integration of 288"
The easy install functionality should be integrated into the older functionality at community side e.g:  at configurations page etc.

[2016-06-24 05:13] MuhammadWaqas05 opened #334 "Nation side integration of 288"
The easy install functionality should be integrated into the older functionality at nation side e.g: at communities list page etc.

[2016-06-24 12:00] umarWaris commented on #258
https://github.com/open-learning-exchange/BeLL-Apps/commit/5949569fdba661fa7b6165e7cb8efedde7b38119

[2016-06-24 15:30] dogi opened #336 "Awareness of nation by community"
Right now if a community is online under the right constellation there is the possibility that the special buttons (software update, publication and issue) are showing up.
This is the only form of awareness right now to know that a nation is visible from a community ...

![23-7](https://cloud.githubusercontent.com/assets/13684059/16346424/427901fc-3a15-11e6-9e47-009dd69cf499.png)

wonder where on

[2016-06-24 15:31] dogi opened #337 "VIPlinks to communities page on nation"
Richard wants to give some people a priority access to the community overview pages on nation and I was wondering if we can create something like with google docs share by like which give people the ability to access these pages

by the way since these VIPs are nor learners or managers they should not see the edit, delete button  and navigationbar

[2016-06-24 15:50] dogi opened #338 "upload of resources from community to nation"
If everything works out with http://open-learning-exchange.github.io/#!pages/htmlresources.md our Virtual Interns will soon create lots of resources on their communtiies.

That is why we want now work on an easy way to bring their work to the nations ...

[2016-06-24 18:49] dogi commented on #338
Only mangers should be able to trigger this upload

Wonder where is the best way to hide such feature?

[2016-06-27 07:07] SadiaRasheed opened #339 "Credits| (UI) Add Credits button on dashboard"

[2016-06-27 07:07] SadiaRasheed opened #340 "Badges| (UI) Add badges button on dashboard"

[2016-06-27 07:09] SadiaRasheed opened #341 "Badges| Badges implementation for learner"
Make UI for Learner to see his badge(result of a course). When "Open button", from page of badges, is clicked  then this page will show up

[2016-06-27 07:10] SadiaRasheed opened #342 "Credits | (UI) Credits main page for Leader"

[2016-06-27 07:11] SadiaRasheed opened #343 "Credits| (UI) Add open button to badges main page for learner"

[2016-06-27 07:12] SadiaRasheed opened #344 "Badges| (UI) Credits details page for Leader"

[2016-06-28 04:28] SabaBaig commented on #333
https://github.com/open-learning-exchange/BeLL-Apps/commit/6ed00a7f66d3933f204a077adf3a277640b80db5
https://github.com/open-learning-exchange/BeLL-Apps/commit/c31d5fa1138a7914891517327e99d9150601447e

[2016-06-28 04:47] SabaBaig commented on #333
https://github.com/open-learning-exchange/BeLL-Apps/commit/283725a21a41279240035ae90691da2620233750
https://github.com/open-learning-exchange/BeLL-Apps/commit/a4b403f87622f3caaa157c35a3752d795582b7d7
https://github.com/open-learning-exchange/BeLL-Apps/commit/750f692ccaf8ba4b1f9446d35df049d46de11345
https://github.com/open-learning-exchange/BeLL-Apps/commit/b26d69383ce2f168130c9e741db437b333f6b202

[2016-06-28 04:52] #49 closed

[2016-06-29 04:44] sente commented on #76
This has been implemented:

https://github.com/open-learning-exchange/BeLL-Apps/commit/a379189bcdaaae96b2ba3718b7efb355f63ba841

[2016-06-29 06:11] SadiaRasheed opened #345 "Courses | One paper per step"
Only one paper button appears per course rather than per step. The most recent paper is replaced anytime you submit a new paper from a different step of the same course.

[2016-06-29 06:12] MuhammadWaqas05 commented on #333
https://github.com/open-learning-exchange/BeLL-Apps/commit/fb0904b41ad7750f2267dcc8c0db13d1724cae5b

[2016-06-29 12:20] umarWaris commented on #337
https://github.com/open-learning-exchange/BeLL-Apps/commit/3d28583d4bea198c50c4871c2087211cfe56b59b

[2016-06-30 10:36] SabaBaig commented on #216
The underlying issues are resolved in branch 'course-leader' which is now a part of 'dev'.

[2016-07-01 05:39] SadiaRasheed commented on #345
https://github.com/open-learning-exchange/BeLL-Apps/commit/80893226013a4bf53bc0c961f3b688549892d41b

[2016-07-01 07:26] SadiaRasheed opened #350 "Courses | Paper evaluation"
Paper evaluation has not been implemented yet.
If a step has both quiz and paper then there is no way that we can save values for both paper and quiz after the user has submitted them.
If user submits the quiz and after quiz he submits paper then paper replaces the marks saved for quiz and vice versa.
Moreover, there is no way to evaluate and give marks to the paper.

[2016-07-01 09:35] SadiaRasheed opened #352 "Badges | (UI) badges main page for learner"
Make User Interface for Learner. When Learner will click on " Badges button" This page will show up.

[2016-07-01 11:36] umarWaris commented on #338
https://github.com/open-learning-exchange/BeLL-Apps/commit/7c9863056bb1af61c8bfe08b064b8153d7c688f6

[2016-07-04 10:01] SadiaRasheed commented on #343
https://github.com/open-learning-exchange/BeLL-Apps/commit/22e1a97d16efe30b54f2cc7a30440f29fd957209

[2016-07-05 04:40] SabaBaig commented on #342
https://github.com/open-learning-exchange/BeLL-Apps/commit/aaf91bf1d18c7fa1cacb482cb3166c21a291e294

[2016-07-05 21:13] #309 closed, assigned to SadiaRasheed

[2016-07-05 21:13] #310 closed, assigned to SadiaRasheed

[2016-07-05 21:18] #301 closed, assigned to SadiaRasheed

[2016-07-05 21:24] #318 closed, assigned to SadiaRasheed

[2016-07-05 21:25] #291 closed, assigned to SadiaRasheed

[2016-07-05 21:25] #298 closed, assigned to SadiaRasheed

[2016-07-05 21:28] #251 closed, assigned to SadiaRasheed

[2016-07-05 21:39] #300 closed, assigned to SadiaRasheed

[2016-07-05 22:14] #296 closed, assigned to umarWaris

[2016-07-06 13:48] #295 closed, assigned to SadiaRasheed

[2016-07-06 13:53] #264 closed, assigned to SadiaRasheed

[2016-07-06 14:01] #269 closed, assigned to SadiaRasheed

[2016-07-06 14:09] #272 closed, assigned to SabaBaig

[2016-07-06 14:09] #268 closed, assigned to umarWaris

[2016-07-06 14:10] #294 closed, assigned to umarWaris

[2016-07-06 14:11] #304 closed, assigned to SadiaRasheed

[2016-07-06 14:45] EmilyLarkin commented on #310
Closed as [345](https://github.com/open-learning-exchange/BeLL-Apps/commit/80893226013a4bf53bc0c961f3b688549892d41b) now addresses bug that was created with this issue

[2016-07-06 15:00] EmilyLarkin opened #355 "Courses | Nation>>Community Undefined user created"

[2016-07-06 15:15] EmilyLarkin commented on #355
When you send a course from the nation to the community, a "course member" is created called "undefined undefined" which is under the "Course Members" (Dashboard>>Course under "My Course Progress">>"Course Members").

![bbb14b9b-72f2-43db-beb2-c1d5bc1eabd3](https://cloud.githubusercontent.com/assets/15271637/16623056/65df6fc4-436a-11e6-831c-79c65fce5463.png)

As you can see below, there is an extr

[2016-07-06 15:15] EmilyLarkin opened #356 "Courses | Course Details Error"

[2016-07-06 15:19] EmilyLarkin commented on #356
![screen shot 2016-07-06 at 9 51 57 am](https://cloud.githubusercontent.com/assets/15271637/16623329/789d3802-436b-11e6-87e9-d46089117fc1.png)

[2016-07-06 15:31] EmilyLarkin commented on #356
As you can see from the screenshot above, there is an error of the course details (Dashboard>>Courses (any course)>>View Details) where Leader Name is repeatedly undefined undefined

Leader Email and Leader Phone Number are repeated - -.

If a Course Leader is added, then their email is added to both Leader Email and Leader Phone Number. If there are multiple leaders of a course, multiple leaders

[2016-07-06 15:32] EmilyLarkin opened #357 "Courses | Delete Course Member and Add Back"

[2016-07-06 15:32] EmilyLarkin commented on #357
![screen shot 2016-07-06 at 10 27 25 am](https://cloud.githubusercontent.com/assets/15271637/16623833/5dd2ba72-436d-11e6-88d5-a8f86460e006.png)

[2016-07-06 15:37] EmilyLarkin commented on #357
If a learner gains admission to the course, then leaves the course and then returns, there are multiple progress bars shown. The Course Members list is correct, but it shows the graph all of the members even if they have left the course. To access this page, go to Dashboard>>Courses>>Progress as a manager or a course leader.

[2016-07-06 15:39] EmilyLarkin opened #358 "Courses | Multiple Leaders cannot be removed"

[2016-07-06 15:44] EmilyLarkin commented on #358
![bd620d10-160e-4f62-844a-f6eb919c3872](https://cloud.githubusercontent.com/assets/15271637/16624262/0aa3fc9c-436f-11e6-9237-5e91e7160739.jpg)

[2016-07-06 15:45] EmilyLarkin commented on #358
![0802a8f6-6faa-413d-a971-9098ec665a65](https://cloud.githubusercontent.com/assets/15271637/16624292/1edfcc72-436f-11e6-9a1d-ff5cfdf5379c.jpg)

[2016-07-06 16:12] EmilyLarkin commented on #358
On a course, when you select multiple members to be course leaders and then try to change it back to a single leader, this change is not made. As you see from the picture above, this course had three managers. And below, you can see that the change was made back by a manager to to only have one course leader.

[2016-07-06 16:12] EmilyLarkin commented on #358
![0aa3fc9c-436f-11e6-9237-5e91e7160739](https://cloud.githubusercontent.com/assets/15271637/16625501/e8ba3304-4372-11e6-951d-89e32ed2b196.jpg)

[2016-07-06 16:18] EmilyLarkin commented on #358
You can find this page at Dashboard>>Courses>>Manage. However, when you reload the page and reclick on Manage and see this above page, there are still three managers from the original list. Additionally, you can see under Dashboard>>Course under My Courses Progress>>Course Members from the image below, these course leaders are still considered leaders even after the attempt to change them from lea

[2016-07-06 16:18] EmilyLarkin commented on #358
![ea09601c-59e1-4b4e-903f-4a7875741342](https://cloud.githubusercontent.com/assets/15271637/16625695/c564df2a-4373-11e6-8a01-dbd1d6c04301.jpg)

[2016-07-06 16:34] EmilyLarkin commented on #299
I think we should consider other options for this problem as the current solution doesn't really seem workable. @dogi, do you think a separate pop-up screen is a bad idea. Looking for us to problem-solve on this issue a bit more....

[2016-07-06 16:38] EmilyLarkin commented on #345
To add more detail, there should be a way for a paper to be submitted per step. Currently, the issue is that when you submit a paper for any step in the course, the software only allows one paper so it is overwritten continuously. This goes back to [#299](https://github.com/open-learning-exchange/BeLL-Apps/issues/299) and [#289](https://github.com/open-learning-exchange/BeLL-Apps/issues/289).

[2016-07-07 16:00] dogi opened #359 "Delete Button want delete"
on Library page when manager deletes resources it claims success, but resources in reality are still visible

javascript console shows 409 aka merge conflict

[code]

[2016-07-11 02:31] dogi commented on #359
https://github.com/open-learning-exchange/BeLL-Apps/commit/bcfc03a886597272644235c754eca7ee90617354 done by removing functionality

[2016-07-11 02:31] #359 closed, assigned to sente

[2016-07-11 02:33] dogi opened #360 "pouchdb requests every 10 seconds"
by doing some maintenance I got in contact with 2 communities which every 10 seconds was creating 404/409 errors:
- Dagahaley 434 error'ing requests
- Gilgil 130 error'ing requests

fix them by deleting the whole firefox profile (Appdata)

[2016-07-11 02:37] dogi commented on #360
we need to find a way to empty pouchdb  the regular way

[2016-07-11 06:22] SadiaRasheed commented on #345
The requirement was **that there should be ONLY one paper per step** instead of one paper per course.
Right now this functionality has been implemented as If a learner submits a paper for a step and there is any previously submitted paper already in database for the very step then **that previous paper will be overridden.**
What is your opinion for this issue? Please write your requirement here.

[2016-07-11 09:10] SabaBaig commented on #358
This thing was implemented this way, so as to avoid the scenario where the manager unintentionally selects one leader and then the previous leaders are all gone. We believe that removing a leader should be a more procedural and shouldn't be done this way as it can ruin whole course if not handled carefully. So, as per now, a leader can be deleted by only a manager under the page of Courses>>Manage

[2016-07-11 09:37] umarWaris commented on #356
![capture](https://cloud.githubusercontent.com/assets/17467658/16726302/eae8707c-4774-11e6-8307-90c69450bf77.PNG)

[2016-07-11 09:44] umarWaris commented on #356
@EmilyLarkin
I have created a new course and added 3 members as leader of the course. i am not finding any error of undefined undefined etc...

Leader email show the emails of all leader/leaders and leader phone numbers show the phone numbers of all leader/leaders

If you still find out this issue, then describe the use case for which the above error is occurring.

[2016-07-11 21:01] EmilyLarkin commented on #356
@umarWaris This happens when you send the leaderless course from the nation to the community- I would assume you have no error because you created it on the same nation/community that you are using when trying to find this error. When you send the course from the nation to the community, it generates a lot of these errors. And in the field and in deployments, we almost exclusively use courses by c

[2016-07-11 21:02] EmilyLarkin commented on #356
Sorry for the confusion, I meant to include that in the description but must have forgotten:)

[2016-07-11 21:05] EmilyLarkin commented on #293
@SabaBaig I agree- I think this is a very important functionality to have as it will drastically improve quizzes in Courses. Let me know if you need additional support on this issue.

[2016-07-12 06:06] dogi commented on #338
got reverted back

[2016-07-12 09:47] SadiaRasheed commented on #341
https://github.com/open-learning-exchange/BeLL-Apps/commit/3a7565f51c315413c8013cdc4fae3ff5a4b62d2d

[2016-07-12 09:47] SadiaRasheed commented on #341
https://github.com/open-learning-exchange/BeLL-Apps/commit/a99d8ad6f5482a2e549f0bf501cbf2c94c04f65d

[2016-07-12 09:47] SadiaRasheed commented on #352
https://github.com/open-learning-exchange/BeLL-Apps/commit/a99d8ad6f5482a2e549f0bf501cbf2c94c04f65d

[2016-07-12 10:18] SadiaRasheed commented on #341
https://github.com/open-learning-exchange/BeLL-Apps/commit/957873ff957390ff63cf06dec6d278b66428b635

[2016-07-12 10:19] SadiaRasheed commented on #340
https://github.com/open-learning-exchange/BeLL-Apps/commit/79c3a7998c24b21081e2d0fd968a2969785dd2a2

[2016-07-12 10:20] SadiaRasheed commented on #339
https://github.com/open-learning-exchange/BeLL-Apps/commit/2b7fd65560dff46f5eae5ac6667bb9b6bd34a131

[2016-07-12 10:51] SadiaRasheed commented on #345
This issue is working fine on my side.
here are some screen shots to explain it

[2016-07-12 10:52] SadiaRasheed commented on #345
![one paper per step 1](https://cloud.githubusercontent.com/assets/10362799/16764612/9381f644-4848-11e6-8ac2-a5be09a84024.png)
![one paper per step 2](https://cloud.githubusercontent.com/assets/10362799/16764617/98cd9022-4848-11e6-9e16-0d93cf8d6306.png)
[one paper per step 3.txt](https://github.com/open-learning-exchange/BeLL-Apps/files/359127/one.paper.per.step.3.txt)
[one paper per step 4.txt](h

[2016-07-12 10:53] SadiaRasheed commented on #345
![one paper per step 1](https://cloud.githubusercontent.com/assets/10362799/16764641/bc4cf02e-4848-11e6-982d-9185a2d41740.png)

---

![one paper per step 2](https://cloud.githubusercontent.com/assets/10362799/16764644/c1e42872-4848-11e6-9e24-6d412bc8905d.png)

[2016-07-12 10:53] SadiaRasheed commented on #345
[one paper per step 3.txt](https://github.com/open-learning-exchange/BeLL-Apps/files/359132/one.paper.per.step.3.txt)

[one paper per step 4.txt](https://github.com/open-learning-exchange/BeLL-Apps/files/359133/one.paper.per.step.4.txt)

[2016-07-12 10:55] SadiaRasheed commented on #345
![one paper per step 3](https://cloud.githubusercontent.com/assets/10362799/16764682/05406540-4849-11e6-84f2-3351bcd3151d.png)

---

![one paper per step 4](https://cloud.githubusercontent.com/assets/10362799/16764688/0f4142bc-4849-11e6-9fd5-0a9808bedc7d.png)

[2016-07-12 11:18] MuhammadWaqas05 opened #361 "Add 'register' attribute in config docs"
To specify central nation, add an attribute named as 'register' in configurations docs of community and nation. In this way, tha value will not be hard coded in source code and it will be more easy to change central nation in the future.

[2016-07-12 12:00] umarWaris commented on #338
![capture](https://cloud.githubusercontent.com/assets/17467658/16766202/1e38214c-4852-11e6-9746-235464917691.PNG)

[2016-07-13 03:45] #205 closed

[2016-07-13 03:47] dogi opened #362 "easy install | _security problem on center?"

[2016-07-13 03:48] dogi opened #363 "easy install | improve UX for 2nd Form"
I mostly speak the form we call internally call "Become a Community", which right now is functionally working, but compared to "Become an Administrator" in the realm of "Graphics and Appeal" aka is fairly underdeveloped.

Since this 2 "Forms" is part of the first impression we need to clean them up ;)

[2016-07-13 03:50] dogi opened #364 "easy install | create awareness on dashboard of a join request"
As already discussed in our meeting, when a nation has a request from a community to join, the dashboard should show this, so that we do not need to click to the community overview page if we want to find out that there is maybe a potential new community

Would like that we solve it analog to the publications on communities in form of a button on the bottom of the dashboard page

[2016-07-13 05:29] MuhammadWaqas05 commented on #362
I tested the following scenarios on my side:
- Enable _security on requested nation db too(same as for central nation db)
   Findings: This scenarios didn't work on my side, as the result was same as before.
- Disable _security on central nation db
   Findings: This is working fine(pulling and pushing is successfull). As the result was fine and working properly, so I made required changes so that

[2016-07-13 06:33] sente opened #365 "Fix AssignmentPaper and Mail schemas"
Why is it we're using `sednerId` in these two schemas while we use `senderId` elsewhere?

[code]

[2016-07-13 07:03] sente opened #366 "Clean up models and create ER diagrams"
I have exported the `schema: {}` from each `Model` from `App.Models`.

I did so with this code: https://github.com/sente/BeLL-Apps-runner/blob/master/schema/run_this_code_in_the_console.js

This downloaded a `<model>.schema-.json` file for each model with only the `schema` attributes.
Files can be browsed [here.](https://github.com/sente/BeLL-Apps-runner/tree/master/schema/models)

These schemas *

[2016-07-13 09:44] MuhammadWaqas05 commented on #363
Ok, so can you please suggest us about layout of this form OR any suggestions/improvements/changes for current layout.

[2016-07-13 09:47] MuhammadWaqas05 commented on #364
yes, sure and thanks for this nice description.

[2016-07-13 09:53] dogi commented on #363
generally I would like that the two form's kinda have the same look and feel

also the indention needs to be congruent

[2016-07-13 09:57] MuhammadWaqas05 commented on #363
ok,We will do it. :)

[2016-07-14 06:23] SadiaRasheed commented on #339
![credits button for leader](https://cloud.githubusercontent.com/assets/10362799/16829960/6d54c35c-49b5-11e6-8efc-28df6f11b4a0.png)

[2016-07-14 06:24] SadiaRasheed commented on #340
![badges button](https://cloud.githubusercontent.com/assets/10362799/16829987/9502fe1e-49b5-11e6-8574-ec472956e3fe.png)

[2016-07-14 06:30] SadiaRasheed commented on #340
![badges button](https://cloud.githubusercontent.com/assets/10362799/16830115/549a257c-49b6-11e6-927e-029a02d6020d.png)

[2016-07-14 06:30] SadiaRasheed commented on #339
![credits button for leader](https://cloud.githubusercontent.com/assets/10362799/16830127/68ce106c-49b6-11e6-9193-1fca4f870dae.png)

[2016-07-14 06:31] SadiaRasheed commented on #339
![credits button](https://cloud.githubusercontent.com/assets/10362799/16830143/7a448f6a-49b6-11e6-9dc3-02ef4f70037f.PNG)

[2016-07-14 06:31] SadiaRasheed commented on #340
![badges button](https://cloud.githubusercontent.com/assets/10362799/16830155/8b403b66-49b6-11e6-9cca-b086bcc13535.PNG)

[2016-07-14 06:32] SadiaRasheed commented on #343
![open button for learner](https://cloud.githubusercontent.com/assets/10362799/16830164/a367f9e0-49b6-11e6-87ab-b7391155dace.PNG)

[2016-07-14 06:33] SadiaRasheed commented on #352
![learner details page main](https://cloud.githubusercontent.com/assets/10362799/16830179/c5e75290-49b6-11e6-9c2f-ec7e9c035cb0.PNG)

[2016-07-14 06:33] SadiaRasheed commented on #341
![learner details page](https://cloud.githubusercontent.com/assets/10362799/16830188/d5eaf570-49b6-11e6-8133-b0d3f6aebd80.PNG)

[2016-07-14 06:41] SadiaRasheed commented on #350
Step 1: While creating a step at least one should be checked either paper or quiz or both to specify the outcome of the step.
Step 2: There should be a way for saving both paper and quiz marks (values) in case of "paper and quiz" step.
Step 3: Differentiate 3 categories of steps ( 1) Paper 2) Quiz 3) Paper and Quiz ) when user submits a step

[2016-07-14 06:42] SadiaRasheed commented on #350
I will add more steps as I complete these 2 steps given above

[2016-07-14 09:38] umarWaris commented on #338
https://github.com/open-learning-exchange/BeLL-Apps/commit/d48a1ddf69ee9902515e040b62e1a45bf18d0cd1

[2016-07-14 10:29] umarWaris commented on #338
1) while replicating resource from community to nation, whether we have to reset the certain attributes like number of visits and number of times the members rated the resource?
2) Also tell me if any resource is replicated from nation to community through publication, then that specific resource should also display button(add to Nation) at resource detail page at community side?

[2016-07-14 10:32] MuhammadWaqas05 commented on #361
https://github.com/open-learning-exchange/BeLL-Apps/commit/51d1160d3816ab496fcddae0f442271345afacb4

[2016-07-18 00:03] sente opened #369 "reorder javascript and css files"

[2016-07-18 07:01] MuhammadWaqas05 commented on #363
https://github.com/open-learning-exchange/BeLL-Apps/commit/2e36178e66b863bede95a1d336fa9a8c03afbebd

[2016-07-18 07:35] SadiaRasheed commented on #350
Step 4: Save values in database based upon step category. In case of quiz and paper step, both quiz and paper values should be save separately and handled separately
Step 5: Fetch values based upon step category and show it to the user. in case of paper and Quiz step, both values should be fetched i.e one for paper and one for quiz
Step 6: Show a check mark if paper has been submitted
Step 7: Show

[2016-07-18 07:47] SadiaRasheed commented on #350
This issue will resolve the Issue#297 ( Courses | Put a check-mark when document is uploaded )

[2016-07-18 07:51] SadiaRasheed commented on #297
This issue will be resolved in Issue#350 ( Courses | Paper evaluation )

[2016-07-18 09:28] SadiaRasheed commented on #350
## For Testing of this Issue:

-You need to edit the step which has both " Paper and Quiz" in order to populate the database.
-From now on, you must select at least one outcome either paper or quiz while creating a step.

[2016-07-18 09:50] SadiaRasheed commented on #290
This issue is related to Issue#350 ( paper evaluation )
-This issue will be dealt with Leader side implementation of paper evaluation. this will be implemented as the leader side module for credits get implemented

[2016-07-18 11:04] SabaBaig commented on #355
https://github.com/open-learning-exchange/BeLL-Apps/commit/1c0b014500b43d0fb09107a5fa6507e59f4fe707

[2016-07-18 11:05] SabaBaig commented on #364
https://github.com/open-learning-exchange/BeLL-Apps/commit/9c250a160540079cdd4d1178515c714df340e5d3

[2016-07-18 11:07] SabaBaig commented on #356
This issue is resolved with https://github.com/open-learning-exchange/BeLL-Apps/issues/355

[2016-07-18 11:44] umarWaris commented on #337
https://github.com/open-learning-exchange/BeLL-Apps/commit/30cebb250e2802b9e7d1e03647f5bdaf24689eb8

[2016-07-18 12:33] SadiaRasheed commented on #350
https://github.com/open-learning-exchange/BeLL-Apps/commit/f95b4a6c45f912cd53a147c0061ba73b6d9ea541

[2016-07-18 16:06] #358 closed, assigned to nobody

[2016-07-18 19:12] EmilyLarkin commented on #345
![screen shot 2016-07-18 at 3 12 53 pm](https://cloud.githubusercontent.com/assets/15271637/16927138/10f98000-4cfa-11e6-9e19-cbcb88042c55.png)

[2016-07-18 19:16] EmilyLarkin commented on #345
So the problem here is that when you look at "Progress" under "Courses", you can see that when you click on one of the student's names, only one paper (the most recent one) appears. The multiple papers may save, but from the instructor side, you cannot access more than one paper per course. This needs to be changed so that there are multiple buttons per step with submitted papers.

[2016-07-18 19:17] EmilyLarkin commented on #345
@SadiaRasheed and you can see from the screenshot above that even if I submit multiple papers for a course, only the most recent paper is available and accessible.

[2016-07-18 19:47] EmilyLarkin commented on #355
@SabaBaig tested it (dev) and it looks great!

[2016-07-18 19:47] #355 closed, assigned to SabaBaig

[2016-07-18 19:59] EmilyLarkin commented on #338
@umarWaris @dogi just did a simple test of this and it seemed to work quite well. Will try to stress test for better quality QA but looks good right now

[2016-07-18 20:17] EmilyLarkin commented on #338
@dogi you may be the better person to answer @umarWaris's questions above

[2016-07-18 20:42] EmilyLarkin commented on #271
Looks good

[2016-07-18 20:42] #271 closed, assigned to SabaBaig

[2016-07-18 20:43] EmilyLarkin commented on #257
Tested and looks great after previous issue was closed

[2016-07-18 20:43] #257 closed, assigned to SabaBaig

[2016-07-19 06:19] dogi commented on #337
http://umar.nbs.ole.org:5980/apps/_design/bell/nation/index.html#listCommunityPage/9c154a274261c466efb4e45b9c0067c9

[2016-07-19 09:05] MuhammadWaqas05 opened #373 "Older communities unable to get update with easy install"
Older communities are unable to get update , sync publications and sync activity logs with nations which contains code of easy install.

[2016-07-19 16:45] EmilyLarkin commented on #345
@SadiaRasheed once @dogi gives me a nation for QA tomorrow I'll get back to you on this step FYI (not working on dev but may work on other branch)

[2016-07-19 16:52] #270 closed, assigned to SadiaRasheed

[2016-07-20 05:39] MuhammadWaqas05 commented on #373
https://github.com/open-learning-exchange/BeLL-Apps/commit/241b0f09f9033aa82e4a53aff310c618d0f2c1b2
https://github.com/open-learning-exchange/BeLL-Apps/commit/298671034cc429946705788c8e119622ee747c98

[2016-07-20 07:53] SabaBaig opened #375 "Credits | Notify Leader to mark credits for Paper"
Notify Leader on Credits page, about learners who have completed all the steps involved (i.e passed all quiz(s) (if any) and submitted papers (if any)) to mark credits for the paper.

[2016-07-20 07:57] umarWaris commented on #337
https://github.com/open-learning-exchange/BeLL-Apps/commit/0ab89e1578286d543644d6c795022f802b39e6fb

[2016-07-20 07:58] SabaBaig commented on #357
https://github.com/open-learning-exchange/BeLL-Apps/commit/f33c39769573773591afe9ca7305a72fbc5a1699
**Please test this issue on dev branch**

[2016-07-20 15:54] EmilyLarkin commented on #289
@umarWaris @SabaBaig so this works in the sense that there is no .json document popping up, however the button still does not say "Download Paper", instead it merely says where the paper for step #X. I don't want to close this issue yet as this needs to be corrected in the badges/"Progress" improvement in other issues.

[2016-07-20 15:56] EmilyLarkin commented on #299
@umarWaris @SabaBaig this should be revisited as part of Badges edits in courses- connected to issue #289

[2016-07-20 15:58] EmilyLarkin commented on #267
@umarWaris @SabaBaig I am still seeing this issue where the Steps do not load automatically. It's quicker than I remember it when this issue was created, but still needs further testing and improvement before this issue can be closed

[2016-07-20 16:05] #267 closed, assigned to umarWaris

[2016-07-20 16:06] #276 closed, assigned to SadiaRasheed

[2016-07-20 16:13] EmilyLarkin commented on #254
![screen shot 2016-07-20 at 12 13 32 pm](https://cloud.githubusercontent.com/assets/15271637/16993919/597b982a-4e73-11e6-9fd7-ea9cd93fcd8b.png)

[2016-07-20 16:18] #254 closed, assigned to SadiaRasheed

[2016-07-20 16:19] EmilyLarkin opened #377 "Multiple Leader not completely shown as Leader"

[2016-07-20 16:21] EmilyLarkin commented on #377
I found this on new.qa.ole.org by testing a course with multiple added leaders.

Currently, learner c c should be a Leader as they are a Leader in the course as you can see below. But c c is half Leader/half Learner (as they have all four buttons available on Dashboard>>Courses) and are shown as a Leader everywhere but the Dashboard, but on the Dashboard, they still appear as a Learner. Basically,

[2016-07-20 16:21] EmilyLarkin commented on #377
![screen shot 2016-07-20 at 12 13 32 pm](https://cloud.githubusercontent.com/assets/15271637/16994217/71ff6b5a-4e74-11e6-903b-619789d111e4.png)

[2016-07-20 16:21] EmilyLarkin commented on #377
![screen shot 2016-07-20 at 12 13 47 pm](https://cloud.githubusercontent.com/assets/15271637/16994220/75e66700-4e74-11e6-95bb-eb22c5814ea6.png)

[2016-07-20 16:21] EmilyLarkin commented on #377
![screen shot 2016-07-20 at 12 18 29 pm](https://cloud.githubusercontent.com/assets/15271637/16994226/78d72120-4e74-11e6-8768-023806c40776.png)

[2016-07-20 16:28] #256 closed, assigned to SadiaRasheed

[2016-07-20 16:34] EmilyLarkin commented on #252
@SabaBaig and @SadiaRasheed: works from the GUI perspective but @dogi will followup shortly about the couch side of your concerns

[2016-07-20 16:39] #253 closed, assigned to SadiaRasheed

[2016-07-20 16:41] #262 closed, assigned to umarWaris

[2016-07-20 20:21] #340 closed, assigned to SadiaRasheed

[2016-07-20 20:21] #339 closed, assigned to SadiaRasheed

[2016-07-20 20:23] #343 closed, assigned to SadiaRasheed

[2016-07-20 20:25] EmilyLarkin commented on #345
![screen shot 2016-07-20 at 4 25 13 pm](https://cloud.githubusercontent.com/assets/15271637/17001797/7fc516b4-4e96-11e6-9dd1-2a28a9996618.png)

[2016-07-20 20:26] EmilyLarkin commented on #345
@SabaBaig @SadiaRasheed so we now have multiple papers as all of the submitted papers are listed. However, there should only be one paper per step. Currently, the paper does not replace the previous paper which means that you can in theory have unlimited paper submissions (which is not what we want). We want one paper per step so that they most recent paper replaces the older paper under progress.

[2016-07-20 20:35] EmilyLarkin commented on #297
As @SadiaRasheed mentioned, this is staying open for issue #350

[2016-07-21 06:16] SadiaRasheed opened #378 "Credits | Show Filtered members of courses"
Display all those learner(s) who are ready to be graded by the Leader.

[2016-07-21 06:34] umarWaris commented on #289
I changed the button text
![capture](https://cloud.githubusercontent.com/assets/17467658/17013310/0d72d00a-4f37-11e6-9f31-f75b1287e2c3.PNG)

[2016-07-21 07:28] umarWaris commented on #289
https://github.com/open-learning-exchange/BeLL-Apps/commit/bf98d38710704fced4e0cc08d06a7daf43dd61a3

[2016-07-21 09:08] SadiaRasheed opened #379 "Repetition of step ids in membercourseprogress database"

[2016-07-21 09:11] SadiaRasheed opened #380 "Deleting the steps the step ids are not removed from the coursememberprogress"

[2016-07-21 10:15] MuhammadWaqas05 opened #381 "Missing attributes in community configs on update"
After updating old community to a new version of easy install, the newly added attributes are missing in configurations doc of that community.

[2016-07-21 10:15] MuhammadWaqas05 opened #382 "Missing 'register' attribute in nation's configurations doc on update"

[2016-07-21 10:17] MuhammadWaqas05 opened #383 "Correction in method of 'Fetch by URL' for community requests"

[2016-07-21 10:18] MuhammadWaqas05 opened #384 "Incorrect Configs form for freshly installed nation"
For freshly installed nation, an odd configurations form is appearing.

[2016-07-21 11:08] SabaBaig commented on #375
https://github.com/open-learning-exchange/BeLL-Apps/commit/321100e67c10317595bd1a3c45e9193b2a1d1f9f
https://github.com/open-learning-exchange/BeLL-Apps/commit/7c13eab462fd755a9acdfd1d7ae12ff8352240d4

[2016-07-21 12:40] dogi opened #385 "required field for administrator form"

[2016-07-21 19:52] EmilyLarkin opened #386 "Courses | Gray bar error GUI fix"

[2016-07-21 19:52] EmilyLarkin commented on #386
![screen shot 2016-07-21 at 3 52 40 pm](https://cloud.githubusercontent.com/assets/15271637/17036645/26b1c3fe-4f5b-11e6-8aba-43ed2fc881e4.png)

[2016-07-21 19:56] EmilyLarkin commented on #386
This is a minor change, but the gray bar of Title and Action should be extended to the end of the screen. Action should stay directly above Manage, but the gray bar should extend. This page can be found by Dashboard>>Courses.

[2016-07-21 19:59] EmilyLarkin commented on #289
To clarify, which branch should I test on? I was slightly confused about the courses label as I am unsure if this development is on dev. @umarWaris please let me know and I will review it.

[2016-07-22 05:53] SadiaRasheed commented on #345
@dogi @EmilyLarkin :
Updates on Issue#345(One paper per step):
It is working fine on our side (sadia's community, saba's community). Even if you submit multiple papers per step, only one paper (latest submission) exists in database replacing the previous papers.
 I installed new vagrant community from **badges branch** and tested this issue.
And today I found out the reason that why it is not work

[2016-07-22 05:54] SadiaRasheed commented on #345
![assignment](https://cloud.githubusercontent.com/assets/10362799/17047830/a337ade0-4ffa-11e6-8306-35772ea0cc4e.png)

[2016-07-22 07:18] SabaBaig commented on #375
I also have one question here related to Issue#375: Credits | Notify Leader to mark credits for Paper
Currently, I've implemented it so as to notify Leader about number of Learners who have completed those course for which he is the leader. But if that course has multiple leaders, then should one leader be given a notification to mark credits for other leader(s) too (if they attempt that course )?

[2016-07-22 07:31] SadiaRasheed opened #387 "Badges | Display values from database on badges details page for Learner"

[2016-07-25 06:23] SadiaRasheed opened #389 "show courses with completed steps on main page for learner"
Filter courses with completed steps and for which paper has been evaluated

[2016-07-25 06:24] SadiaRasheed commented on #387
https://github.com/open-learning-exchange/BeLL-Apps/commit/53403c4f251819bb048cbacc432708eb02324640

[2016-07-25 06:24] SabaBaig opened #390 "Easy Install | for updated nations already registered communities are now pending"
For updated nations, where a community was added by using old functionality of 'Add Community' then it was observed that after update that community was being labelled at nation side as 'Request Pending' which should not be the case.

[2016-07-25 06:25] SadiaRasheed commented on #387
![387](https://cloud.githubusercontent.com/assets/10362799/17092226/8261daac-525a-11e6-807f-87cb509f233f.PNG)

[2016-07-25 06:27] SadiaRasheed commented on #387
Issue#387 and Issue#341: (Badges| (UI) Badges page for student/learner) are related to each other

[2016-07-25 06:27] SadiaRasheed commented on #341
Issue #341 and Issue #387 are related

[2016-07-25 06:29] MuhammadWaqas05 commented on #381
https://github.com/open-learning-exchange/BeLL-Apps/commit/a08b3e1dd44d4d811553dd5e0e61023866e2a1ae

[2016-07-25 06:29] MuhammadWaqas05 commented on #382
https://github.com/open-learning-exchange/BeLL-Apps/commit/988090870a13eb7deb931cdaa9f653add60e5970

[2016-07-25 06:30] MuhammadWaqas05 commented on #385
https://github.com/open-learning-exchange/BeLL-Apps/commit/757721e7e1f1a8c39faaa9668e470ec8d4b6a8b1

[2016-07-25 07:09] umarWaris commented on #380
https://github.com/open-learning-exchange/BeLL-Apps/commit/369132a2b0c0f435004afb664beeabeef8e24186

[2016-07-25 10:43] umarWaris commented on #379
https://github.com/open-learning-exchange/BeLL-Apps/commit/3ec10fbfb4f260038e9d5397a16e8821b015b4a1

[2016-07-25 12:54] SabaBaig commented on #390
https://github.com/open-learning-exchange/BeLL-Apps/commit/af6fd366928c923168ba921bda03e17a054a834d

[2016-07-25 12:55] SabaBaig commented on #375
https://github.com/open-learning-exchange/BeLL-Apps/commit/855c362b427939131e690806c6bf3144d9558f3a

[2016-07-25 12:57] SabaBaig commented on #384
https://github.com/open-learning-exchange/BeLL-Apps/commit/88c09b67511d61d558fb5654d525d6f3b62c21d4
https://github.com/open-learning-exchange/BeLL-Apps/commit/80cce0cdd0b384949eba92a3b24609295b0d581c
https://github.com/open-learning-exchange/BeLL-Apps/commit/8c43feffbea06716b28314a360dff137e0e1b4b1

[2016-07-25 12:58] SabaBaig commented on #383
https://github.com/open-learning-exchange/BeLL-Apps/commit/f44d1441631a75cc82a675994dcbfda081b1b4db

[2016-07-25 12:58] SabaBaig commented on #383
https://github.com/open-learning-exchange/BeLL-Apps/commit/f44d1441631a75cc82a675994dcbfda081b1b4db

[2016-07-25 19:51] EmilyLarkin commented on #345
![screen shot 2016-07-25 at 3 49 26 pm](https://cloud.githubusercontent.com/assets/15271637/17115042/9c404d44-527f-11e6-8c93-d238b3236ab1.png)

[2016-07-25 19:53] EmilyLarkin commented on #345
@SadiaRasheed @SabaBaig When I tested this issue, it does allow for multiple paper uploads, but when you submit multiple papers for the same step, it doesn't replace them. As you can see above, you get multiple papers and you cannot tell which once was accurately for Step 1 (as in the most recent). A resubmitted paper should replace the old paper for that same step. FYI, please be aware that we sh

[2016-07-25 20:03] EmilyLarkin commented on #345
With @dogi's help, we checked the design documents on community and nation. As you can see on the community, the necessary design document is missing.
![screen shot 2016-07-25 at 4 02 10 pm](https://cloud.githubusercontent.com/assets/15271637/17115408/2e296168-5281-11e6-9fbc-070d6bcdb9fe.png)
On the nation, we have the design document on the nation.
![screen shot 2016-07-25 at 4 03 04 pm](https://

[2016-07-25 20:05] EmilyLarkin commented on #345
@SadiaRasheed as you know, we create our communities out of the update from the nation and apparently something in there is not working. That's why we put this issue back into Pre-Ready.

[2016-07-25 20:09] EmilyLarkin commented on #380
@SadiaRasheed @umarWaris Please provide some description on this issue and how to test it.

[2016-07-25 20:12] EmilyLarkin commented on #379
@SadiaRasheed @umarWaris Please provide more description on this issue and how to test it.

[2016-07-25 20:13] #357 closed, assigned to SabaBaig

[2016-07-25 20:13] #356 closed, assigned to SabaBaig

[2016-07-25 20:17] #265 closed, assigned to SabaBaig

[2016-07-25 20:19] #252 closed, assigned to SadiaRasheed

[2016-07-25 20:19] #289 closed, assigned to umarWaris

[2016-07-26 05:26] dogi commented on #337
Logo: http://open-learning-exchange.github.io/pages/uploads/images/logo.png

[2016-07-26 06:48] umarWaris commented on #379
1) Go to Courses
2) Click on add new course button or "manage" of existing course
3) Click on "Add Step" then provide required fields but don't tick outcome(Neither paper nor quiz), initial error would be "please select outcomes", then select appropriate outcome and click on the button
4) Now open the membercourseprogress database on the futon, and open the required document you would see repetiti

[2016-07-26 06:52] umarWaris commented on #380
1) Go to Courses
2) Click on "manage" of existing course
3) Click on "Delete" button for step, the given step would be removed.
4) Now open the membercourseprogress database on the futon, and open the required document you would see the stepIds still exist.

[2016-07-26 06:58] SabaBaig opened #392 "Credits | Filter courses on main page of Leader"

[2016-07-26 09:03] MuhammadWaqas05 opened #393 "Easy Install | delete community like reject"

[2016-07-26 09:03] MuhammadWaqas05 opened #394 "Easy Install | beautify accept/info of community form"

[2016-07-26 09:04] MuhammadWaqas05 opened #395 "Easy Install | switch buttons save == register"

[2016-07-26 09:04] MuhammadWaqas05 opened #396 "Easy Install | MUI work"

[2016-07-26 09:45] SadiaRasheed commented on #345
https://github.com/open-learning-exchange/BeLL-Apps/commit/1cee5dff916dd344a4a3f10653b3d3c4258a0cdb

[2016-07-26 09:47] SadiaRasheed commented on #345
I have updated the code for updating design docs. Now when the community will take update from nation, design doc of assignmentpaper database will be updated on community side. I have tested this on my side and it is working fine.

[2016-07-26 10:08] umarWaris commented on #386
https://github.com/open-learning-exchange/BeLL-Apps/commit/d4279d358025dcfdf14ab27db06a0f10ffd29b4e

[2016-07-26 10:48] umarWaris commented on #337
![capture](https://cloud.githubusercontent.com/assets/17467658/17135280/5a7a76cc-5348-11e6-9a9b-cb726d3b3cec.PNG)

[2016-07-26 10:49] umarWaris commented on #337
https://github.com/open-learning-exchange/BeLL-Apps/commit/adda7f63d03a06b8df610df177823e188af69e12

[2016-07-26 12:56] umarWaris commented on #386
this issue is resolved on badges branch

[2016-07-26 13:10] SabaBaig commented on #392
https://github.com/open-learning-exchange/BeLL-Apps/commit/922a7feab30384af25a8f93f7e2add09016280f1

[2016-07-26 13:45] #380 closed, assigned to umarWaris

[2016-07-26 14:17] EmilyLarkin commented on #379
@umarWaris Just to clarify and confirm, the stepIds should NOT be repeated, correct?

[2016-07-27 04:07] umarWaris commented on #379
@EmilyLarkin  yes

[2016-07-27 05:07] SadiaRasheed opened #399 "Credits | Implement 'submit credits' button functionality"

[2016-07-27 10:54] MuhammadWaqas05 commented on #393
https://github.com/open-learning-exchange/BeLL-Apps/commit/306961ecad2b7b624722639124bffe4c9f6ab55e

[2016-07-27 10:55] MuhammadWaqas05 commented on #395
https://github.com/open-learning-exchange/BeLL-Apps/commit/35835118e49c8e58656d762c668c0aea7b20cf3d

[2016-07-27 10:55] MuhammadWaqas05 commented on #394
https://github.com/open-learning-exchange/BeLL-Apps/commit/c9d25c3e52eb6496834905bf6375bc645b6eddd1

[2016-07-27 13:03] SadiaRasheed opened #400 "Badges | membercourseprogress document is not being created correctly for learner of a course"

[2016-07-27 13:04] SadiaRasheed commented on #400
This issue is cause behind issue#297 : Courses | Put a check-mark when document is uploaded

[2016-07-27 21:16] #379 closed, assigned to umarWaris

[2016-07-28 02:28] EmilyLarkin commented on #345
@SadiaRasheed @dogi I'm still having the error and I reinstalled my testing nation and community after the update. Please see my screenshot below.

[2016-07-28 02:29] EmilyLarkin commented on #345
![screen shot 2016-07-27 at 10 21 02 pm](https://cloud.githubusercontent.com/assets/15271637/17199265/88d5486a-5449-11e6-9618-04db9a1eeab6.png)

[2016-07-28 03:08] EmilyLarkin commented on #345
@SadiaRasheed @dogi still not working on our end even with an updated nation/community QA installation. See screenshot below

[2016-07-28 03:08] EmilyLarkin commented on #345
![screen shot 2016-07-27 at 11 07 22 pm](https://cloud.githubusercontent.com/assets/15271637/17199946/0ba87a50-544f-11e6-8959-27c3acc4d45a.png)

[2016-07-28 07:44] SadiaRasheed opened #403 "Badges | determine the status for learner based on passing percentage"

[2016-07-28 07:55] SadiaRasheed commented on #403
https://github.com/open-learning-exchange/BeLL-Apps/commit/8a08b959b835c043b1391a4ed01a8b1d5158184d

[2016-07-28 08:00] SadiaRasheed commented on #403
Determine the status as pass/ fail based on passing percentage.
For 'Paper' step ==> If marks in paper are greater than passing percentage the status is 'Pass' otherwise 'Fail'
For 'Quiz' step ==> If marks in quiz are greater than passing percentage the status is 'Pass'
otherwise 'Fail'
For 'Quiz'  and 'Paper' step ==> If marks in quiz are greater than passing percentage   "AND" marks in paper are

[2016-07-28 08:00] SadiaRasheed commented on #403
This is related to Issue#387: Badges | Display values from database on badges details page for Learner

[2016-07-28 08:03] SadiaRasheed commented on #400
This issue has been resolved and member course progress document is being created properly

[2016-07-28 09:48] SadiaRasheed commented on #400
https://github.com/open-learning-exchange/BeLL-Apps/commit/d6b4b090ad8b1b6ba7f89369284b5b9af680c2b8

[2016-07-28 09:50] SadiaRasheed commented on #297
@EmilyLarkin : you can test this issue and close it.
If this issue is working fine then Issue#400 will also be working fine
Please letme know if this works fine on your side as it is working on my side

[2016-07-28 09:57] SadiaRasheed commented on #389
This issue is related to Issue#352

[2016-07-28 09:58] umarWaris commented on #345
@EmilyLarkin @dogi i tested this issue on my community, this is working fine

[2016-07-28 10:40] MuhammadWaqas05 commented on #288
https://github.com/open-learning-exchange/BeLL-Apps/commit/cc69b3bf2475b1d0d7539d5490363837c1a8067c

[2016-07-28 12:27] #345 closed, assigned to SadiaRasheed

[2016-07-29 07:43] SabaBaig commented on #375
**Need to implement:**
Whenever a learner submits a paper for any step, there should be a notification to respective leader(s) and manager(s).

[2016-07-29 11:39] umarWaris commented on #386
https://github.com/open-learning-exchange/BeLL-Apps/commit/83e71f63864901dca1812dc16f96af4ba70e4be0

[2016-07-29 18:44] #386 closed, assigned to umarWaris

[2016-07-29 18:58] EmilyLarkin commented on #341
@SadiaRasheed page is up, but I want to keep this issue open as it will be helpful to the related issues.

[2016-07-29 19:08] EmilyLarkin commented on #400
@SadiaRasheed Can you provide some information on how to test this issue? I just need a bit more background to test for you

[2016-07-29 19:08] EmilyLarkin commented on #392
@SabaBaig, can you provide some information on how to test this issue? I will need some more background

[2016-07-30 03:38] dogi opened #404 "Dashboard | remove Release notes button"

[2016-07-30 03:39] #396 closed, assigned to SabaBaig

[2016-07-30 03:39] #393 closed, assigned to MuhammadWaqas05

[2016-07-30 03:39] #395 closed, assigned to MuhammadWaqas05

[2016-07-30 03:39] #394 closed, assigned to MuhammadWaqas05

[2016-07-30 03:39] #385 closed, assigned to MuhammadWaqas05, SabaBaig

[2016-07-30 03:39] #390 closed, assigned to SabaBaig

[2016-07-30 03:39] #364 closed, assigned to MuhammadWaqas05, SabaBaig

[2016-07-30 03:39] #384 closed, assigned to SabaBaig

[2016-07-30 03:39] #382 closed, assigned to MuhammadWaqas05

[2016-07-30 03:40] #383 closed, assigned to MuhammadWaqas05, SabaBaig

[2016-07-30 03:40] #381 closed, assigned to MuhammadWaqas05

[2016-07-30 03:40] #361 closed, assigned to MuhammadWaqas05

[2016-07-30 03:40] #321 closed, assigned to MuhammadWaqas05

[2016-07-30 03:40] #373 closed, assigned to MuhammadWaqas05

[2016-07-30 03:40] #334 closed, assigned to MuhammadWaqas05, SabaBaig

[2016-07-30 03:40] #363 closed, assigned to MuhammadWaqas05

[2016-07-30 03:40] #330 closed, assigned to SabaBaig

[2016-07-30 03:40] #320 closed, assigned to SabaBaig

[2016-07-30 03:41] #322 closed, assigned to MuhammadWaqas05

[2016-07-30 03:41] #286 closed, assigned to MuhammadWaqas05

[2016-07-30 03:41] #319 closed, assigned to SabaBaig

[2016-07-30 03:41] #307 closed, assigned to SabaBaig

[2016-07-30 03:41] #287 closed, assigned to SabaBaig

[2016-07-30 03:41] #333 closed, assigned to MuhammadWaqas05, SabaBaig

[2016-07-30 03:42] #288 closed, assigned to MuhammadWaqas05, SabaBaig

[2016-07-30 03:42] #247 closed, assigned to umarWaris

[2016-07-30 03:42] #325 closed, assigned to SabaBaig

[2016-07-31 03:15] dogi opened #405 "Password | is saved if set by Member page"
Generally we never wanna know any password and with release 0.12.27 we got that, but we missed following:
Any Member when password is reset trough the Member page gets stored in the password attribute even the new credentials are already exsisting

[2016-07-31 03:24] dogi commented on #405
example

[code]

please look specially at `"password": "stefanu"` which should be `"password": ""`

[2016-08-01 05:31] SabaBaig commented on #404
@dogi Release Notes button is already removed from Dashboard on "badges" branch because we had to make some space for two new buttons "badges" and "credits" respectively.

[2016-08-01 05:42] umarWaris opened #406 "Courses | error while adding new step for a course"
-make a course
-add 2-3 steps in the course
-delete 1st step
-add new step and error would occur "step already exist"

[2016-08-01 07:11] SabaBaig commented on #375
https://github.com/open-learning-exchange/BeLL-Apps/commit/967acb7ff9df002d07030c3b891b28449388a467

[2016-08-01 07:44] SabaBaig commented on #404
https://github.com/open-learning-exchange/BeLL-Apps/commit/b43941e01c9893a26befa76dc09fa5c73ff6567e

[2016-08-01 07:44] SabaBaig commented on #404
https://github.com/open-learning-exchange/BeLL-Apps/commit/b43941e01c9893a26befa76dc09fa5c73ff6567e

[2016-08-01 09:49] dogi opened #407 "Password | Manager should be able to change Member profile without having to type the password"
also

... when a Manager needs to change the password he should be still able to

[2016-08-01 10:31] SabaBaig commented on #405
https://github.com/open-learning-exchange/BeLL-Apps/commit/cd0744e799c4daee2285fe3a49f9e6edf57d815d

[2016-08-02 05:23] dogi opened #408 "Navigation | Remove "e-Readers""

[2016-08-02 05:29] dogi opened #409 "Dashboard | move "Update Welcome Video" button to manager page"

[2016-08-02 10:09] umarWaris commented on #377
@EmilyLarkin  you just need to refresh the dashboard page.

[2016-08-02 10:43] umarWaris commented on #406
@dogi  error is not occurring on freshly installed community

[2016-08-03 07:13] umarWaris commented on #406
https://github.com/open-learning-exchange/BeLL-Apps/commit/316cdda2fd9a040c383d1c32094db22a661d1ea3

[2016-08-03 07:17] umarWaris opened #413 "Courses | Deleting the steps the step ids are not removed from the coursememberprogress"
1) Go to Courses
2) Click on "manage" of existing course
3) Click on "Delete" button for step, the given step would be removed.
4) Now open the membercourseprogress database on the futon, and open the required document you would see the stepIds still exist.
this is same to https://github.com/open-learning-exchange/BeLL-Apps/issues/380 that we have solved already but with the different approach

[2016-08-03 11:53] umarWaris commented on #413
https://github.com/open-learning-exchange/BeLL-Apps/commit/50c34bdae958eaaba0f61e71ec3247cbbbe55622

[2016-08-04 12:39] dogi commented on #337
Creating the database and the link was very timeconsuming

I ended up replicating db

![37-1](https://cloud.githubusercontent.com/assets/13684059/17401986/bc360cfa-5a1e-11e6-9c60-c79fbaac279e.png)

[2016-08-04 12:50] dogi commented on #337
create db already on update and install

and by init_docs create following user

[code]

[2016-08-08 12:53] umarWaris commented on #337
https://github.com/open-learning-exchange/BeLL-Apps/commit/5d54f42aa7a7dc4a60eaa19f2ee1083682df914d

[2016-08-09 05:15] #308 closed, assigned to MuhammadWaqas05

[2016-08-09 06:38] #193 closed

[2016-08-09 11:06] SadiaRasheed commented on #399
https://github.com/open-learning-exchange/BeLL-Apps/commit/e9f58ad19f1a7cdbd6535445e7526fc6cf95c3c1

[2016-08-09 11:07] SadiaRasheed commented on #399
![399-1](https://cloud.githubusercontent.com/assets/10362799/17514294/4271bd70-5e4b-11e6-8ba4-651c551c8842.PNG)

---

![399-2](https://cloud.githubusercontent.com/assets/10362799/17514298/4637d7f0-5e4b-11e6-8398-9fba56df4b67.PNG)

[2016-08-10 07:45] SadiaRasheed opened #419 "Bagdes| Add "Download paper" button to credits details page for leader"
![download paper](https://cloud.githubusercontent.com/assets/10362799/17545872/a704964c-5ef8-11e6-917c-23b6d96f5e07.PNG)

The “Download” button allows the Leader to download the paper that was submitted for that step.

[2016-08-11 05:08] umarWaris opened #420 "Correct styling on navigation bar on Nation supporting MUI"

[2016-08-11 09:37] umarWaris commented on #408
https://github.com/open-learning-exchange/BeLL-Apps/commit/f3efde2b474d39b11cbab496f8fc6604db0dfc53

[2016-08-11 09:37] umarWaris commented on #409
https://github.com/open-learning-exchange/BeLL-Apps/commit/dbbd794af8cae4db388a56c6218db7b5f6a1f55c

[2016-08-11 09:54] SadiaRasheed opened #422 "Badges | Add 'Open Button' on Courses page"

[2016-08-11 09:57] SadiaRasheed commented on #422
![open button](https://cloud.githubusercontent.com/assets/10362799/17585222/ece7b230-5fd3-11e6-88a3-16dc7aef375f.png)

[2016-08-11 10:07] SadiaRasheed opened #423 "Badges | Add 'Credits Button' to courses page"

[2016-08-11 10:09] SadiaRasheed opened #424 "Badges | Add drop down menu to Credits page"

[2016-08-11 12:27] #408 closed, assigned to umarWaris

[2016-08-11 16:28] DrewPerlman opened #425 "Articles (a/an/the) should be ignored in alphabetical order in Library"
Resource that start with "A", "An", or "The" should be organized by the first letter of their **second** word.

[2016-08-12 07:51] SadiaRasheed opened #426 "Show Quiz and Paper in separate rows for "Quiz and Paper" step"
![qp](https://cloud.githubusercontent.com/assets/10362799/18050384/b630ca8c-6e07-11e6-997b-227531da1ca3.PNG)

[2016-08-12 10:06] SadiaRasheed commented on #426
https://github.com/open-learning-exchange/BeLL-Apps/commit/14b261f79959419a37283070c40390345ba6f341

[2016-08-16 05:40] #366 closed, assigned to sente, SadiaRasheed, MuhammadWaqas05, dogi, SabaBaig, EmilyLarkin, umarWaris

[2016-08-17 07:38] SadiaRasheed opened #430 "Remove 'members of a course' page from badges' old functionality"
Previously on submissions page there was an "open" button which took us to another page where members were listed down but this page was not needed anymore as we are showing members in drop down menu.
So members page is no more showing up

[2016-08-17 11:04] umarWaris commented on #420
https://github.com/open-learning-exchange/BeLL-Apps/commit/e6557220583812e5e0721f22473b41c221f61d18

[2016-08-18 05:30] SadiaRasheed opened #431 "Add submissions button on dashboard and complete submissions page"
![submissions](https://cloud.githubusercontent.com/assets/10362799/17772237/36e4c124-6561-11e6-9056-95ba52f3ee56.PNG)

![submissions page](https://cloud.githubusercontent.com/assets/10362799/17772241/3c31f00c-6561-11e6-9239-7d8b37f3b0d0.PNG)

[2016-08-18 11:33] SadiaRasheed commented on #431
Add submissions button on Dashboard and add functionality related to this button. When this button is clicked submissions page should open as shown in the picture.
Submissions means ==> A Learner submits a paper

[2016-08-18 12:25] dogi commented on #360
change this update from 10 seconds to 60 seconds

[2016-08-19 06:27] SadiaRasheed opened #432 "Credits | Add Grade button on submissions page"

[2016-08-22 05:48] umarWaris commented on #409
![capture](https://cloud.githubusercontent.com/assets/17467658/17844735/fb8713f0-6855-11e6-8b06-b7896ec0419b.PNG)

[2016-08-22 05:49] umarWaris commented on #409
Now the width of the buttons is set to auto

[2016-08-22 06:55] umarWaris commented on #409
https://github.com/open-learning-exchange/BeLL-Apps/commit/5498e9c9eac1082cf10696703b28ba590d34bab5

[2016-08-22 09:16] umarWaris commented on #360
https://github.com/open-learning-exchange/BeLL-Apps/commit/7e8e28dea3bbbc03bb802f0798185fac58a3e919

[2016-08-22 11:47] umarWaris commented on #423
https://github.com/open-learning-exchange/BeLL-Apps/commit/1538dd307c90ed06e48d0ebed3fcfe217f4bb634

[2016-08-23 05:33] #409 closed, assigned to umarWaris

[2016-08-23 05:34] dogi opened #436 "Nation: Improve look of button in Manager page"
Buttons should look like the same way as they look in the community Manager page
- [x] font size
- [x] spacing between the buttons

[2016-08-23 05:34] dogi opened #437 "Welcome Video: fix display error"

[2016-08-23 06:08] #392 closed, assigned to SabaBaig

[2016-08-23 06:13] #337 closed, assigned to umarWaris

[2016-08-23 06:13] #405 closed, assigned to MuhammadWaqas05, SabaBaig

[2016-08-24 09:54] umarWaris commented on #436
https://github.com/open-learning-exchange/BeLL-Apps/commit/b9c1de6ded55d0754abdfa099a7aa791b0da17de

[2016-08-25 07:34] SadiaRasheed commented on #432
https://github.com/open-learning-exchange/BeLL-Apps/commit/e5b972b14d7b68d3d4476989a87c06570de83178

[2016-08-25 07:35] SadiaRasheed commented on #432
https://github.com/open-learning-exchange/BeLL-Apps/commit/2c9f1f0b5744074f9c4d518db261eb0dd923bb87

[2016-08-25 07:36] SadiaRasheed commented on #432
![grade button](https://cloud.githubusercontent.com/assets/10362799/17960608/939245fe-6ac0-11e6-9682-cfd41cf7800b.PNG)

[2016-08-25 12:29] #436 closed, assigned to umarWaris

[2016-08-25 12:35] #420 closed, assigned to umarWaris

[2016-08-25 12:35] #216 closed, assigned to SabaBaig

[2016-08-25 12:36] #437 closed, assigned to umarWaris

[2016-08-26 07:49] SadiaRasheed opened #441 "Add 'Percentage' column in credits Details page"
![ssss](https://cloud.githubusercontent.com/assets/10362799/17998268/eb9018f4-6b8c-11e6-9f11-2f17a4d53b4c.PNG)

[2016-08-26 07:50] SadiaRasheed commented on #441
Added percentage column to credits details page

[2016-08-26 07:54] SadiaRasheed opened #442 "On clicking submit button, it should show proper message"
If Learner has not submitted any paper, on clicking submit button it should show message"Learner has not submitted any paper"

![442-1](https://cloud.githubusercontent.com/assets/10362799/17998257/dcb4f836-6b8c-11e6-99da-92b699d4fc02.PNG)

[2016-08-26 07:56] SadiaRasheed commented on #442
![442-2](https://cloud.githubusercontent.com/assets/10362799/17998179/8291ec42-6b8c-11e6-937d-a76ce70ec728.PNG)

[2016-08-26 07:57] SadiaRasheed commented on #441
https://github.com/open-learning-exchange/BeLL-Apps/commit/f549ba33a469aa7d13c9545b357d16de12f029ef

[2016-08-26 07:57] SadiaRasheed commented on #442
https://github.com/open-learning-exchange/BeLL-Apps/commit/f549ba33a469aa7d13c9545b357d16de12f029ef

[2016-08-26 18:22] EmilyLarkin commented on #432
Great work!! @SadiaRasheed

[2016-08-26 18:23] #432 closed, assigned to SadiaRasheed

[2016-08-26 18:23] #430 closed, assigned to SadiaRasheed

[2016-08-26 18:28] EmilyLarkin commented on #350
So @SadiaRasheed, the paper is almost gradable, but there are still some errors. You can see the box where you could submit the grade, but the box is grayed out and does not look clickable. However, I can enter a grade (although the text doesn't change) and hit submit which will lead to some strange fraction that isn't quite right yet.

[2016-08-26 18:29] EmilyLarkin commented on #350
![screen shot 2016-08-26 at 2 28 21 pm](https://cloud.githubusercontent.com/assets/15271637/18016291/88c486bc-6b99-11e6-85da-0427a5005006.png)

[2016-08-26 18:29] EmilyLarkin commented on #350
![screen shot 2016-08-26 at 2 28 58 pm](https://cloud.githubusercontent.com/assets/15271637/18016294/8e62e1b8-6b99-11e6-8386-16a86464cb6b.png)

[2016-08-29 07:43] dogi commented on #336
[code]

[2016-08-29 09:34] umarWaris commented on #422
https://github.com/open-learning-exchange/BeLL-Apps/commit/be533a60ada41558261eb7ee5748e4ae339adedc

[2016-08-29 11:42] SadiaRasheed commented on #424
![dropdown](https://cloud.githubusercontent.com/assets/10362799/18050358/875d32c2-6e07-11e6-9a63-3218778ae08f.png)

[2016-08-29 11:47] SadiaRasheed commented on #375
It is related to Issue#432: https://github.com/open-learning-exchange/BeLL-Apps/issues/431

[2016-08-29 11:48] #389 closed, assigned to SadiaRasheed

[2016-08-29 11:48] #344 closed, assigned to SadiaRasheed, SabaBaig

[2016-08-29 11:48] #342 closed, assigned to SadiaRasheed

[2016-08-29 11:51] #290 closed, assigned to SadiaRasheed

[2016-08-29 12:03] SadiaRasheed commented on #350
https://github.com/open-learning-exchange/BeLL-Apps/commit/002a0f6be63c7eac97f66b76133d901010ce7fb8

https://github.com/open-learning-exchange/BeLL-Apps/commit/f88112edc302c11a0c496c1b4ebc6717e13eb38e

https://github.com/open-learning-exchange/BeLL-Apps/commit/14be6f1857e36f1c9c812159dda5db2138d970b0

https://github.com/open-learning-exchange/BeLL-Apps/commit/cb5fa375d440758c0536d9205f41be8954023e

[2016-08-31 06:11] umarWaris commented on #336
https://github.com/open-learning-exchange/BeLL-Apps/commit/6b5dba99a625b24695dd8221807c76090f37910c

[2016-08-31 09:46] SadiaRasheed commented on #442
https://github.com/open-learning-exchange/BeLL-Apps/commit/a8a872f3a795557474f663a304490318bb8d8e03

[2016-08-31 12:29] #352 closed, assigned to SadiaRasheed

[2016-08-31 12:30] #387 closed, assigned to SadiaRasheed

[2016-08-31 12:32] SadiaRasheed commented on #341
![bp](https://cloud.githubusercontent.com/assets/10362799/18128763/dc65b812-6fa0-11e6-92aa-946a7f904c52.PNG)

[2016-08-31 12:32] SadiaRasheed commented on #341
https://github.com/open-learning-exchange/BeLL-Apps/commit/ffcf9bccd568caec6726575c0d89522f7b36117d

[2016-09-01 12:25] dogi commented on #336
awesome so far  ;)

would like to see also a popup on click saying

[code]

or

[code]

[2016-09-05 07:50] umarWaris commented on #336
https://github.com/open-learning-exchange/BeLL-Apps/commit/ea2d3af0fcb3d1b754e118e58df818fe5a193713

[2016-09-06 05:24] #76 closed

[2016-09-06 06:07] dogi commented on #338
Add an alert "Are you sure you want to upload this resource?" with button's "cancel" and "OK"

also "add to Nation" button should disappear when nation is not visible

[2016-09-06 06:18] dogi opened #446 "nation: manager confirmation of from community uploaded resources"
Since right now resources uploaded by a community differ by the attribute "type" : "community", we are able to identify them.

We will create a button like "resourses(<number>)" which leads to a library view with for each resource following buttons: "Open", "View Details", "Accept" and "Decline"

Accept will remove the attribute "type"
Decline will remove the whole resource

Also resource of this

[2016-09-08 06:56] SadiaRasheed opened #447 "Badges | Marks are not being saved for all the papers"
after clicking on "Submit Credits" button, Marks are being saved only for first paper and not for the other papers if there are any. This is due to some delay in async property of ajax call. Some delay cause this problem.

[2016-09-08 10:09] umarWaris commented on #338
https://github.com/open-learning-exchange/BeLL-Apps/commit/fdec7fdb547231eb9c39dd36bb9894c1b34671e6

[2016-09-08 12:16] dogi commented on #336
As the title says this feature should only show up on a Community

Folling picture is a nation
![46-1](https://cloud.githubusercontent.com/assets/13684059/18348929/57191bde-759c-11e6-9be7-bea885d3a251.png)

Please remove or transparent the awareness feature for nations

[2016-09-08 12:48] dogi commented on #338
If resource already exists on the nation add an alert "Resource is already at Nation" and don't add to Nation

[2016-09-09 08:13] SadiaRasheed commented on #447
https://github.com/open-learning-exchange/BeLL-Apps/commit/6bd6c9eb6f6cf3119c14ba28203e88ca0909ed8e

[2016-09-09 10:12] umarWaris commented on #338
https://github.com/open-learning-exchange/BeLL-Apps/commit/a9202fa9609962d1167f876d6d09ab34d19f6885

[2016-09-15 07:09] umarWaris commented on #336
https://github.com/open-learning-exchange/BeLL-Apps/commit/0cb7d61731ea3b02194fe6bdea5b0a735f0d5852

[2016-09-15 10:15] SadiaRasheed opened #449 "Clicking on "Delete" in Courses should show a proper message"
When the "delete" button in Courses is clicked, it should show a message " Are you sure you want to delete this course?"

[2016-09-15 10:17] SadiaRasheed commented on #449
![delete](https://cloud.githubusercontent.com/assets/10362799/18546465/896124cc-7b57-11e6-94cc-fe2b35841000.PNG)

[2016-09-15 10:18] SadiaRasheed opened #450 "Change the Nav Bar direction"
Change the nav Bar direction for badges functionality

[2016-09-15 10:19] SadiaRasheed commented on #450
![navbar](https://cloud.githubusercontent.com/assets/10362799/18546520/d65605fe-7b57-11e6-9214-8e9f57f40363.PNG)

[2016-09-15 11:54] umarWaris commented on #450
https://github.com/open-learning-exchange/BeLL-Apps/commit/c6a160b69c814d57683d24f818c216a164726569
https://github.com/open-learning-exchange/BeLL-Apps/commit/c6ac3ae01b0506019f5103cff06b60fb48b6c335

[2016-09-15 12:12] dogi opened #451 "Publication: waiting wheel missing when syncing"

[2016-09-15 12:22] #336 closed, assigned to umarWaris

[2016-09-15 12:22] #338 closed, assigned to umarWaris

[2016-09-16 07:06] SadiaRasheed opened #452 "Manager should be able to see contents of the course after clicking "Open" button"
In a Leaderless Course, Manager should be able to see contents (steps) of the course when he clicks on Open button.
Course->Open

[2016-09-16 09:44] SadiaRasheed opened #453 "Manager should be able to see administrative view of "Credits""
In a leaderless course, manager should be able to see administrative view for credits after clicking on "Credits" button.
Courses-> credits

[2016-09-16 10:02] SadiaRasheed opened #454 "Replace '2' with '0' to show ungraded paper"
'2' does not make any sense for ungraded paper. replace it with '0'

[2016-09-16 10:03] SadiaRasheed commented on #454
https://github.com/open-learning-exchange/BeLL-Apps/commit/6248ffa819513dc151632b008081bd2dca453c29

[2016-09-16 10:44] SadiaRasheed commented on #452
To see the contents of the course, Manger should be a member or leader of the course. It is already implemented this way.  Each member and leader of the course have a member courseprogressdocument in the memebercourseprogress database, which is responsible for tracking the progress for the course. If a manager don't have this
membercourseprogress document in the database, he won't be able to see t

[2016-09-16 11:27] SadiaRasheed commented on #453
If admin is neither a learner nor a Leader, he will see the administrative functionality after clicking on credits. (existing)

If admin is Learner then he should also see the administrative functionality of the credits. (todo)

If admin is neither a learner nor a leader then he will not have
membercourseprogress document in the database and he will not be able to grade himself as he can't attempt

[2016-09-16 11:41] SadiaRasheed opened #455 "when leader/manager submits credits, after submitting credits there should be an automatic refresh"

[2016-09-19 06:22] SadiaRasheed opened #456 "If a paper has been graded, Message from "Submissions" should be removed"
If a paper has been graded, Submissions count should be decremented and message should be removed for that paper

[2016-09-19 12:47] umarWaris commented on #451
https://github.com/open-learning-exchange/BeLL-Apps/commit/f973201d930814b6702d80a9436784c79c9e5fbc

[2016-09-20 05:23] #451 closed, assigned to umarWaris

[2016-09-20 12:08] SadiaRasheed commented on #350
https://github.com/open-learning-exchange/BeLL-Apps/commit/87a4764662ea2f4ea917ed36dc83fe9c6407db3a

[2016-09-20 12:08] SadiaRasheed commented on #341
https://github.com/open-learning-exchange/BeLL-Apps/commit/87a4764662ea2f4ea917ed36dc83fe9c6407db3a

[2016-09-20 12:09] SadiaRasheed commented on #341
![341](https://cloud.githubusercontent.com/assets/10362799/18669559/096a6a74-7f55-11e6-94b6-99f50f21d7ff.PNG)

[2016-09-21 07:17] umarWaris commented on #446
I wanted to tell you that we would not remove attribute "type" instead we would change its value from "community" to "nation".

Like , when we create a new resource at community , "type" has value "community".
and so, when we create a new resource at nation , "type" has value "nation".

[2016-09-21 17:25] sente commented on #446
https://github.com/open-learning-exchange/BeLL-Apps/blob/50ec2ce5d5837b7701c6bac27db812b36c508746/app/MyApp/app/views/PendingResourceTable.js

Is creating a new `PendingResources` model the best way to go about this?  I very well may be but the code is 95% the same as Resources.. makes me think there may be a better way.

Thoughts, @dogi, @umarWaris?

[2016-09-22 06:12] umarWaris commented on #446
@dogi @sente , i am not creating new model, i am just creating some views

[2016-09-26 07:26] dogi commented on #446
thanks @sente - sorry did not see your comments earlier

I was once suggesting similar way to @umarWaris but he convinced me that this other is also viable  ...

[2016-09-26 09:38] SadiaRasheed commented on #455
https://github.com/open-learning-exchange/BeLL-Apps/commit/c119c28da20bd11d49804e3e1aea69cb5239926c

[2016-09-27 05:19] dogi opened #457 "Community: ability to see local created resources"
new resources created on a community will have the "status" "local", which we would like show in a special view on the Library page ...

[2016-09-28 11:32] umarWaris commented on #446
https://github.com/open-learning-exchange/BeLL-Apps/commit/be75a2f851c5ac590736fc93d7f18ec26a6f7c48

[2016-09-29 03:40] dogi opened #459 "Library search: in Arabic language last resources gets displayed off the grid"
![screen-shot-2016-09-28-at-3 21 51-pm](https://cloud.githubusercontent.com/assets/13684059/18940331/43cd7c98-85d5-11e6-9213-a5f5c36d26ae.png)

[2016-09-29 03:52] dogi opened #460 "Nation: Community button shows up all the time and for every Member"

[2016-09-29 03:54] dogi opened #461 "Nation: non-manager created resources should be verified by managers"

[2016-09-29 03:58] #31 closed

[2016-09-29 03:58] #33 closed

[2016-09-29 03:58] #30 closed

[2016-09-29 04:02] #102 closed

[2016-09-29 04:03] #223 closed, assigned to nobody

[2016-09-29 05:08] SadiaRasheed opened #462 "After the grading of paper,when member opens course, check mark is not visible"

[2016-09-29 05:10] SadiaRasheed opened #463 "if paper is graded then marks should be displayed instead of checkmark"
In some cases, Check Mark and Marks are not being displayed when course is opened

[2016-09-29 05:10] SadiaRasheed opened #464 "If a step, which contains both paper and quiz, is completed. It is not indicated in "My Courses Progress""
There are three places where this should be corrected.

[2016-09-29 05:11] SadiaRasheed opened #465 "There should be an automatic refresh after the paper is uploaded just like in Quiz"

[2016-09-29 05:12] SadiaRasheed opened #466 "" Your admission request has been rejected" email issue"
After accepting course "Admission" request, If "email" is deleted then an email is sent to the sender with message " Your admission request has been rejected"

[2016-09-29 05:13] SadiaRasheed opened #467 "Paper button ( Paper for step ) is not visible on "MyCourseProgress" page"

[2016-09-29 05:13] SadiaRasheed opened #468 "status value of submitted paper which is not submitted is changed"
There are two steps for uploading paper and If one paper is submitted, notification goes to submissions. If leader submits credits for one paper then status value of un-submitted paper is changed and it should not show such behavior

[2016-09-29 07:54] umarWaris commented on #457
https://github.com/open-learning-exchange/BeLL-Apps/commit/9ea5136b5644aec97b612d45a2aff15c759b436f

[2016-09-29 12:26] dogi opened #470 "Community: Local Resources show only resources with local status value"

[2016-09-29 12:34] dogi opened #471 "Add Resources to Nation after decline upload does not work a 2nd time"

[2016-09-29 12:40] #446 closed, assigned to umarWaris

[2016-09-29 12:40] #457 closed, assigned to umarWaris

[2016-09-29 12:45] umarWaris commented on #452
If manager is neither a learner nor a leader then Hide "Open" button

[2016-09-30 15:40] lmmrssa commented on #459
This is what i'm getting on search result for **rtl layout**. Checked on both _0.12.46_ and _0.12.49_ version.

![rtl_layout](https://cloud.githubusercontent.com/assets/2909490/18997470/35ee06f8-8754-11e6-97cd-988cde1d30da.png)

Could you please re-confirm the issue.

[2016-10-03 05:47] umarWaris commented on #460
Already resolved in https://waffle.io/open-learning-exchange/BeLL-Apps/cards/57ea0150dc21552e01b73987

[2016-10-03 05:52] umarWaris opened #472 "Nation: Rearrangement of buttons"
The sequence of buttons should be as following
Resources     Surveys     Communies     Software Update

[2016-10-03 05:59] umarWaris commented on #472
@dogi  please tell me about "Software Update" button whether it is community side  ?

[2016-10-03 06:00] umarWaris commented on #472
![capture](https://cloud.githubusercontent.com/assets/17467658/19028704/8479c8ba-8958-11e6-8fc3-9928f0938467.PNG)

[2016-10-03 06:04] umarWaris opened #473 "Nation: Changing in "Communities" and "Resources" buttons"
1) Change the background
2) Show notification in red text
3) Display these buttons if count > 0

[2016-10-03 06:52] SadiaRasheed commented on #463
Related to Issue#462

[2016-10-03 09:20] umarWaris commented on #473
https://github.com/open-learning-exchange/BeLL-Apps/commit/cc0a995b8d0daac40f7be75943331e05741eb156

[2016-10-03 10:13] umarWaris commented on #472
I am noticing only two buttons at nation side and three buttons at community side
1) Nation Side(Communities, Resources)
2) Community Side(Publications, Software Update, Surveys)

[2016-10-04 05:47] dogi opened #476 "Community: Become a community form check for double names/codes"
There are three test cases
1) Fresh install (and upgrade from older version)
2) updating(nation is changed)
3) updating(name and/or code is not changed)

[2016-10-04 06:32] dogi commented on #459
hmm not reproducible ;)

[2016-10-04 06:32] #459 closed, assigned to lmmrssa

[2016-10-04 06:43] #460 closed, assigned to umarWaris

[2016-10-04 06:44] #473 closed, assigned to umarWaris

[2016-10-04 10:14] umarWaris commented on #472
https://github.com/open-learning-exchange/BeLL-Apps/commit/47a3ceadd82a2f119da03abdabe897f851397ea6

[2016-10-04 10:44] umarWaris commented on #470
https://github.com/open-learning-exchange/BeLL-Apps/commit/f738e06f1227805366d2b796e07e0709791d2c7d

[2016-10-04 12:08] umarWaris opened #481 "Community: Open the existing Tab when adding a resource through Local Resource Tab"

[2016-10-04 12:55] SadiaRasheed commented on #468
https://github.com/open-learning-exchange/BeLL-Apps/commit/10161b3585aa36fd8b776246e7731da433d0d1b9

[2016-10-04 12:55] SadiaRasheed commented on #465
https://github.com/open-learning-exchange/BeLL-Apps/commit/5821869f417d3237d475fb6c8e3d401b5b1c3e2a

[2016-10-04 12:56] SadiaRasheed commented on #463
https://github.com/open-learning-exchange/BeLL-Apps/commit/c34d51f1bd11542d009ab51e6e45a2246ad0f7a6

[2016-10-05 06:12] umarWaris commented on #481
https://github.com/open-learning-exchange/BeLL-Apps/commit/3bf40af676a4850bfe441410ab4fdb510843a8ec

[2016-10-05 06:47] SadiaRasheed opened #483 "Leader/Manager should receive his submission notifications himself"
If a leader submits a paper, he should be the one to receive submission notification

[2016-10-05 06:49] SadiaRasheed commented on #466
I am not able to reproduce this issue today when I started working on this. I reproduced this Issues last week when I QAed badges but right now it is just disappeared.

[2016-10-05 06:50] #403 closed, assigned to SadiaRasheed

[2016-10-05 07:22] SadiaRasheed commented on #453
@dogi @umarWaris : Admin should be able to grade himself/herself and any member of the course and even leader of the course.
 When Admin is logged in and he is neither a learner nor a Leader
            He should be able to see administrative view and be able to grade members
When Admin is a leader or a Learner
           He should be able to grade himself and other members even Leader
@dogi : Thi

[2016-10-05 07:23] SadiaRasheed opened #484 "Hide " Open " button for manager"
If admin is neither a learner nor a leader, Make " Open" button invisible for him

[2016-10-05 07:25] SadiaRasheed commented on #484
@dogi : I have assigned this to @umarWaris as he has already worked on this
Solution for Issue#452 as requirement was changed for Open button

[2016-10-05 07:34] SadiaRasheed commented on #483
1- Leader:
                     Leader of a course should receive his own submissions' notifications
2- Manager:
                    If Manager is a Learner or a Leader of a course, he should receive his own submissions' notification
 @dogi : This is what you asked for right?

[2016-10-06 05:20] SadiaRasheed commented on #483
https://github.com/open-learning-exchange/BeLL-Apps/commit/727b78afdd364aafbe7477a9742ec24d1a16f828

[2016-10-06 06:56] umarWaris commented on #484
https://github.com/open-learning-exchange/BeLL-Apps/commit/2216a465c9e9e8d2b12d5351ef1ab9218b3ec5da

[2016-10-06 10:19] SadiaRasheed commented on #464
1) Dashboard => MyCoursesProgress
![part 1](https://cloud.githubusercontent.com/assets/10362799/19148864/3830f550-8bd8-11e6-8afa-a4a2a84a73d3.PNG)

[2016-10-06 10:20] SadiaRasheed commented on #464
2) Courses shown on Dashboard
![part2](https://cloud.githubusercontent.com/assets/10362799/19148887/60021000-8bd8-11e6-971f-9dcc4fc6c077.PNG)

[2016-10-06 10:20] SadiaRasheed commented on #464
3) Courses=>Progress
![part 3](https://cloud.githubusercontent.com/assets/10362799/19148897/6c081b6a-8bd8-11e6-9f65-15ba7033cc67.PNG)

[2016-10-06 12:16] #472 closed, assigned to umarWaris

[2016-10-06 12:34] dogi opened #487 "open resources is broken"
version 0.12.50

[2016-10-06 12:52] dogi commented on #487
it was again just browser cache
still unsolved how to empty cache cleanly

[2016-10-06 12:52] #487 closed, assigned to nobody

[2016-10-06 13:02] #481 closed, assigned to umarWaris

[2016-10-06 13:02] #470 closed, assigned to umarWaris

[2016-10-07 12:41] umarWaris commented on #464
https://github.com/open-learning-exchange/BeLL-Apps/commit/cf41581ae9c64a2687e619bfc9e4a8573d2af908

[2016-10-18 11:10] umarWaris commented on #476
@dogi Please add description for each scenario

[2016-10-19 12:58] umarWaris commented on #471
https://github.com/open-learning-exchange/BeLL-Apps/commit/521e6b0e8a01e5b02d019da03dec9d6f9c1016f5

[2016-10-19 12:58] umarWaris commented on #407
https://github.com/open-learning-exchange/BeLL-Apps/commit/53fb8f3b20330060113059b5bb7db8d9d13da40a

[2016-10-19 17:40] dogi opened #491 "Investigate how to remove some of the 404 error on loading time"
First step here is to make a list of the different errors

[2016-10-20 12:25] dogi opened #492 "Nation: members page show also members of communities in an editable/deletable way"

[2016-10-21 06:51] dogi opened #493 "multiple community publication parallel download are not able to inform nation about success"

[2016-10-21 07:19] dogi opened #494 "community loses configuration document when center and nation are the same"

[2016-10-25 07:43] #407 closed, assigned to lmmrssa

[2016-10-27 06:29] SadiaRasheed commented on #476
Requirements for this issue are not clear. Please elaborate a little bit more so that I can understand.
- If there is a community on central nation with the same name and same nation as your community then it should prompt user to change the name? or what?
- It should check the central nation for community name , code and nation url and if match found then configuration doc should not be replicate

[2016-10-27 07:43] umarWaris commented on #493
- Code understanding
- reproducing this issue on my side
- installing vagrant community
- Testing of this Issue
- 1st scenario: when publication is synced on community side, fetch the document "publications" document from nation and get attribute "DownloadedBycommunities" to get latest list of community names and push your community name into this array.
- Publication/for_community
     1) If two

[2016-10-27 10:59] SadiaRasheed commented on #476
what I did so far.
           -When user clicks on register, A request is sent to the central database which get those documents having the same community name as entered by user.  And then what should it do?

[2016-10-27 12:05] #471 closed, assigned to umarWaris

[2016-10-28 07:36] umarWaris commented on #493
a) Simultaneously Download
 1) hit on sync button of both communities
 2) hit on sync button for one community and hit on sync button of other after
b) refreshing the page
Sequential Download
 1) hit on sync button of both communities
 2) hit on sync button for one community and hit on sync button of other after refreshing the page

[2016-10-28 10:10] SadiaRasheed commented on #476
What have been implemented so far?
Duplicate Name Finder
              Whenever user clicks on Register on configurations page, system will check on Central database whether this community name , code already exist for the same nation or not. If exists it prompts user to choose another name.

[2016-11-02 06:58] prajwol5667 commented on #491
removed some extra codes and corrected some typo errors  due to  which some 404 errors were occurring .

[2016-11-02 09:44] lmmrssa commented on #492
@dogi  It seems there is nothing identical in the record to identify is the record from nation itself or from the community. So we might require some identifier to be included to know is the member from nation or community.

[2016-11-03 09:46] umarWaris commented on #494
https://github.com/open-learning-exchange/BeLL-Apps/commit/1451030a00a58601c562885aa029e4e7e71dc0ff

[2016-11-03 11:41] SadiaRasheed commented on #476
https://github.com/open-learning-exchange/BeLL-Apps/commit/edf0b1b156a419e8d1f8237f3cb8b29fa6197d75

[2016-11-03 11:41] SadiaRasheed commented on #476
https://github.com/open-learning-exchange/BeLL-Apps/commit/711c0b5a469e055529b39748587b256c2dfce5dc

[2016-11-03 12:55] dogi commented on #476
in configurations form - allow changes when same name and/or code when document has same id this community

[2016-11-03 13:13] dogi commented on #494
check for
"nationisregister" = false     (which you get from configurations db)
instead of
currentNation != centralNationUrl

also add
"nationisregister" = false
to init_docs for nation

[2016-11-07 11:50] umarWaris commented on #493
https://github.com/open-learning-exchange/BeLL-Apps/commit/f7041ff5f92a32d56aca554a50976080403e4722

[2016-11-08 06:55] dogi opened #501 "Community: library page every resource creates 3 request on nation"
every resource creates 3 requests

[code]

which for 600 resources is around 1800 ;)

we should be able to shrink that into on request only per library page

[2016-11-08 07:19] dogi opened #502 "Community: update of resources design document is not working when was manually fixed"

[2016-11-08 08:23] lmmrssa commented on #492
Figured out the requirements and working out the required changes

[2016-11-08 10:23] umarWaris commented on #501
https://github.com/open-learning-exchange/BeLL-Apps/commit/1a701ca0134f311446577d525bb24f364765e681

[2016-11-09 10:24] SadiaRasheed opened #505 "Re-submission message should show up to all the leaders"
Re submission was showing up to one of the leaders which was saved before other
When learner failed a paper, he was able to submit and showed up for submission grade.
Re-submission message of passed paper was not showing up for both of the leaders

[2016-11-09 10:26] SadiaRasheed commented on #505
https://docs.google.com/document/d/1aQeYsg-U4yr8TA7bvARAGcrJNY-QBfno-PM-NVgKL1A/edit?usp=sharing

[2016-11-10 04:43] umarWaris commented on #501
https://github.com/open-learning-exchange/BeLL-Apps/commit/410e0da28d82c21356a943fdae3fd3ca5936920a

[2016-11-10 07:50] SadiaRasheed commented on #476
https://github.com/open-learning-exchange/BeLL-Apps/commit/4ca3c4f99243605b0de233ab85d46162c0cadf00

[2016-11-10 07:52] SadiaRasheed commented on #476
Part1: Community: Become a community form check for double names codes
  Part2: Highlight duplicate name or Code to the User
  Part3: update Community information including name and code both on nation and community.
 Part4: Highlight code and name at the same time to check duplicate entries

[2016-11-11 10:14] SadiaRasheed opened #508 "Submission message"
Submission message
_________________________
          - Leaderless course
            -- Show message to admin/manager
           - Course with leader/Leaders
              -- Show submission message to leader not manager

[2016-11-14 07:00] umarWaris opened #513 "Library Page is taking too much long to load the resources"

[2016-11-14 09:37] SadiaRasheed opened #514 "show check mark for paper and 0% for quiz"
Paper and Quiz step
----------------------------------------
Quiz attempted and got 0 marks. 0% didn’t show up.
Check mark for paper should show up even if the quiz has not been submitted

[2016-11-14 10:13] umarWaris commented on #513
Following scenarios are covered
1) Page numbers are appearing on the footer according to their count(resources, local resources)
2) code refactoring of isNationLive() function
3) Pending resources corrected

[2016-11-15 03:59] dogi opened #516 "Nation: update is overwriting register field in configurations db"

[2016-11-15 05:01] umarWaris commented on #513
https://github.com/open-learning-exchange/BeLL-Apps/commit/25c048b7982bfa4ef8ccd6ab31fd8578ea1405fa

[2016-11-15 05:01] prajwol5667 commented on #491
some codes are removed because it is causing file not fond errors

[2016-11-15 05:05] subashshakya1 commented on #492
working on drop down button to fetch data according to it. And also working on search button if the option from drop down is selected.

[2016-11-15 06:22] #491 closed, assigned to lmmrssa, prajwol5667

[2016-11-15 06:25] dogi commented on #491
https://github.com/open-learning-exchange/BeLL-Apps/commit/cd8ae7abe578c7c995da33819346b56746229c70
https://github.com/open-learning-exchange/BeLL-Apps/commit/0aba0bef7cb145e031cc85dcee47bd4967c4b777
https://github.com/open-learning-exchange/BeLL-Apps/commit/0029636cf8eea21efcba579a0352a24c4ffda0c0

[2016-11-15 06:34] #501 closed, assigned to umarWaris

[2016-11-15 06:34] #493 closed, assigned to umarWaris

[2016-11-15 06:37] #258 closed, assigned to umarWaris

[2016-11-15 07:24] lmmrssa commented on #516
Added condition to check the register value already exist or not in both update files _linux_ and _windows_
Commits to be merged:
- [49acf59](https://github.com/open-learning-exchange/BeLL-Apps/commit/49acf5938e60efafb2480728a58220d2bf086064)

[2016-11-15 11:47] lmmrssa commented on #492
code has been pushed on branch 492-community-members-filter which has the search view update but membersByCommunity view is giving error of invalid json.
So far dropdown and filter on member page has worked.

[2016-11-16 05:47] umarWaris commented on #461
In resources "addedBy" attribute must save the creator's id

[2016-11-16 09:25] lmmrssa commented on #492
Summary of changes done
- Created the open 'view' for member of all nation and community which will disabled form only to review.
- Added filter for community in case of nation
- Updated the search to work only on the nation/community selected
- Condition for 'Edit' and 'Delete' only for same community/nation
- Update the email address to have the related community/nation code

[2016-11-16 09:36] umarWaris opened #521 "Nation: updateDropDownValue error"

[2016-11-16 11:27] SadiaRasheed opened #522 "No. of attempts for a step should be saved"
Number of times a learner attempted a step. The count of number of attempts should be saved

[2016-11-16 11:28] SadiaRasheed commented on #522
@dogi : Please add further requirements to this issue if there are any.
Please tell me the complete scenario what you want and where you want me to show these attempts

[2016-11-17 05:52] dogi commented on #522
@SadiaRasheed we (mostly Richard) would like to know how often a new paper got submitted and also how often a multiple choice test was done ...
right now we mostly want know just save the attempts

[2016-11-17 05:55] SadiaRasheed commented on #522
@dogi : You just want to save the attempts for now?

[2016-11-17 06:34] umarWaris opened #523 "Nation: Login form is loading again and again on fresh installation of nation"

[2016-11-17 11:33] umarWaris commented on #461
https://github.com/open-learning-exchange/BeLL-Apps/commit/4a7e18fbc364bf9b94bdeb4dd0dc9500cd13821c

[2016-11-17 12:04] umarWaris commented on #508
https://github.com/open-learning-exchange/BeLL-Apps/commit/3954954a1d2570782617149fd87c47a733a0a4b3

[2016-11-17 12:05] umarWaris commented on #514
https://github.com/open-learning-exchange/BeLL-Apps/commit/5897c72656e86bb0eabf60d683b886b3165870d2

[2016-11-17 12:05] umarWaris commented on #505
https://github.com/open-learning-exchange/BeLL-Apps/commit/5897c72656e86bb0eabf60d683b886b3165870d2

[2016-11-17 12:38] dogi commented on #461
the creator should still be able to see, change and delete the resource before the "accept".

after the "accept" the resource is as any other already accepted resource not change- and delete-able

[2016-11-18 05:53] umarWaris commented on #523
This error was occurring, when we resolved the Issue#521(https://waffle.io/open-learning-exchange/BeLL-Apps/cards/582c28b54b95f2f1041e361c)

[2016-11-18 06:43] umarWaris commented on #521
https://github.com/open-learning-exchange/BeLL-Apps/commit/fddbefec643b298892a7f9d98a553ac5af88c859

[2016-11-18 06:43] umarWaris commented on #523
https://github.com/open-learning-exchange/BeLL-Apps/commit/7d110cc2d24b659f6697f4bfc0b2b84e8f0a84e3

[2016-11-18 06:43] umarWaris commented on #523
https://github.com/open-learning-exchange/BeLL-Apps/commit/82607af1de3834e4721233b0a917ac39235d7b4c

[2016-11-18 09:45] SadiaRasheed commented on #505
5897c72

[2016-11-18 09:45] SadiaRasheed commented on #514
5897c72

[2016-11-18 09:46] SadiaRasheed commented on #508
3954954

[2016-11-18 13:03] SadiaRasheed opened #525 "Mark resubmitted papers red"
Those paper that are resubmitted should be distinguished. Mark them red to show that they need to be re-evaluated.

[2016-11-18 13:05] SadiaRasheed commented on #525
@dogi : Please explain via screenshot where I should highlight?
 On Credits page or on Submission's page?

[2016-11-21 11:25] subashshakya1 opened #526 "Table heading in the Manager doesn't look like clickable in nation."

[2016-11-21 11:27] prajwol5667 opened #527 "Open’ input section and ‘Upload Date’ input section should be aligned."

[2016-11-22 08:31] lmmrssa opened #528 "Dashboard style issue"
* Fix the oval shape on rtl direction
* Remove white spaces on each list
* Fix the link on courses and alignment

[2016-11-22 11:19] prajwol5667 commented on #527
some misaligned were corrected and when new files are uploaded it will show uploaded file as a notice.

[2016-11-22 13:13] SadiaRasheed opened #532 ""assignmentPaperByStepId" view is not being updated"
- Updated the community from nation but the design docs for assignment paper database were not updated
- Checked the revision number of design docs of "assignmentpaper" database on both community and nation and found out that it was same i.e., 1 This same revision number is the problem due to which design docs are not being updated on community. If the revision number of the nation design doc is h

[2016-11-23 06:48] SadiaRasheed commented on #522
https://github.com/open-learning-exchange/BeLL-Apps/commit/a10a05ae6b912abfd5576ac5501f43e589e71b0c

[2016-11-24 04:36] subashshakya1 opened #533 "Same username and password of nation and community conflict."

[2016-11-24 04:36] subashshakya1 commented on #533
https://docs.google.com/document/d/1hVNP66eqZk3X9NMNggXzunzHUDht5Wc24_ZWLB6PWMA/edit

[2016-11-24 04:36] subashshakya1 commented on #533
https://docs.google.com/document/d/1hVNP66eqZk3X9NMNggXzunzHUDht5Wc24_ZWLB6PWMA/

[2016-11-25 07:11] umarWaris commented on #461
https://github.com/open-learning-exchange/BeLL-Apps/commit/a02a8197d3b64188214e5918cef6f2080293d127

[2016-11-28 14:36] umarWaris commented on #461
https://github.com/open-learning-exchange/BeLL-Apps/commit/86b40cc8a61291ca27a691660be4d11d3bfe718f

[2016-11-29 06:02] #476 closed, assigned to SadiaRasheed

[2016-11-29 06:02] #523 closed, assigned to umarWaris

[2016-11-29 06:02] #521 closed, assigned to umarWaris

[2016-11-29 06:02] #513 closed, assigned to umarWaris

[2016-11-29 06:02] #492 closed, assigned to lmmrssa, subashshakya1, prajwol5667

[2016-11-29 06:06] dogi commented on #527
last thing to do start all left elements in the same column

[2016-11-29 06:06] #526 closed, assigned to lmmrssa, subashshakya1

[2016-11-29 06:09] dogi commented on #502
@lmmrssa is working on a site which will compare the design docs of each database between the community and the regarding nation

[2016-11-29 07:17] umarWaris opened #536 "Nation: Change title "Pending Resource" to "Local Resource""

[2016-11-29 07:55] SadiaRasheed opened #537 "Issue: when a paper step is passed, on resubmission of paper for this step, there should be a checkmark"
If learner submit paper again then instead of marks, check mark should be displayed. Submission for resubmitted paper should show up to the leader so that he can regrade it. Leader should know that there is another paper

[2016-11-29 10:34] SadiaRasheed commented on #522
@dogi : Right now what it is doing
 If a learner submits a paper then there is an increment in attempt count even Leader has not graded it.
Is this fine or I need to change it that there should be increment in attempts count  after the leader has graded paper

[2016-11-29 10:47] SadiaRasheed commented on #522
![522](https://cloud.githubusercontent.com/assets/10362799/20706860/23289436-b64b-11e6-8a81-f99bd0ebd229.PNG)

[2016-11-29 11:16] prajwol5667 commented on #527
https://docs.google.com/document/d/142-YUeU8G1d8cAYco28Ss2NPgkpkLGW-6HLpFL0XP7Y/edit

[2016-11-30 06:21] umarWaris commented on #536
https://github.com/open-learning-exchange/BeLL-Apps/commit/ed6770c8819a38cbe86bdfcfc1be07217e2da2fc

[2016-11-30 07:35] umarWaris opened #541 "Badges: Default value of Quiz/Paper must be empty("")"

[2016-11-30 07:42] SadiaRasheed commented on #522
https://github.com/open-learning-exchange/BeLL-Apps/commit/88e88f45b0e4d13200be818834bda81954ed9687

[2016-11-30 07:45] SadiaRasheed commented on #502
Issue#532 is related to this

[2016-12-01 13:06] dogi commented on #502
@lmmrssa

button should be called `Update Status`

we should also print the number of community dbs -> 38

[2016-12-01 13:08] dogi commented on #461
for managers `Local Resources` will be replaced by `Pending Resources` and the Dashboard Button will link to that

[2016-12-01 13:31] lmmrssa commented on #502
changes done
* added database count
* updated text
* updated style to have rtl for urdu and arabic
* change position of button

[2016-12-05 10:26] umarWaris opened #546 "Badges: NaN error is occurring when we create a step with empty quiz"

[2016-12-05 11:19] umarWaris commented on #546
https://github.com/open-learning-exchange/BeLL-Apps/commit/e3ad546ec4d18ea906107c9f1787c525229ffdec

[2016-12-05 11:19] umarWaris commented on #525
https://github.com/open-learning-exchange/BeLL-Apps/commit/76b12b485b63e5dd98a5333ea90ddf9c13d30f57

[2016-12-05 11:20] umarWaris commented on #541
https://github.com/open-learning-exchange/BeLL-Apps/commit/cb5577c675f8f3f40045ce8cd0fbd129ce32c467

[2016-12-05 12:55] umarWaris commented on #461
https://github.com/open-learning-exchange/BeLL-Apps/commit/4cdf01ea136ad6afe05f4cca8ee8987bb8564f97

[2016-12-05 12:56] umarWaris commented on #536
this issue is related to Issue#461(https://waffle.io/open-learning-exchange/BeLL-Apps/cards/57ec9093fa35251400888327)

[2016-12-06 06:30] #536 closed, assigned to umarWaris

[2016-12-06 06:30] #461 closed, assigned to umarWaris

[2016-12-06 06:34] #532 closed, assigned to SadiaRasheed

[2016-12-06 07:28] SadiaRasheed opened #549 "Display '0' for empty result"

[2016-12-06 11:42] SadiaRasheed opened #550 "Display the same step after refresh"

[2016-12-07 05:27] SadiaRasheed opened #553 "Admission request should be accepted automatically in a leaderless course"

[2016-12-07 05:33] SadiaRasheed commented on #550
https://github.com/open-learning-exchange/BeLL-Apps/commit/29b6e0f93f573e561892f7143ac00151bc64aadd

[2016-12-07 05:34] SadiaRasheed commented on #549
https://github.com/open-learning-exchange/BeLL-Apps/commit/6f9388bf77004727bd35f8791fa54ee8eae05fd6

[2016-12-07 06:23] umarWaris commented on #553
https://github.com/open-learning-exchange/BeLL-Apps/commit/c8d7bf2eb34512faaf1f6e1fe5ed39bb857ccdb1

[2016-12-08 12:44] dogi opened #560 "nav bar radius"

[2016-12-08 12:45] dogi commented on #560
https://github.com/open-learning-exchange/BeLL-Apps/commit/6a0ecf22219c8bf038b798379b460cc28108f9ee

[2016-12-08 12:46] dogi commented on #560
@Rupesh87 on nation manger menu there are still radiuses/circles
![67-1](https://cloud.githubusercontent.com/assets/13684059/21010538/92f769d8-bd1a-11e6-83b9-16eced0cc11f.png)

[2016-12-08 12:50] dogi opened #561 "collection table view filter"

[2016-12-08 12:52] dogi commented on #561
https://github.com/open-learning-exchange/BeLL-Apps/commit/4a2947c2858e27910e60fb37c6bcfc0070df3cbb

[2016-12-08 12:53] #502 closed, assigned to lmmrssa

[2016-12-09 08:37] Rupesh87 commented on #560
nation is running from badges branch so it is not showing the changes @dogi

[2016-12-09 10:20] subashshakya1 opened #564 "When feedback page is reloaded the nav bar is reversed."
When we got to feedback page and the nwe reload the page, the navigation bar is reversed.

[2016-12-09 10:34] subashshakya1 commented on #564
![alt text](https://github.com/subashshakya1/img/blob/master/Capture32.JPG)

[2016-12-09 10:43] subashshakya1 commented on #564
![alt text](https://raw.githubusercontent.com/subashshakya1/img/master/Capture1.PNG)

[2016-12-09 10:44] subashshakya1 opened #565 "Meetups in the dashboard is not aligned to center."

[2016-12-09 10:47] subashshakya1 commented on #565
![alt text](https://raw.githubusercontent.com/subashshakya1/img/master/Capture2.PNG)

[2016-12-09 11:49] subashshakya1 commented on #528
Issue is back due to some merge conflict

[2016-12-12 09:13] Rupesh87 commented on #565
**Commit Number**
https://github.com/open-learning-exchange/BeLL-Apps/commit/b573bf7c991e681570df8ca294c6564405d55c03

**Changes Done**
* my meetup scroll center
* styling correction

[2016-12-13 04:53] dogi opened #569 "Dashboard: elements of it should also align in Arabic-like languages to the grid"
![68-1](https://cloud.githubusercontent.com/assets/13684059/21128738/4ec679d4-c0cb-11e6-88e8-5908cd021d10.png)

[2016-12-13 04:58] #560 closed, assigned to Rupesh87

[2016-12-13 05:14] dogi commented on #565
![68-2](https://cloud.githubusercontent.com/assets/13684059/21128444/f6af0ad8-c0c8-11e6-9b4a-04a58b265680.png)

please make this awesome fix also work for arabic styled languages ;)

[2016-12-13 05:20] #553 closed, assigned to SadiaRasheed, umarWaris

[2016-12-13 05:20] #549 closed, assigned to SadiaRasheed, umarWaris

[2016-12-13 05:20] #550 closed, assigned to SadiaRasheed, umarWaris

[2016-12-13 05:20] #467 closed, assigned to umarWaris

[2016-12-13 05:20] #452 closed, assigned to SadiaRasheed

[2016-12-13 05:20] #522 closed, assigned to SadiaRasheed

[2016-12-13 05:20] #505 closed, assigned to SadiaRasheed

[2016-12-13 05:20] #466 closed, assigned to SadiaRasheed

[2016-12-13 05:20] #514 closed, assigned to SadiaRasheed

[2016-12-13 05:20] #508 closed, assigned to SadiaRasheed

[2016-12-13 05:20] #537 closed, assigned to SadiaRasheed

[2016-12-13 05:20] #463 closed, assigned to SadiaRasheed

[2016-12-13 05:20] #483 closed, assigned to SadiaRasheed

[2016-12-13 05:20] #465 closed, assigned to SadiaRasheed

[2016-12-13 05:20] #350 closed, assigned to SadiaRasheed

[2016-12-13 05:20] #462 closed, assigned to SadiaRasheed

[2016-12-13 05:20] #468 closed, assigned to SadiaRasheed

[2016-12-13 05:20] #455 closed, assigned to SadiaRasheed

[2016-12-13 05:20] #341 closed, assigned to SadiaRasheed

[2016-12-13 05:20] #456 closed, assigned to SadiaRasheed

[2016-12-13 05:20] #454 closed, assigned to nobody

[2016-12-13 05:20] #449 closed, assigned to SadiaRasheed

[2016-12-13 05:20] #447 closed, assigned to SadiaRasheed

[2016-12-13 05:20] #375 closed, assigned to SabaBaig

[2016-12-13 05:20] #426 closed, assigned to SadiaRasheed

[2016-12-13 05:20] #419 closed, assigned to SadiaRasheed

[2016-12-13 05:20] #399 closed, assigned to SadiaRasheed

[2016-12-13 05:20] #424 closed, assigned to SadiaRasheed

[2016-12-13 05:20] #431 closed, assigned to SadiaRasheed

[2016-12-13 05:21] #441 closed, assigned to SadiaRasheed

[2016-12-13 05:21] #442 closed, assigned to SadiaRasheed

[2016-12-13 05:21] #404 closed, assigned to SadiaRasheed

[2016-12-13 05:21] #400 closed, assigned to SadiaRasheed

[2016-12-13 05:21] #297 closed, assigned to SadiaRasheed

[2016-12-13 05:21] #406 closed, assigned to umarWaris

[2016-12-13 05:21] #413 closed, assigned to umarWaris

[2016-12-13 05:21] #422 closed, assigned to umarWaris

[2016-12-13 05:21] #423 closed, assigned to umarWaris

[2016-12-13 05:21] #450 closed, assigned to umarWaris

[2016-12-13 05:21] #453 closed, assigned to umarWaris

[2016-12-13 05:21] #484 closed, assigned to umarWaris

[2016-12-13 05:21] #464 closed, assigned to umarWaris

[2016-12-13 05:22] #541 closed, assigned to umarWaris

[2016-12-13 05:22] #525 closed, assigned to umarWaris

[2016-12-13 05:22] #546 closed, assigned to umarWaris

[2016-12-13 05:22] #378 closed, assigned to SabaBaig

[2016-12-13 05:33] #528 closed, assigned to lmmrssa

[2016-12-13 06:29] lmmrssa opened #570 "In a leader less course anybody can enroll but they can not leave on their own"
Member should be able to leave the course on their own (only if the course does not have any leader)

[2016-12-13 10:20] subashshakya1 commented on #564
![capture4](https://cloud.githubusercontent.com/assets/16514080/21136474/e5617e34-c14d-11e6-9281-c8caeec650e4.PNG)

After the commit. Navigation bar doesnot gets reversed.

[2016-12-13 10:21] subashshakya1 commented on #564
72246fb58c79e22c38674b450aa8d953cb36578c

[2016-12-13 10:30] subashshakya1 commented on #569
![capture5](https://cloud.githubusercontent.com/assets/16514080/21136774/19657c7a-c14f-11e6-8dc5-5770ce7a738d.PNG)

After the commit. Fixed the elements of dashboard in arabic-like alignment.

[2016-12-13 10:30] subashshakya1 commented on #569
2dc5d7140f5d864712303d19454c640795a4ebdd

[2016-12-14 06:11] lmmrssa opened #573 "Crowdin Integration"
Implement the language from crowdin with update on installation to use specific languages only.

[2016-12-14 13:33] aberdean opened #574 "Could the disabled option in the languages dropdown menu be eliminated?"
The disabled option in the languages dropdown menu makes it extremely difficult to run tests on languages in Sauce Labs.

If removing it does not create other issues, it may be useful to do so.

[2016-12-15 10:52] #569 closed, assigned to subashshakya1

[2016-12-15 10:54] #565 closed, assigned to Rupesh87

[2016-12-15 11:01] #564 closed, assigned to subashshakya1

[2016-12-16 10:28] aberdean commented on #574
The disabled option is actually not the problem. Closing.

[2016-12-16 10:28] #574 closed, assigned to nobody

[2016-12-16 23:09] waryhermit opened #578 "[Meetup] Need 'Never' Recurring option"
Currently if you select the `Daily` or `Weekly` options there is no way to make it not recurring anymore. There should be a `Never` option so that you don't have to reload the page to select none of them.

![image](https://cloud.githubusercontent.com/assets/5189447/21279036/4d221ec4-c3ac-11e6-9f12-18afedc1cd7e.png)

[2016-12-19 04:58] prajwol5667 commented on #570
![leave](https://cloud.githubusercontent.com/assets/19973606/21301702/07f2ae58-c5d8-11e6-931f-4c0a603e88d1.PNG)

[2016-12-20 10:23] prajwol5667 opened #582 "review layout of course"

[2016-12-20 10:24] subashshakya1 opened #583 "view for course answer"

[2016-12-20 10:29] Rupesh87 opened #584 "Placement of view in course section"

[2016-12-20 18:11] waryhermit opened #585 "Nav links are not always clickable."
Steps to reproduce Using Firefox 50:

- Go to `MyHome` in the BeLL app.
- Click on `MyHome` again, then carefully slide your cursor over to another link, such as meetups.
- Notice how it does not turn green and does nothing the first time you click.
- **Note:** it may take multiple attempts for the bug to appear.

[2016-12-20 20:31] waryhermit opened #586 "Cannot cancel on the 'Start a New Meetup - Invite' Screen"
Steps to reproduce:

- Go to meetups tab
- Click `Add Meetups`
- Fill in the required information
- Click `Save`
- When the pop up window appears, click cancel

**Actual Result:** Instead of canceling, it creates a meetup.
**Expected Result:** Return to the meetup form so you can edit the details.

[2016-12-23 09:45] aberdean opened #587 "jQuery error on Selenium Server"
I was trying to write new tests using CodeceptJS testing framework, and when I tried to run them on Selenium Server, I got this error,
![jqueryerror](https://cloud.githubusercontent.com/assets/4922217/21451047/4f8f2242-c8fc-11e6-83e5-e67c30c7839a.png)
I tried to comment out everything in the code, and leave only the call to the page, and some waiting time for the page to load, but I would still ge

[2016-12-23 10:16] aberdean commented on #587
Possible helpful link, http://stackoverflow.com/questions/2194992/jquery-is-not-defined.

[2016-12-23 15:51] aberdean opened #588 "In the new member form, it should not be possible to add invalid dates"
Right now, on the form to become a member, it is possible to insert as date of birth something like 30 February, or 31 November, and so on.
It may be a nice improvement if the app would allow only valid dates.

[2016-12-27 06:46] #587 closed, assigned to nobody

[2016-12-27 06:52] dogi commented on #578
What do you think if we would add an addtitional radio button `None` which is already preselected

[2016-12-27 14:27] waryhermit commented on #578
@dogi Yes, that would fix the problem.

[2016-12-28 09:48] Pr0chin commented on #578
![issue](https://cloud.githubusercontent.com/assets/24644003/21519060/86c3b434-cd12-11e6-8e15-3d667e85ced7.jpg)

Regarding to issue 578 ..I have added label" None" in recurring's checkbox  option as per required.

[2016-12-29 10:59] #578 closed, assigned to Pr0chin

[2016-12-29 11:00] dogi commented on #578
https://github.com/open-learning-exchange/BeLL-Apps/pull/590/files

[2016-12-29 11:00] lmmrssa commented on #585
It seems to be the case of someone clicks the link then it takes sometime to reload and there might have been loading icon missing causing confusion.
When someone clicks any link site becomes irresponsive for few time.

[2016-12-29 11:03] dogi opened #591 "Calendar: Add Event button should stay on the designated place"

[2016-12-29 11:04] lmmrssa commented on #586
The work flow is as follows
* When _save_ button is clicked it actually save the meetup
* Popup screen is supposed to be only for invitation for Meetup. It does not actually save the meetup after popup, its just the optional step.
* So if someone does not want to invite anyone then just can click the cancel, which is the feature of cancel button.

@dogi  could you confirm the work flow of Meetup s

[2016-12-29 11:23] dogi opened #592 "Courses: look into SCORM"
... and Brainstorm if and how we can use SCORM courses for our purpose

https://en.wikipedia.org/wiki/Sharable_Content_Object_Reference_Model

[2016-12-29 22:41] waryhermit commented on #586
That is a logical workflow, but in my opinion it is not intuitive considering I mistook it for a bug at first. If there is a dialog and you can see a screen behind the dialog I think most people would predict that you would return to the window you can see when you hit cancel. I know I was surprised when I went to a new screen.

[2016-12-30 09:31] Rupesh87 opened #594 "course quiz question section"
![fireshot capture 31 - bell myapp__ - http___localhost_5984_apps__design](https://cloud.githubusercontent.com/assets/18145146/21562755/80ebcadc-cea3-11e6-934b-303109c9bacb.jpg)

![fireshot capture 32 - apache couchdb - futon_ view doc_ - http___localhost_5984__utils_document html](https://cloud.githubusercontent.com/assets/18145146/21562758/80f4107a-cea3-11e6-9a2c-c2d4579bd7c2.jpg)
![fireshot cap

[2016-12-30 12:12] #527 closed, assigned to lmmrssa, prajwol5667

[2016-12-30 12:12] #561 closed, assigned to prajwol5667

[2016-12-30 12:12] #516 closed, assigned to lmmrssa, subashshakya1, prajwol5667

[2017-01-02 13:06] lmmrssa commented on #570
There is already the feature to *resign* from leaderless course its just that its location is not visible.

[2017-01-03 06:14] dogi commented on #586
@waryhermit I kinda feel you there - you are right misleading - but right now I still think your potential solution can be even more simplified ;)

`less = more`

[2017-01-03 06:15] lmmrssa commented on #586
@dogi @waryhermit
I feel like we can take the user to the Meetup View page and get them do the invitation over there.

[2017-01-03 06:17] dogi opened #598 "library page: add filters"

[2017-01-03 17:06] dogi opened #599 "nation: ability to see older months in community overview"

[2017-01-05 12:57] dogi commented on #592
We need to investigate more into [SCORM](http://scorm.com/scorm-explained/scorm-resources/)  for the next course improvement iteration

[2017-01-06 01:03] waryhermit commented on #585
@lmmrssa @dogi
I think I might know more details about why this happens. In the UI tests I make I have been waiting for links and buttons to become clickable. To do this Selenium polls the DOM I think, and the buttons etc. are listed as clickable before they can actually do anything because they depend on javascript/ jquery running in the background.

Would it be feasible to make the controls disa

[2017-01-07 16:43] dogi opened #602 "Survey button missing"
... since big merge of badges branch?

[2017-01-07 16:47] dogi commented on #602
think we should remove badges button
so that we have only 4 full green buttons
main question is in which order should make this button show up

[2017-01-10 02:32] lmmrssa commented on #591
changes done on release [0.12.71](https://github.com/open-learning-exchange/BeLL-Apps/releases/tag/0.12.71)

[2017-01-10 02:33] lmmrssa commented on #588
changes done on release [0.12.71](https://github.com/open-learning-exchange/BeLL-Apps/releases/tag/0.12.71)

[2017-01-10 04:58] dogi commented on #588
![72-1](https://cloud.githubusercontent.com/assets/13684059/21794331/65b880a8-d6c7-11e6-94a6-54a4a28ec7fa.png)

my favorite date 31 dec 2007 is still not working in become a member dialog

it is also not working on the add a member dialog

[2017-01-10 06:12] #602 closed, assigned to lmmrssa, subashshakya1, Rupesh87

[2017-01-10 06:21] #586 closed

[2017-01-10 06:26] dogi commented on #591
https://github.com/open-learning-exchange/BeLL-Apps/commit/8e0f6903ec44e30c5c06cf213c039d9ca42d516f

[2017-01-10 06:26] #591 closed

[2017-01-10 06:28] #377 closed, assigned to nobody

[2017-01-10 13:22] lmmrssa commented on #588
looks like issue is the local date format so will have to use something that does not depend on local format

[2017-01-11 04:20] dogi opened #604 "Nation: make it possible to see data of older months"
We speak about maybe next view

![72-6](https://cloud.githubusercontent.com/assets/13684059/21835576/062e73fc-d78c-11e6-85da-e643881867e2.png)

but specially about the Reports like this

![72-7](https://cloud.githubusercontent.com/assets/13684059/21835578/0be8e7c8-d78c-11e6-9387-c0be8307bce4.png)

@lmmrssa @Rupesh87 @Pr0chin and @yogenpaneru any suggestion how to do that?

[2017-01-12 12:18] #588 closed, assigned to lmmrssa, dogi, Rupesh87, Pr0chin

[2017-01-12 12:24] dogi commented on #599
close due duplication

[2017-01-12 12:24] #599 closed, assigned to nobody

[2017-01-12 12:25] dogi commented on #583
close due irrevalence

[2017-01-12 12:25] dogi commented on #582
close due irrevalence

[2017-01-12 12:26] #583 closed, assigned to nobody

[2017-01-12 12:26] #582 closed, assigned to nobody

[2017-01-12 13:30] lmmrssa commented on #598
* Create a filter for different features on the main page
* Integrate all the filters together
* Optimize the feature of search into new one

[2017-01-17 02:48] lmmrssa commented on #604
@dogi  has converted the current overview of Community request to have filter datepicker when there are communities older than current month only. so it will not show the filter if is new setup.

[2017-01-17 06:03] dogi commented on #604
@lmmrssa good job this is the right direction

2 things still need to be done:
- [ ] urls need to be representing an actual date (-1) ;)
- [ ] selector element should only show months and years

[2017-01-18 00:13] waryhermit opened #607 "Look into adding html resources to couchdb via Javascript/HTTP"
Right now we use a [round about method](http://open-learning-exchange.github.io/#!pages/htmlresources.md) to get html apps into BeLL/Couch. It would be nice if users could select a folder containing a html app and add it to bell without having to use or know about couchapp. Since CouchDB supports HTTP, and there are already CouchDB wrappers, this should be possible. Essentially we just need to dup

[2017-01-24 06:08] dogi commented on #604
based on qa test

jan2017 2 vists
dec2016 6 visits
nov2016 11 vistis

data of dec is shown in nov

![75-1](https://cloud.githubusercontent.com/assets/13684059/22236090/5742db12-e1d1-11e6-88e6-3259af4d0bf1.png)

[2017-01-26 11:23] dogi commented on #604
@lmmrssa awesome now the functionality works

wonder if we also improve UX
think if we move the "select field" from the left to the right and make it also smaller it would look much better

[2017-01-31 05:40] dogi opened #609 "Request for Manager"
![76-3](https://cloud.githubusercontent.com/assets/13684059/22453595/e456a4a8-e74d-11e6-87ae-e9e3ab53e569.png)

- [x] add request for `Manager` to this form
- [x] send Email to all Managers
- [x] accepting/decline that as a Manager
- [x] feedback to requestor

[2017-01-31 06:08] dogi opened #610 "update nation script rehaul"
ToDo:
- [ ] write README.md in `updatenation` directory
- [ ] bring missing VIPLinks `stuff` from *.js to *_posix.js
- [ ] unify windows and linux/mac scripts
  - [ ] `update_nation_app.[bat/sh]`
  - [ ] `push_nation_design_docs[.js/_posix.js]`
  - [ ] `pushDocToDb.[bat/js]`
- [ ] not overwrite in configuration db document the field register

[2017-01-31 06:33] dogi commented on #610
example update in linux/mac
[code]

[2017-01-31 06:43] dogi commented on #610
detect which system you are running this script on ...
http://stackoverflow.com/questions/8683895/how-do-i-determine-the-current-operating-system-with-node-js

[2017-02-02 10:48] #604 closed, assigned to lmmrssa, Rupesh87, Pr0chin

[2017-02-02 10:49] dogi opened #612 "Nation: fix date stuff in generate community report"
Long term goal is to be able to generate reports of community from older dates

For that we need to fix communityreport  view e.g. `http://new.qa.ole.org:5985/apps/_design/bell/nation/index.html#communityreport/02-02-2017/q/q`

todo:
- [ ] activate dates so that we get valid results for that date
- [ ] date should be in format YYYY-MM-DD and not MM-DD-YYYY
- [ ] fix 'generate report' button so tha

[2017-02-06 11:27] leomaxi opened #613 "Error, Unable to update BeLL Apps to version 0.12.77"
This happened when I tried to update my local bell instance to  **version 0.12.77** .
![screen shot 2017-02-06 at 11 19 35 am](https://cloud.githubusercontent.com/assets/2836302/22645422/d97b1cd8-ec5e-11e6-950e-95f2052914d1.png)

Since it failed anytime I login, it shows me below after loading my dashboard. Can I reverse the process??
![screen shot 2017-02-06 at 11 19 19 am](https://cloud.githubus

[2017-02-07 06:10] dogi commented on #609
Awesome basic function works
still some tiny fixes required:
- [x] remove `Request Manager` button from Become a Member form
- [x] Button alignment more "centered"
- [x] also missing feedback to requestors (positive&negative)

keep also `arabic` like languages in mind
![78-1](https://cloud.githubusercontent.com/assets/13684059/22679810/cd9f5036-ecd2-11e6-9791-bf1e567f77e3.png)

[2017-02-07 06:36] dogi opened #616 "List of Dates-relevant views and couchdb docs"
- http://new.qa.ole.org:5985/apps/_design/bell/nation/index.html#communityreport/02-07-2017/q/q/2017-2

[2017-02-07 06:39] dogi commented on #616
![78-2](https://cloud.githubusercontent.com/assets/13684059/22680482/392ae7e0-ecd6-11e6-8867-baaa3f4119ce.png)

[2017-02-07 06:40] #612 closed, assigned to lmmrssa

[2017-02-07 07:30] #299 closed, assigned to nobody

[2017-02-09 11:07] dogi commented on #609
everything so far requested works ...

but:
- [x] Accept and Reject message should be structured differently
![79-1](https://cloud.githubusercontent.com/assets/13684059/22780612/4c3b08e8-ee8d-11e6-83d5-56a1f1b92265.png)
[code]

- [x] brainstorm about requestor and manager different languages
![79-2](https://cloud.githubusercontent.com/assets/13684059/22780754/d4efe334-ee8d-11e6-80fc-3377f63ae778.p

[2017-02-09 14:10] sente commented on #609
How is it ready, and a bug?

[2017-02-09 22:18] waryhermit commented on #585
@lmmrssa @dogi  This is still an issue. Often times my bell app is locked up for 15 - 60 seconds, less in chrome. Even if I find a way to make codeceptjs intelligently wait until things are clickable, this isn't acceptable behavior from the users point of view, and to me indicates that there is processing being done on the UI thread, which should not happen.

Some questions...

- Is there a quick

[2017-02-10 14:10] dogi commented on #585
@waryhermit please if this also appies to @sente s version of Bell-Apps

http://sente.vi.ole.org:5979/apps/_design/bell/MyApp/index.html#login

the PRs this was:
- https://github.com/open-learning-exchange/BeLL-Apps/pull/581
or
- https://github.com/open-learning-exchange/BeLL-Apps/pull/575

[2017-02-13 16:11] waryhermit opened #619 "Use the same submit button for each Survey Question type"
There should be only one submit button that works for all of the Survey question types. Having a button for each that has no unique identifier (`name` or `id`)  makes testing difficult. Not only that, but its a waste of html too.

[2017-02-13 16:33] waryhermit commented on #619
Right now I can work around this with some fragile and clunky xpath magic:
[code]

[2017-02-14 05:54] dogi commented on #609
- [x] Accept and Reject message should be structured differently
![79-1](https://cloud.githubusercontent.com/assets/13684059/22780612/4c3b08e8-ee8d-11e6-83d5-56a1f1b92265.png)
[code]
  - [x] additional line between `hi..` and `<message>`

  - [x] Manager Request should also follow same guidelines as `Accept and Reject`
    - [x] missing name
    - [x] missing empty line between messages

[2017-02-14 06:31] dogi commented on #594
features|[rupesh](http://rupesh.ole.org)|[pr0chin](http://pr0chin.ole.org)
---|---|---
auto-multiple-choice | | X
no old courses | X |

[2017-02-15 19:29] waryhermit commented on #585
Another thing to note: I do not have this problem if I test offline. If I disconnect my Ethernet cable and turn off WiFi the links are instantly usable.

[2017-02-16 11:23] dogi commented on #609
Congrats @razu9861  @sthasuman @Pr0chin @Rupesh87

[2017-02-16 11:25] #609 closed, assigned to sthasuman, Rupesh87, Pr0chin, razu9861

[2017-02-17 10:44] lmmrssa commented on #592
Right now there is no SCORM implemented for this course improvement. But based upon the investigation for SCORM so far it does not seem like we can just import course structure of SCORM to be converted to our course structure as SCORM is self running content.
Hence we will probably create a new course that will include SCORM as a resource and our system will be capable to run SCORM file from withi

[2017-02-21 05:52] dogi commented on #159
thanks @razu9861
we are already a step nearer to the end of this issue ;)

still missing `searchablity` of language created resources is not there

working example is http://syriabell.ole.org for search for arabic resources

http://syriabell.ole.org:5992/_utils/document.html?resources/804f24a71c26220b0605b9dc9102d801
is found by "arabic" in syriabells search

http://new.local:5985/_utils/document.

[2017-02-23 11:31] dogi opened #629 "Nation and Community: what when I lost my password"
Please write down some solution scenarios

[2017-02-23 11:38] dogi opened #630 "Nation: viplink interface in manager section"
http://new.qa.ole.org:5985/apps/_design/bell/nation/index.html#listCommunityPage/1c3d0b62428ac6885cc90b84ba002979

[code]

![83-1](https://cloud.githubusercontent.com/assets/13684059/23257756/2f2349e4-f993-11e6-8f74-3e7f622894e7.png)

[2017-02-28 06:11] dogi commented on #630
awesome first step;)
@razu9861 @nirojdyola and @lmmrssa

next to do
- [x] create button
- [x] lastvisit and visits
- [x] delete and copy button

[2017-02-28 06:13] dogi opened #632 "nation: check/add changing date structure also with viplinks"

[2017-02-28 06:14] dogi opened #633 "solve possible regression of travis test"
travis test of release [0.12.84](https://travis-ci.org/open-learning-exchange/BeLL-Apps/builds/206043089)  and commit before that fail https://saucelabs.com/beta/tests/c4d93119700d443aa8ecb717de1dc5aa/commands#0

Please check what changed there

[2017-02-28 09:01] dogi commented on #633
Sorry both links are wrong ...

... but as you can see in https://github.com/open-learning-exchange/BeLL-Apps/commits/dev
it stopped working when we added an additional button in the nation manager menu:

- commit: https://github.com/open-learning-exchange/BeLL-Apps/commit/8ed24fc4b583c9447a69ce4c3925c66ee55764cd
- travis: https://travis-ci.org/open-learning-exchange/BeLL-Apps/builds/206039381
- s

[2017-02-28 19:57] waryhermit commented on #633
@dogi The travis logs won't load for me. Have you tried running the tests locally with the dev branch?

[2017-03-01 06:54] dogi commented on #633
@waryhermit travis had some problem today

found the error output
[code]

[2017-03-01 10:25] nirojdyola commented on #632
![sketch](https://cloud.githubusercontent.com/assets/7495421/23455905/7d156c08-fe99-11e6-86c5-d7a96151e070.png)

Datepicker has been included to filter the list and generate report.

[2017-03-01 15:26] waryhermit commented on #633
The element is not visible, supposedly. Is there any way I can view the `HTML` for that page before and after these changes?

Perhaps adding `driver.execute_script("return arguments[0].scrollIntoView();", input_element)` between line 150 and 151 of `test_publication.py` would fix it.

[2017-03-01 17:05] dogi commented on #633
@waryhermit yes there is:
- long way: you install ole--vagrant-nation and update this nation with the right releases https://github.com/open-learning-exchange/BeLL-Apps/releases (before 0.12.83 after 0.12.84)
- short (and temporary) way: you look at http://new.qa.ole.org for after (0.12.84) and at old.qa.ole.org for before (0.12.83)

[2017-03-02 04:03] dogi commented on #632
@nirojdyola awesome picture

@dogi wonders since `vi.ole.org` still has the old/right code,
what do you needed to do (replicate) to create this awesome picture ;)

[2017-03-02 06:19] nirojdyola commented on #632
@dogi changes has been release in [0.12.85](https://github.com/open-learning-exchange/BeLL-Apps/releases/tag/0.12.85) so you can use that code to be merged in vi code base. Or you can update the nation from the new release.

[2017-03-02 09:14] lmmrssa commented on #629
**Model 1: Secret Question**
1. User setup secret answer in profile
2. When user request for password reset question will be asked to provide secret answer
3. Then user will get reset password page

**Model 2: Support Section**
1. User will get the link to ask for support or email address to connect with manager
2. User will follow up with the manager
3. Manager will reset the password and send ba

[2017-03-02 10:56] dogi commented on #632
It works great ;)

questions:
- [ ] should we create a functions for this and the manager overview
- [ ] in the `generated Request` can we have there this date changing selector

Please start of both an new issue and then close this issue ;)

[2017-03-02 11:06] dogi opened #636 "viplinks brainstorm about ways how to get from here to be "logined""

[2017-03-02 13:16] dogi commented on #633
@lmmrssa and @waryhermit if you look inhttps://github.com/open-learning-exchange/BeLL-Apps/commits/633-test
I added back this `App.Views.GroupRow` and test works again

[2017-03-02 18:14] waryhermit commented on #633
@dogi ? That commit seems to be marked as failed to me, but maybe I am confused.

**Edit:** I ran the build a few times, it worked after a while.

[2017-03-03 02:02] waryhermit commented on #633
My pull request also seems to work: https://github.com/open-learning-exchange/BeLL-Apps/pull/635

[2017-03-03 04:04] lmmrssa opened #637 "Filter generate report"
In the page of report of community, need to have the filter of date

[2017-03-03 05:11] lmmrssa opened #638 "Remove duplication of code"
Codes are duplicated for the feature of Community listing. One is from the vip link community page and another is the manager community listing page.

[2017-03-03 05:11] #632 closed, assigned to lmmrssa, nirojdyola

[2017-03-03 05:16] lmmrssa commented on #636
- We can have the Login button at the top right of the page.
- Also I feel we can have the language switch on the page as all VIP will not be from the native English or native of community language.

[2017-03-03 07:55] nirojdyola commented on #637
![activityreport](https://cloud.githubusercontent.com/assets/7495421/23542719/dda43242-0016-11e7-8c40-2ee2a8bddad4.png)

Added datepicker to generate report.

[2017-03-03 08:47] dogi commented on #633
@waryhermit perfect ;)

[2017-03-03 08:49] dogi commented on #636
@lmmrssa language switch - great idea ;)

[2017-03-03 14:58] #56 closed

[2017-03-03 16:19] #633 closed, assigned to lmmrssa, waryhermit, dogi

[2017-03-06 08:58] lmmrssa commented on #633
@dogi It seems to pass without that view App.Views.GroupRow on @nirojdyola  last commit
https://travis-ci.org/open-learning-exchange/BeLL-Apps/builds/208073410

[2017-03-06 12:35] dogi commented on #633
@lmmrssa yes ;) - @waryhermit fixed the problem and we committed the solution  to BeLL-Apps https://github.com/open-learning-exchange/BeLL-Apps/pull/641

[2017-03-07 06:01] dogi commented on #637
@nirojdyola generally good job
think that first graph is broken,
but the four other seam to work

ToDo:

- [ ] create new issue to fix first graph
- [ ] create also an issue for a nice test data sample which we all share (something between vi and somaliabell)

[2017-03-07 06:02] #637 closed, assigned to nirojdyola

[2017-03-08 12:39] nirojdyola commented on #638
Removed duplication of code and used the same view
Example : CommunityRequestRow and CommunityRequestsTable

[2017-03-09 11:08] dogi commented on #630
new ToDo:

- [x] the special viplink is now crashing in the js which results into whitescreen ... fix
- [ ] message of Copy button should be `Link copied to your clipboard` instead of `Link copied pest to your prefered location`
- [ ] move manager page `Viplink` button between `Requests` and `Databases`

[2017-03-09 11:11] dogi commented on #630
http://new.qa.ole.org:5985/apps/_design/bell/nation/index.html#listCommunityPage/c6999a383c928639bc1c74c9cb000e7e/2017-03 works ...

if there is no date it breaks at https://github.com/open-learning-exchange/BeLL-Apps/blob/dev/app/nation/app/Router.js#L3780

after some time then it started to work ;)

[2017-03-09 12:11] dogi opened #645 "update libraries and software to newer versions"
- [ ] jquery from x to y
- [ ] couchdb from `1.5.0/1.6.1` to `2.0.0`
- [ ] remove highchart and morris which is used some places
- [ ] ...

[2017-03-09 12:28] dogi opened #646 "travis exclude l10n_dev branch"
https://docs.travis-ci.com/user/customizing-the-build

[2017-03-10 06:36] nirojdyola commented on #630
the code at L3780 is to get the first possible date in the date picker which is calculated from the activitylog table. So the breaking case could have been due to no activitylog at all.

[2017-03-10 14:43] dogi commented on #613
￼@leonardmensah I assume in the update process there was a interruption or similar which cause your update to fail ...

[2017-03-10 15:58] #646 closed, assigned to dogi

[2017-03-14 06:20] dogi opened #649 "go over Text.json and work in removing spelling errors in the variable names"
... and also brainstorm about standard / best practice

this issue assumes that issue https://github.com/open-learning-exchange/BeLL-Apps/issues/573 was done ...

[2017-03-14 06:29] dogi commented on #649
List:

- [ ] https://github.com/open-learning-exchange/BeLL-Apps/blob/dev/init_docs/Text.json#L845
- [ ] check for unused terms

[2017-03-14 06:56] #630 closed, assigned to razu9861

[2017-03-14 07:20] dogi commented on #613
thanks @leonardmensah to confirm that it was working after that again

[2017-03-14 07:21] #613 closed, assigned to nobody

[2017-03-14 10:11] #570 closed, assigned to prajwol5667

[2017-03-14 10:13] #584 closed, assigned to Rupesh87

[2017-03-14 12:32] lmmrssa opened #650 "Course statistics"
Create a view that will give the statistics overview of how much error is being done on course and its steps for each question.
Idea of the requirement can be seen in given images
![progress2](https://cloud.githubusercontent.com/assets/2909490/23900807/a2e6d914-08e2-11e7-9f0d-39a3127b368a.png)
![progress1](https://cloud.githubusercontent.com/assets/2909490/23900808/a2e93fd8-08e2-11e7-80a4-8bd9efb5

[2017-03-15 16:03] leomaxi opened #651 "takehome: update design document of resources"
So far I have this filter in a design/apps document
[code]
We want to get it rather into `_design/bell` document under resources database.

[2017-03-15 16:03] leomaxi opened #652 "takehome: update design document of activitylog"
So far I have it in a separate design/apps document
[code]
This view should be included in the `_design/bell ` document

[2017-03-17 06:43] lmmrssa commented on #651
pull request created with design doc filter in it. https://github.com/open-learning-exchange/BeLL-Apps/pull/654

[2017-03-17 10:06] #638 closed, assigned to nirojdyola

[2017-03-17 10:39] #652 closed, assigned to nobody

[2017-03-17 16:59] #651 closed, assigned to nobody

[2017-03-20 19:15] sarvanivadali commented on #533
![screen shot 2017-03-20 at 3 13 38 pm](https://cloud.githubusercontent.com/assets/8753852/24117254/e1992468-0d7f-11e7-97d7-11ef1059672c.png)

[2017-03-20 19:16] sarvanivadali commented on #533
No google docs

[2017-03-21 09:23] dogi opened #665 "Nation: community admission crashes"
after red `communities` button on dashboard clicked

[2017-03-21 09:34] dogi commented on #636
![91-2](https://cloud.githubusercontent.com/assets/13684059/24140890/023945f4-0df8-11e7-91bd-82de22675c4a.png)

[2017-03-21 09:43] dogi opened #666 "remove 404 javascripts"
![91-3](https://cloud.githubusercontent.com/assets/13684059/24141278/5c6f469e-0df9-11e7-9b49-38ea269feae3.png)

[2017-03-21 09:46] dogi opened #667 "crowdin: cleaning & installation scripts"
still open:
- [x] Urdu has 2 files, but should have only 1
- [x] check install and update scripts to only upload certain languages (English, Spanish, Urdu, Arabic and Nepali)

[2017-03-22 05:14] razu9861 commented on #636
![screen shot 2017-03-22 at 10 55 21 am](https://cloud.githubusercontent.com/assets/24647983/24183093/1c573b2a-0eee-11e7-8e01-f7efd7b407cf.png)

[2017-03-22 10:40] dogi commented on #636
@razu9861 thanks for the pictures

[2017-03-22 19:17] waryhermit opened #670 "Survey view bugged"
Steps to reproduce:

1. Create a survey with some questions.
2. Send survey to users.
3. Submit answers to survey.
4. Create new survey with different questions but same name.
5. Send the new survey.
6. Go to the member survey page.
7. Notice that both survey items point to the survey that you already submitted and does not let you see the new survey which you have not submitted.

[2017-03-23 20:44] waryhermit commented on #670
Well, it turns out I am having this problem even when I have different names. In case it matters, I am answering the survey on the same account as I am sending it. It seems the database has it marked as unanswered but the UI is showing that it has been answered.

Here are some pictures of the UI showing the survey as submitted even though have not:
![image](https://cloud.githubusercontent.com/asse

[2017-03-25 18:06] leomaxi opened #672 "Send Publication to Community UI"

[2017-03-25 18:13] leomaxi commented on #672
See below. The form layout is not proportionally displayed. Ash everywhere, and small form at the left.
![screen shot 2017-03-25 at 9 03 45 pm](https://cloud.githubusercontent.com/assets/2836302/24324905/e72395ca-119f-11e7-96df-00e81737fe81.png)

[2017-03-27 09:32] razu9861 opened #673 "Resources-Collections- Remove &nb text"

[2017-03-28 15:42] leomaxi opened #680 "Erratic internet connection slows down offline BeLL"
When the internet connection on the raspberry pi isn't stable / very slow, the BeLL system becomes very slow. When the slow internet is unplugged, the BeLL works well. This doesn't happenever connected to fast reliable  internet connection.

[2017-03-28 15:51] leomaxi commented on #680
I believe this issue is related to https://github.com/open-learning-exchange/BeLL-Apps/issues/585

[2017-03-28 18:34] sarvanivadali commented on #666
Re-purposing this issue to fix the following 404 issues in nation instead:

![image](https://cloud.githubusercontent.com/assets/8753852/24421245/90b31b18-13c3-11e7-8db6-e187a3be5234.png)

[2017-03-28 18:34] sarvanivadali opened #681 "Fix 404 issues in earth/index.html"
![image](https://cloud.githubusercontent.com/assets/8753852/24421287/b54b65e8-13c3-11e7-9f2f-b351980ed798.png)

[2017-03-28 18:36] waryhermit commented on #681
I think @dogi wanted this one deleted? [See chat ](https://gitter.im/open-learning-exchange/interns?at=58da6e454cb8d09173358690)

[2017-03-29 04:37] lmmrssa commented on #533
@sarvanivadali  Not sure about the doc. But the issue is that if there is same username and password in both nation and community, then when trying to login will cause issue on nation as community member get synced to nation.
Reason is, first it checks login credentials and it is possible to get community credential. Then only it checks is the credential of that nation or community. As credential

[2017-03-29 13:55] #636 closed, assigned to razu9861

[2017-03-30 06:20] Rupesh87 opened #692 "Test UI view in course credit for leaner"

[2017-03-30 06:46] lmmrssa opened #693 "Untrack old unreviewed attempt"
Test which are not reviewed need to be removed once new test is taken.

[2017-03-30 09:36] Rupesh87 opened #694 "Update on UI of Course feature"

[2017-03-30 09:38] Rupesh87 commented on #694
[] Take test button fix.

[2017-03-30 09:39] dogi commented on #667
#671

[2017-03-30 09:39] #667 closed, assigned to lmmrssa

[2017-03-30 09:41] lmmrssa commented on #694
- [x] Remove 'Submit Credit' button from review
- [x] Add 'Back' button on Test edit
- [ ] Fix buttons on 'Test'. Change Next to 'Finish' and rename 'Exit' to 'Leave Test'
- [x] Update dialog message of Review and Test
- [x] Fix 'undefined' text in Progress graph

[2017-03-30 09:47] lmmrssa opened #695 "Automatically adding same resource"
Bug: When resource is added and then browser back is trigger it again adds same resource.

![](https://files.gitter.im/open-learning-exchange/developers/xbqH/96-5.png)

[2017-03-30 09:50] lmmrssa opened #696 "Publication Add button remains"
Even after publication is added, **'Add'** button still remains there.

![](https://files.gitter.im/open-learning-exchange/developers/OUDh/96-6.png)

[2017-03-30 09:56] lmmrssa opened #697 "Validation for marks"
Validation needs to be added for following conditions
- [ ] Check **Obtain Marks** does not exceed **Marks**
- [ ] Check Marks field only accepts number for all screens

![](https://files.gitter.im/open-learning-exchange/developers/SRi4/96-10.png)

[2017-03-30 09:57] lmmrssa opened #698 "Fix layout of VIP Link"
Positioning of button need to be fixed
- [x] Add space between **Copy** and **Delete**
- [x] Make VIP add input and button look cleaner

![](https://files.gitter.im/open-learning-exchange/developers/oqlx/96-12.png)

[2017-03-30 12:14] lmmrssa opened #699 "Admission mail not working"
When try to have admission with course having leader. Email is sent. Approving email does not sync steps

[2017-03-30 13:16] lmmrssa opened #701 "Remove the step create section"
Remove Add step button from the course and make it embedded form just like its on question. And remove the 'Add Resource' button on that form

[2017-03-30 15:19] lmmrssa opened #702 "Remove take test popup"
Remove test popup and change it to be contained within the accordion of step itself below taketest

[2017-03-31 00:57] sarvanivadali commented on #681
@waryhermit I thought @dogi wanted two separate issues created?

[2017-03-31 01:03] waryhermit commented on #681
@sarvanivadali I think your title confused me, that is all :)

[2017-03-31 05:56] lmmrssa commented on #702
Take test page is now integrated within course view

![taketest](https://cloud.githubusercontent.com/assets/2909490/24538115/ece9174e-1606-11e7-8351-cf4f72e78d5e.png)

[2017-03-31 06:30] lmmrssa commented on #701
**Add Step** is now implemented within **Course Manage**
![courseview](https://cloud.githubusercontent.com/assets/2909490/24538179/56da64e6-1607-11e7-8cd9-7a1438503f26.png)

**Step Detail** is same as before
![stepdetail](https://cloud.githubusercontent.com/assets/2909490/24538912/abcd3466-160b-11e7-8df8-82e48195bbbe.png)

If you click on **Edit Test** on detail page then it will take you to
![ste

[2017-03-31 09:50] Rupesh87 opened #708 "Course Review and Marking"
- [ ] Validation while reviewing, use slider for input marks
- [ ]  numeric input while creating question

[2017-03-31 09:59] lmmrssa opened #709 "Fix text without translation"
There are lot of places where direct text are used without translation, within MyApp and nation codebase. So those needs to be fixed.

[2017-03-31 10:01] #708 closed, assigned to Rupesh87

[2017-03-31 10:01] lmmrssa commented on #708
Duplication of #697

[2017-03-31 13:13] waryhermit opened #714 "[Testing] Add a unique identifier for drop down menus on #resource/add"
Right now each of the drop downs have no name or ID. If you could give the the divs that start with
[code]
an id or name that would help me write tests for the resource page. Actually I could even tell them apart by the text inside if they said "Select levels", "Select subjects" and "Select collections"

![image](https://cloud.githubusercontent.com/assets/5189447/24551855/3b1ae718-15f2-11e7-996a-f

[2017-03-31 17:35] waryhermit opened #715 "Feedback filters and search do not work"
`Apply Filter` does nothing no matter what is selected. Searching for the exact comment that is in a feedback gets the "No result found." message.

[2017-04-04 05:59] razu9861 commented on #696
![](https://cloud.githubusercontent.com/assets/24647983/24643092/49bb0ff0-192b-11e7-865a-809a74fa0b67.png)

[2017-04-04 06:00] Rupesh87 opened #721 "Test Setup ViewOnly"
view test button while will show questions as take test in step view detail

[2017-04-04 06:10] razu9861 opened #722 "Optional Take Test"

[2017-04-04 06:11] Rupesh87 opened #723 "Take Test Flow"
- [x] Change the button of take test to have 'Finish' instead of 'Next' for the last question.
- [x] Remove 'Finish' button at last screen that we currently have
- [x] Make the 'Finish' button newly created to treat same way as current 'Finish' button does

[2017-04-04 06:16] lmmrssa opened #724 "Fix take test"
- [ ] Change the button of take test to have 'Finish' instead of 'Next' for the last question.
- [ ] Remove 'Finish' button at last screen that we currently have
- [ ] Make the 'Finish' button newly created to treat same way as current 'Finish' button does

[2017-04-04 06:17] #724 closed, assigned to Rupesh87

[2017-04-04 06:17] lmmrssa commented on #724
duplicate of #723

[2017-04-05 20:21] paulbert commented on #607
@waryhermit @dogi Before I go too far on the wrong path, is the intent to incorporate this into the `resource/add` view within the BeLL-App?

There is a solution that I think would make that work, but it will only work for Firefox & Chrome and is non-standard.  I think it is the only solution that will currently allow a full directory upload via a browser, though, otherwise you would have to selec

[2017-04-05 22:08] waryhermit commented on #607
What if they zip it first maybe?

[2017-04-06 06:13] dogi commented on #629
@lmmrssa thanks - so far I think about a combination of option 1 and 2

[2017-04-06 06:19] dogi commented on #721
@Rupesh87 can you explain more about this issue? cause so far it is a little bit cryptic

[2017-04-06 06:21] dogi commented on #722
@razu9861 it would be awesome if you would drop more lines of explanation of this issue, cause so far I do not know what it is about ...

[2017-04-06 08:00] Rupesh87 commented on #721
![capturee](https://cloud.githubusercontent.com/assets/18145146/24743816/69533c48-1acf-11e7-92f9-37aeca4170ab.PNG)
it will show question list as take test for manager in step view detail

[2017-04-06 23:14] GeneralMeow commented on #649
Hi there,
I would like to work on this. It's my first attempt to contribute to an OSS project. Would you mind giving me a little more clarity on what is expected?

[2017-04-06 23:27] dogi commented on #649
hi @GeneralMeow

this is a very good question you are asking ;)
the normal answer would be fork our code, then improve it and last send us your pull request ...

since that for newbies is difficult we at OLE have a system how to successfully ramp on
`virtual interns` and `virtual volunteers` very fast:
- join our [chat](https://gitter.im/open-learning-exchange/chat) and say `hello` to the team
- a

[2017-04-07 16:24] paulbert commented on #607
Ok I found what looks like a decent solution for working with zipped files here: https://stuk.github.io/jszip/

The simple way to do this would be to unpack the zip when added and add all the files like a normal resource, but in the hangout @dogi mentioned this might not be the best solution because it would show a notification for each file when added to a RasPi (correct me if I misunderstood).

[2017-04-07 17:14] waryhermit commented on #607
@paulbert @dogi @leonardmensah  The notification problem could also be solved from the andriod app end.

[2017-04-10 10:46] dogi commented on #607
@paulbert thanks
@waryhermit good question
@leonardmensah do you think you can do that in the app?

[2017-04-11 05:18] razu9861 opened #733 "Send Publication window conjusted"

[2017-04-11 05:19] razu9861 commented on #733
https://files.gitter.im/open-learning-exchange/developers/l2PE/100-2.png

[2017-04-11 05:29] razu9861 commented on #733
![100-2](https://cloud.githubusercontent.com/assets/24647983/24894114/c6861328-1ea7-11e7-919a-36f1df01dafc.png)

[2017-04-11 07:04] razu9861 commented on #733
![screen shot 2017-04-11 at 12 44 06 pm](https://cloud.githubusercontent.com/assets/24647983/24896524/0dad2180-1eb5-11e7-9b83-81aa57867789.png)

[2017-04-11 07:06] razu9861 opened #735 "VIP hide delete button if not logged in"

[2017-04-11 09:45] dogi commented on #735
Keep in mind there are 3 different kinds of communities showing up in that view:
- registered community [no edit and delete button]
- aspiring community [if click on view button then no reject or accept button next view]
- old style community (needs still to update to the `center` way) [no delete button]

[2017-04-11 21:30] dogi opened #736 "Center: auto-accepting community feature"
as already once talked about and now slowly wished with our virtual interns in https://github.com/open-learning-exchange/open-learning-exchange.github.io/issues/647 we need a way to accept communities by nations automatically ...

[2017-04-11 21:40] dogi commented on #736
I wonder if we can enhance the document on nation db on centers
[code]
with something like
`"accept":"auto"`
...

This was just my first thought ... I am sure we can find something more adequate

[2017-04-13 12:34] lmmrssa opened #739 "Course add to publication without question fails"
Course add to publication without question fails

[2017-04-13 12:42] leomaxi commented on #739
![15](https://cloud.githubusercontent.com/assets/2836302/25005006/969c7cce-2046-11e7-99f1-dde518fe8f24.PNG)

[2017-04-17 08:03] dogi commented on #32
https://github.com/open-learning-exchange/BeLL-Apps/pull/744

[2017-04-17 08:03] #32 closed

[2017-04-17 08:04] dogi commented on #44
https://github.com/open-learning-exchange/take-home

[2017-04-17 08:04] #44 closed

[2017-04-17 08:07] #666 closed, assigned to nobody

[2017-04-17 08:08] #573 closed, assigned to lmmrssa

[2017-04-17 08:09] #362 closed, assigned to nobody

[2017-04-18 09:20] Rupesh87 opened #745 "Send publication showing up scroll bar"
In pop up window scroll bar showing  while sending publication

[2017-04-18 10:22] Rupesh87 opened #747 "Hide download button in answer review while skipping attachment test"

[2017-04-18 11:20] dogi commented on #735
![101-3](https://cloud.githubusercontent.com/assets/13684059/25128375/89735e0e-2407-11e7-899f-54e7ffb912a0.png)

@razu9861 as you can see something went wrong ;)

[2017-04-18 11:23] #698 closed, assigned to razu9861

[2017-04-18 11:23] #699 closed, assigned to lmmrssa

[2017-04-18 11:36] razu9861 commented on #735
@dogi which version is old community,

[2017-04-18 12:17] dogi commented on #735
both I mean nation and community are version 0.12.101 even in the picture is written 0.12.102

[2017-04-18 12:19] dogi commented on #735
the main error is that it shows it as it was an old community even as you can see in the top picture that is just a normal one ...

[2017-04-19 05:34] Pr0chin opened #748 "Hide Download Button in AnswerRewiew if user didn't uploaded"

[2017-04-19 05:37] #748 closed, assigned to nobody

[2017-04-19 11:23] razu9861 opened #750 "Remove LastAttempt text for empty question list"

[2017-04-20 00:12] GeneralMeow commented on #649
Is there a certain format that these variables should be in?

[2017-04-20 01:13] dogi commented on #649
Good question ;) except that the format has to be json there is no restriction

PS: @GeneralMeow please join our chat channel at https://gitter.im/open-learning-exchange/chat

[2017-04-20 05:00] #672 closed, assigned to nobody

[2017-04-20 06:42] Pr0chin opened #752 "Take Test: Skip Answer and don't save Skip Answer"
All the Question whose Answer are empty will not be saved at all.

[2017-04-20 06:43] Pr0chin opened #753 "Unreviewed Answer Pre-fill Test"
If member take 'Re-Test' and there is unreviewed attempt already then all answers previously given will be pre-populated.
This should make member easy to skip the Test without regiving the answer. This only happens for UnReviewed Test.

[2017-04-20 06:44] Rupesh87 opened #754 "Unreviewed answer prefill test"

[2017-04-20 06:45] Pr0chin opened #755 "Finish button always show and Test finish"
Add Finish button. clicking on which Test will be saved automatically, no need to reach till the end of the test.

[2017-04-20 06:47] Pr0chin opened #756 "Auto review and Answer review button only if all answer is given"
If all questions answer are not given. i.e. question is skipped then it will be marked as incomplete Test so it will not be eligible for Review until all question answers are given .

[2017-04-20 06:47] Pr0chin opened #757 "Remove answer button"
Add button on Test to clear the given answer

[2017-04-20 06:47] #754 closed, assigned to nobody

[2017-04-20 06:50] Pr0chin opened #758 "Take Test: Skip button not save if answer is empty"

[2017-04-20 06:53] #758 closed, assigned to Pr0chin

[2017-04-20 11:04] lmmrssa opened #761 "UnAccepted community should not request nation"
Community which are not approved from nation should not try to get data from nation.
Things should not be there.
* check for update
* sync with nation or option to sync
* receive publication or any resources

[2017-04-20 11:05] lmmrssa opened #762 "Progress Detail static error"
Badges detail page does not seem to be working properly.
It is showing /100  or  just % and also the total is not being calculated appropriately.

[2017-04-20 11:06] lmmrssa opened #763 "Able to skip rating"
When you Open the resource from course step, it popup screen to give the rating.
It is not possible to close that popup without giving rating.
There should be option to skip the rating.